<script>
import {popup} from "Gui/gui.js";
import {x_plural} from "Libraries/dh.js";
import {ra} from "Libraries/random.js";
$: ({window, text, max, default_value, options, animate, progress} = $popup);
const done = popup.done;

document.body.scrollTop = 0; // For Safari
document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera

$: value = (()=>{
	if(window === "splitter"){
		if(default_value) return default_value;
		return Math.ceil(max/2);
	}
	if(window === "prompt") return default_value;
})();


import {afterUpdate} from "svelte";
let timeout; 
afterUpdate(()=>{
	 clearTimeout(timeout);
	if(animate){
		progress = true;
		timeout = setTimeout(()=>{
			animate = "";
			progress = false;
		}, 3500);
	}
})

	
</script>


{#if window === "note"}
	{#if progress}
		<div id = "note"  class = "down">
			{@html text}
		</div>
	{/if}
{:else}
	
<div id = "curtain">
	{#if window === "alert"}
		<div id = "box">
			<div id = "content">
			{@html text}
			</div>
			<button on:click = {()=> done(true)}>
				Fine!
			</button>
		</div>
	{:else if window === "confirm"}
		<div id = "box">
			<div id = "content">
			{@html text}
			</div>
			<div id = "button_row">
				<button  on:click = {()=> done(true)}>
					✔️ Okay.
				</button>
				<button on:click = {()=> done(false)}>
					No!
				</button>
			</div>
		</div>
	{:else if window === "prompt"}
		<div id = "box">
			<div id = "content" style = "padding: 0">
				 {@html text}
				 
				<input 
					id = textfield
					type = text
					bind:value
					on:keydown|stopPropagation
				>
			</div>
			<div id = "button_row">
				<button  on:click = {()=> done(value)}>
					✔️&nbsp;Okay.
				</button>
				{#if options}
					<button  on:click = {()=> value = ra.array(options)}>
						Random.
					</button>
				{/if}
				<button on:click = {()=> done(default_value)}>
					Cancel.
				</button>
			</div>
		</div>
		
		
	{:else if window === "options"}
		<div id = "box">
			<div id = "button_column">
				{#each options as item}
					<button  on:click = {()=>{ 
						done();
						item.fce(); //TODO - THIS ORDER IS IMPORTANT
					}}>
						{item.text}
					</button>
				{/each}
			</div>
		</div>

	{:else if window === "splitter"}
		<div id = "box">
			<div id = "content" style = "padding: 0">
				 {@html x_plural(value, text)}
				 
				<input 
					id = range
					type = range
					bind:value
					{max}
					min = 0
				>
			</div>
			
			
			<div id = "button_row">
				<button  on:click = {()=> done(value)}>
					✔️&nbsp;Okay.
				</button>
				<button  on:click = {()=> done(max)}>
					Everything.
				</button>
				<button on:click = {()=> done(0)}>
					Cancel.
				</button>
			</div>
		</div>
	{/if}
</div>

{/if}

<style>
/*
https://css-tricks.com/pop-from-top-notification/
*/


@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-8ch); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-8ch); }
    10%, 90% { -moz-transform: translateY(0px); }
}


.down{
	
	 -webkit-transform: translateY(-8ch);
    -webkit-animation: slideDown 2.5s 0.5s 1 ease forwards;
    -moz-transform:    translateY(-8ch);
    -moz-animation:    slideDown 2.5s 0.5s 1 ease forwards;
	
		/* from tooltip */
	-webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.9); 
	box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.9);
	
}


#note{
	display: block;
	position: fixed;
	top: 0;
    right: 10%;
	
	/*
	min-width: 20ch;
	min-height: 2em;
	*/
	padding: 2ch;

	color: black;
	background-color: white;
	
	/* border-radius: 1ch; */
	
	 z-index: 8;
    text-align: center;
    opacity: 0.9;
	

	border-radius: 0.5ch;
	
}


#range{
	width: 100%;
	padding: 2em 0em 2em 0em;
	display: block;
}

#textfield{
	width: 20ch;
	padding: 0;
	margin: 2em auto;
	display: block;
}

#button_row{
	display: flex;
	flex-direction: row;
}

#button_column{
	display: flex;
	flex-direction: column;
}

button{
	text-align: center;
	padding-left: 1ch; /* supressing default option button */
}
button:hover{
	left: 0;  /* supressing default option button */
}

#content{
	text-align: center;
	padding-top: 1em;
	padding-bottom: 2em;
	font-weight: bold;
}

#curtain{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	rigt: 0;
	height: 100%;
	width: 100%;
	z-index: 7;
	
	background-color: hsla(0, 0%, 0%, 0.6);
	
	display: flex;
	justify-content: center;
	align-items: center;
}

#box{
	position: relative;
	top: -10%;
	z-index: 8;
	
	min-width: 20ch;
	min-height: 2em;
	padding: 2em;

	color: black;
	background-color: white;
	
	border-radius: 1ch;
	
	/* from tooltip */
	-webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.9); 
	box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.9);
}
</style>