<script>
import Button from './Action_button.svelte';
import {pawns, status, execute} from "./combat/combat";

import {ATTRIBUTES} from "Virtual/attributes";

$: pawn = $pawns[$status.pawn_index];
$: pass = ATTRIBUTES.flag("pass", pawn);
$: enemy = !pawn.ally && window.SETTING.combat_ai;
$: actions = pawn.actions;
</script>


<div id = "actions">
	{#if enemy}
		<span>Action of <b>{pawn.name}</b></span>
	{:else}
		{#if !pass}
			{#each actions as action, index}
				<Button action = {action} index = {index} />
			{/each}
		{/if}
		
		<button 
			class = "buttline action_button"
			on:click = {execute}
		>
			Pass.
		</button>
	{/if}
	
</div>


<style>
#actions{
	display: grid;
	grid-template-columns: 27ch 27ch 27ch;
}

</style>