<script>
import {tiles, pawns, status} from "./combat/combat";

export let action;
export let index;

//this action could be used
$: allowed = (()=>{
	const pawn = $pawns[$status.pawn_index];
	let allowed = true;
	if(action.price){
		if(pawn.dyno.eng + action.price.eng < 0) allowed = false;
	};
	if( action.condit && !action.condit(pawn)  ) allowed = false
	return allowed;
	
})();

//this action is currently chosen
$: chosen = index === $status.action_index;

function select(){
	if(!allowed) return;
	if(chosen){
		status.action(null); //already chosen - cancel selection
	}else{
		status.action(index);
	}
}

//attaches on hover tooltip
import {afterUpdate} from 'svelte';
import {tooltip} from 'Gui/gui.js';
let divy;
afterUpdate(() => {
	tooltip(divy, action.desc);
});

</script>


<button 
	bind:this = {divy} 
	class = "buttline action_button {chosen ? "chosen" : ""} {allowed ? "" : "dead"}"
	on:click = {select}
>
	{action.name}
</button>

<style>
.chosen{
	border: 2px solid red;
}
</style>