<script>
import {tiles} from "./combat/combat";
import Combatant from './Combatant.svelte';

</script>


<div class = "zone">
	{#each $tiles as column, x}
		<div class = "zone_column">
			{#each column as cell,y}
				<Combatant tile = {cell} x = {x} y = {y}/>
			{/each}
		</div>
	{/each}
</div>


<style>
.zone_column{
	display: flex;
	flex-direction: column-reverse;
	margin: 10px;
}

.zone{
	display: flex;
	flex-direction: row;
}
</style>