<script>
console.warn("COMBA");

import {rg} from "Libraries/random";
import {beforeUpdate, afterUpdate, onMount} from 'svelte';
import { writable, derived, get } from 'svelte/store';

rg.i(Math.random());

import {tiles, pawns, status, end} from "./combat/combat";
import {shake_down} from "./combat/movement";

import Combat_zone from './Combat_zone.svelte';
import Actions from './Actions.svelte';
import Order from './Order.svelte';
import Log from './Log.svelte';

function shake(){
	shake_down();
	//<button on:click = {shake}>SHAKE</button>
}

function log(){
	console.log($pawns);
	console.log($status);
	console.log($tiles);		
}

</script>



<div id = "com_main">
	<div id = "com_left">
		<div id = "com_order">
			<Order/>
		</div>
		<div id = "com_log">
			<Log/>
		</div>
	</div>
	
	<div id = "com_right">
		<div id = "com_zone">
			<Combat_zone/>
		</div>
		<div id = "com_actions">
			<Actions/>
		</div>
		<button on:click = {end}>###Win the fight</button> 
		<button on:click = {log}>####Log</button> 
	</div>
</div>




<style>

#com_main{
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*background: red;*/
	background-color: var(--bgr3); 	
	background-image: var(--grad3);
	width: 100%;
	/*height: 600;*/
}
#com_left{
	display: flex;
	flex-direction: column;
	background-color: var(--bgr2); 	
	background-image: var(--grad2);
	min-width: 20ch;
	max-width: 40ch;
}

#com_order{
	background-color: var(--bgr); 	
	background-image: var(--grad);
	padding: 1ch;
	margin: 2ch;
}

#com_log{
	background-color: var(--bgr); 	
	background-image: var(--grad);
	padding: 1ch;
	margin: 2ch;
}

#com_actions{
	background-color: var(--bgr); 	
	background-image: var(--grad);
	padding: 1ch;
	margin: 2ch;
	margin-bottom: 7em;
}

#com_zone{
	background-color: var(--bgr); 	
	background-image: var(--grad);
	padding: 1ch;
	margin: 2ch;
}

#com_right{
	display: flex;
	flex-direction: column;
	background-color: var(--bgr3); 	
	background-image: var(--grad3);
	padding-left: 3em;
	padding-right: 3em;
	min-width: 40ch;
}
</style>