<script>
	import {onMount} from 'svelte';
	import {constants} from "Data/constants"
	
	//width
	const max_bar_width = constants.combat.combatant_size; //px TODO - should not be hardcoded
	export let value = 0;
	export let max = 10;
	
	$: fraction = max_bar_width / max;
	$: desired_width = Math.round(value * fraction);
	
	$: actual_width = 0;
	$: if(actual_width != desired_width) setTimeout(update, 5);
	
		
	onMount(() => {
		actual_width = desired_width;
	});
	
	function update(){
		if(actual_width < desired_width){
			actual_width = actual_width + fraction/10;
			if(actual_width > desired_width){
				actual_width = desired_width;
			}
		}else if(actual_width > desired_width){
			actual_width = actual_width - fraction/10;
			if(actual_width < desired_width){
				actual_width = desired_width;
			}
		}
	}
	
	
	//color
	export let color = 25;
	$: background =  `linear-gradient(hsla(${color}, 100%, 75%, 1), hsla(${color}, 100%, 50%, 1), hsla(${color}, 100%, 25%, 1) )`;

</script>



<div
	class = "bar"
	style = "
		width: {actual_width};
		background-image: {background};
	"
/>


<style>
.bar{
	/*width: 400px;*/
	/*height: 100%;*/
	height: 1rem;
	background: navy;
}
</style>