<script>
import Bar from './Combatant_bar.svelte';
import {constants} from "Data/constants";

import {status} from "./combat/combat";
import {mark, execute} from "./combat/combat";
export let tile;
export let x;
export let y;
$: pawn = tile.pawn;
$: highlight = tile.highlight;
$: disabled = $status.executing || $status.ai_action;
//$: fighter = tile.fighter;


	
import {EFFECTS} from "Virtual/effects";
import {stock_effects} from "Data/virtual/stock_effects";
import {ATTRIBUTES} from "Virtual/attributes";
import {capitalise} from "Libraries/dh";
$: icons = (()=>{
	
	const array = [];

	if(pawn?.evasive_actions > 0){
		array.push({
				id: "evasion",
				text: "🏃",
				alt: `🏃 Ready to evade the next attack (${pawn.att.evasion}%)`,
				//alt: `${pawn.att.evasion}% chance to evade the next attack`,
				div: undefined,
		})
	}
	
	if(pawn?.effects){
		Object.keys(stock_effects).filter( id => stock_effects[id].icon ).forEach( id => {
			
//console.log(id);
			if( EFFECTS.check(id, pawn) ){
				array.push({
					id,
					ticks:  EFFECTS.check(id, pawn).ticks,
					text: stock_effects[id].icon,
					alt: `${stock_effects[id].icon} ${capitalise(stock_effects[id].name)}`,
					//div: undefined,
				})
			}
		});
	}
	
	return array;
	
})();



//console.warn(x,y, highlight);
function fce(){
	if(disabled) return;
	mark({x,y}); //redundancy & assumption onmouseenter will cause issues on touch devices 
	execute();
};


function enter(){
	if(disabled) return;
	mark({x,y});
};

function leave(){
	if(disabled) return;
	mark(null);
};


//attaches on hover tooltip
import {afterUpdate} from 'svelte';
import {tooltip} from 'Gui/gui.js';
let divy;
afterUpdate(() => {
	let alt = ``;
	if(pawn === null) return;
	if(pawn.name) alt += `<b>${pawn.name}</b><br>`;
	//if(pawn?.evasive_actions > 0) alt += "<i>*able to evade</>";
	if(pawn.att?.hp) alt += `HP: ${pawn.dyno.hp}/${pawn.att.hp}<br>`;
	if(pawn.att?.eng) alt += `ENG: ${pawn.dyno.eng}/${pawn.att.eng}<br>`;
	if(pawn.att?.armor) alt += `Armor: ${pawn.att.armor}%<br>`;
	if(pawn.ally) alt += `Presence: ${pawn.att.presence}%<br>`;
	
	alt += icons.reduce( (alt,icon) => {
		const ticks = (()=>{
			if(icon.ticks === 1) return ` (last round)`;
			if(icon.ticks  > 0) return ` (${icon.ticks}  rounds)`;
			return "";	
		})();
		return `${alt}<i>${icon.alt}${ticks}</i></br>`;
	}, "");
	
	if(alt) tooltip(divy, alt, !fce);
	
	//icons.forEach( icon => tooltip(icon.div, icon.alt) );
});


$: css = (()=>{
	let css = "tile ";
	
	if(pawn === null){
		css = "empty";
	}else if(pawn.typ === "enemy"){
		if(tile.active) css += " enemy_active";
	}else if(pawn.typ === "ally"){
		if(tile.active) css += " ally_active";
	}else if(pawn.typ === "spacer"){
		css = "spacer ";
	}else{ //obstacle
		css = "empty";
	}
	
	if(tile.marked){
		if($status.executing){
			css += " attacked";
		}else{
			css += " marked";
		}
	}
	
	return css;
})();

/*
	<!--
{#if pawn === null}
	
{:else if pawn.typ === "spacer"}
	<div class = "spacer {highlight}" on:mouseenter = {mouseenter} bind:this = {divy}/>
{:else if pawn.typ === "enemy" || pawn.typ === "ally"}	
	<div class = "tile {highlight}"  on:click = {fce} on:mouseenter = {mouseenter} bind:this = {divy} >
		{pawn.name}
	</div>
{:else}
	<div class = "tile {highlight}" on:click = {fce} on:mouseenter = {mouseenter} bind:this = {divy}>
		EMPTY
	</div>
{/if}
		-->	
		*/

/*

<div class = "icons">
				{#each icons as icon}
					<div class = "icon">
						{icon.text}
					</div>
				{/each}
			</div>
			
			*/
			
			



</script>



<div 
	id = {`combatant_${x}_${y}`}
	class = {css}  
	style = "width: {constants.combat.combatant_size}"
	on:click = {fce} 
	on:mouseenter = {enter} 
	on:mouseleave = {leave} 
>
	{#if pawn && (pawn.typ === "enemy" || pawn.typ === "ally") }
		<div bind:this = {divy} class = "name">
			{pawn.name}
		</div>
		
		{#if pawn.att.hp}
			<Bar
				text = "Health"
				bind:value = {pawn.dyno.hp}
				bind:max = {pawn.att.hp}
				color = 0		
			/>
		{/if}
		
		{#if pawn.att.eng}
			<Bar
				text = "Energy"
				bind:value = {pawn.dyno.eng}
				bind:max = {pawn.att.eng}
				color = 100		
			/>
		{/if}
		
		<div class = "icons">
			{#each icons as icon}
				<div class = "icon">
					{icon.text}
				</div>
			{/each}
		</div>
		
	{/if}
</div>
	
			
						

<style>
.enemy_active{
	/*background: blue;*/
	/*
	-webkit-box-shadow: 0px 0px 18px 8px #FFFFFF; 
	box-shadow: 0px 0px 18px 8px #FFFFFF;
	*/
	-webkit-box-shadow: 0px 0px 18px 8px yellow;
	box-shadow: 0px 0px 18px 8px yellow;
}

.ally_active{
	/*background: blue;*/
	/*
	-webkit-box-shadow: 0px 0px 18px 8px #FFFFFF; 
	box-shadow: 0px 0px 18px 8px #FFFFFF;
	*/
	-webkit-box-shadow: 0px 0px 18px 8px lime;
	box-shadow: 0px 0px 18px 8px lime;
}

.marked{
	cursor: pointer;
	/*background: blue;*/

	-webkit-box-shadow: 0px 0px 18px 8px cyan;
	box-shadow: 0px 0px 18px 8px cyan;
}

.attacked{
	cursor: wait;
	/*background: blue;*/
	
	-webkit-box-shadow: 0px 0px 18px 8px red; 
	box-shadow: 0px 0px 18px 8px red;
}

.spacer{
	/*background: white;*/
	visibility: hidden;
	height: 50;
	margin: 5px;
	background: yellow;
}


.name{
	font-weight: bold;
	font-size: 130%;
	padding-top: 1ch;
	cursor: help;
	/*padding-bottom: 2ch;*/
}

.empty{
/*	display: none;*/
	/*height: 100%;
	width: 100%;*/
	/*background: red;*/
	
}

.tile{
	background: white;
	padding: 1ch;
	height: 100;
	margin: 5px;
	display: flex;
	flex-direction: column;
}


.icons{
	font-size: 120%;
	display: flex;
	flex-direction: row;
}

</style>