<script>
import Item from './Log_item.svelte';
import {log} from "./combat/combat";
$: logs = $log;
</script>

<div id = "log">
	{#each [...logs].reverse() as item, index}
		<Item item = {item} />
	{/each}
</div>

<style>
#log{
	display: flex;
	flex-direction: column;
	max-height: 60vh; /*TODO!!!!!*/
	overflow-x: auto;
}
</style>
