<script>
export let item;
//export let index;
//import {tiles, pawns, status} from "./combat/combat";

//attaches on hover tooltip
import {afterUpdate} from 'svelte';
import {tooltip} from 'Gui/gui.js';
let divy;
afterUpdate(() => {
	if(item.alt) tooltip(divy, item.alt);
});

</script>

<div bind:this = {divy}>
	{@html item.text}
</div>



<style>
div{
	/*
	font-weight: bold;
	cursor: help;
	*/
}
</style>