<script>
import Item from './Order_item.svelte';
import {status} from "./combat/combat";
$: order = $status.order;
</script>

<div id = "order">
	{#each order as item, index}
		<Item item = {item} index = {index} />
	{/each}
</div>

<style>
#order{
	display: flex;
	flex-direction: column;
}
</style>