<script>
export let item;
export let index;
import {attributes} from "Data/virtual/attributes"
import {tiles, pawns, status} from "./combat/combat";
$: name = $pawns[item.index]?.name || "error";
$: css = index === $status.order_index ? "active" : "inactive";

//attaches on hover tooltip
import {constants} from "Data/constants";
import {capitalise} from "Libraries/dh";
import {afterUpdate} from 'svelte';
import {tooltip} from 'Gui/gui.js';
let divy;
afterUpdate(() => {
	tooltip(divy, `
		${capitalise( attributes.reflex.name )}: ${Math.round(item.reflex)}<br>
		Calculated initiative: <strong>${Math.round(item.value)}</strong>
	`);
});

</script>

<div 
	bind:this = {divy}
	class = "{css}"
>
	{index+1}. {name}
</div>



<style>
div{
	font-weight: bold;
	cursor: help;
}
.active{
	border: 2px solid red;
}
.inactive{
	/* */
}
</style>