<script>
	import {DISPLAY} from "Gui/gui.js";
	import Link from 'Gui/buttons/Link.svelte';
	
	import {accounts, unpack, compress} from "System/bank_account.js";
	import {preprocess} from "Loop/preprocess_text";
	
	import {quickback} from "./quickback.js"; //TODO???
	quickback("character"); 
	
	compress();
	const items = window.ext.stats.payments.map( a => unpack(a) ).reverse();



</script>

<h3>
Account balance: {ext.irl_money.toFixed(2)} €
</h3>

<div id = "payments">
	{#each items as item}
		<div class = "date">
			{item.date}
		</div>
		<div class = "account">
			<span class = "icon">{item.icon} </span>
			{@html preprocess(item.name)}
		</div>
		<div class = {item.money > 0 ? "green" : "red"}>
			{item.money.toFixed(2)} €
		</div>
	{/each}
</div>

<Link text = "Back" fce = {DISPLAY.text}/>


<style>
#payments{
	display: grid;
	grid-template-columns: 5ch 20ch 8ch;
	grid-column-gap: 1ch;
	grid-row-gap: 0.5ch;
	padding: 2ch;
	font-weight: bold;
}
.green{
	color: green;
	text-align: right;
}
.red{
	color: red;
	text-align: right;
}
.icon{
	font-weight: normal;
}
</style>
 

