<script>
	import {DISPLAY} from "Gui/gui.js";
	import Link from 'Gui/buttons/Link.svelte';
	import Link_small from 'Gui/buttons/Link_small.svelte';
	import {NAME} from "System/variables";
	
	import {draw, saveOriginalAvatarMods, onlyChangedMods, updateOriginalMods, returnOriginalAvatar, updateDraw} from "Avatar/index";
	import {set, update_variables} from "Loop/engine";
	
	import {quickback} from "./quickback.js";$: ex = $DISPLAY.ext;
	quickback("character"); //needlesly complicated, basicall pressing the same key ([c]) will instantly go back
	
	const default_grades = [3,4,3,2][ext.background] + (mile.smart * -1); 
	//ext.background: 0 undefined; 1 party girl; 2 athlete; 3 chairman 
	//mile.smart: -1 resorceful; 0 determined; 1 smart
	
	$: mi = $DISPLAY.mile;
	
	
	$: slut_desc = (()=>{ switch(ex.slut){
		case 0:
			return `I try to act cool but I am a bit bashful and not very sexually experienced. `;
		case 1:
			return `I enjoy flirting with boys but I am not a slut. `;
		case 2:
			return `I love sex and might be a bit of slut. `;	
		case 3:
			return `I am a big slut who loves sleeping around. `;
		case 4:
			return `I am a huge slut who has no shame and loves kinky sexual experimenting. `;
		case 5:
			return `I am a needy nympho who lives only to get fucked. `;
		
		/*
		case 2:
			return `I love sex and enjoy behaving slutty. `;
		case 3:
			return `I am definitely a shameless slut who loves to sleep around. `;
		case 4:
			return `I am a total nympho with no shame who lives only to get fucked!!!`;
		*/
	}})();
	
	$: sub_desc = (()=>{ switch(ex.sub){
		case 0:
			return `I am a despotic bossy bitch and I do not let anybody get away with disrespecting me. `;
		case 1:
			return `I am dominant and people better should do what I tell them. `;	 // prefer when
		case 2:
			return `I am a confident and independent girl. `;
		case 3:
			return `Sometimes it feels good to not be in charge and just follow. `;
		case 4:
			return `I am submissive and tend to do what I am told. `;
		case 5:
			return `I am a pathetic sub who deserves to be degraded and humiliated. `;	
	}})();
	
	$: stat_desc = (()=>{ switch(ex.stat){
		case 0:
			return `My long-build reputation is completely ruined. Even nerds and ugly girls now mock and ridicule me. `;
		case 1:
			return `Nobody takes me seriously anymore. I am slowly becoming a social outcast.  `;	
		case 2:
			return `There are too many gossips about my recent look and behavior. The envious mob enjoys joking about me and seeing my fall. `;
		case 3:
			return `I am still one of the coolest girls but I feel the tasks and dealing with the nerds slightly hurt my reputation. `;
		case 4:
			return `I am one of the most popular girls in the school. `;
		case 5:
			return `I am the most popular and admired girl in the school, respected even by teachers. `;	
		case 6:
			return `I am the undisputed queen of the school. `;
	}})();
	
	
	$: stat_grades = `${(()=>{ 
		switch(mi.grades){
			case 1:
				return `<b>1</b>; My grades are <i>excellent</i>.`;
			case 2:
				return `<b>1-</b>; My grades are almost <i>excellent</i>. `;
			case 3:
			case 4:
				return `<b>2</b>; My grades are <i>very good</i>. `;
			case 5:
				return `<b>2-</b>; My grades are almost <i>very good</i>. `;
			case 6:
				return `<b>3</b>; My grades are <i>good</i>. `;
			case 7:
				return `<b>3-</b>; My grades are barely <i>good</i>. `;
			case 8:
				return `<b>4</b>; My grades are almost <i>sufficient</i>. `;
			case 9:
				return `<b>4-</b>; My grades are barely <i>sufficient</i>. `;
			default:
				if(mi.grades <= 0){
					return `<b>1<big>*</big></b>; My grades are flawlessly <i>excellent</i>. `;
				}else{
					return `<b>5</b>; My grades are <i>insufficient</i>. I am failing. `;
				}

/*
			case 1:
				return `<b>1</b>; My grades are <i>exellent</i>.`;
			case 2:
				return `<b>1-</b>; My grades are almost <i>excellent</i>. `;
			case 3:
			case 4:
				return `<b>2</b>; My grades are <i>very good</i>. `;
			case 5:
				return `<b>2-</b>; My grades are almost <i>very good</i>. `;
			case 6:
				return `<b>3</b>; My grades are <i>good</i>. `;
			case 7:
				return `<b>3-</b>; My grades are barely <i>good</i>. `;
			case 8:
				return `<b>4</b>; My grades are almost <i>sufficient</i>. `;
			case 9:
				return `<b>4-</b>; My grades are barely <i>sufficient</i>. `;
			default:
				if(mi.grades <= 0){
					return `<b>1<big>*</big></b>; My grades are flawlessly <i>excellent</i>. `;
				}else{
					return `<b>5</b>; My grades are <i>insufficient</i>. I am failing. `;
				}
*/
		}
	})()} ${(()=>{ 
	
//TODO - COMPLETELY REWRITE NOW WHEN default_grades WAS INTRODUCED
		if(mi.smart >= 1){
			//good
			if(mi.grades <= 3){
				return `I am not just a pretty face, I am doing awesome at the school! `;
			//bad
			}else if(mi.grades >= 8){
				return `Those nerds are ruining my life! I used to be among the best students but because of their shenanigans my grades are abysmal! `;
			//worse
			}else{ 
				return `I am pretty smart and used to be among the best students but since the blackmail started I am not able to focus on studying and my grades suffer! `;
			}
		}
		
		if(mi.smart === 0){
			//better
			if(mi.grades < default_grades){
				return `I used to be an average student but the nerd's constant questioning of my intelligence motivates me to study harder.`;
			//same but good
			}else if(mi.grades <= 3){
				return `I am doing fine at school. `;
			//same
			}else if(mi.grades < 6){
				return `I am a pretty average student. `;
			//bad
			}else if(mi.grades >= 8){
				return `I was not a perfect student but because those stupid nerds and no time for studying, my grades are abysmal. `;
			//worse
			}else{ 
				return `I used to be an average student but since the blackmail started, I am not able to focus on studying and my grades suffer. `;
			}
		}
		
		if(mi.smart < 0){
			//better
			if(mi.grades < default_grades){
				return `The nerds refuse to help me anymore so I have to study extra hard to show them. And my grades actually improved! `;
			//same
			}else if(mi.grades < 6){
				return `I do not have to study very hard, I am able to charm teachers and nerds are eager to help me with homework. `;
			//bad
			}else if(mi.grades >= 8){
				return `Without the help from the nerds and no time for studying because of their stupid shenanigans, my grades are abysmal.  `;
			//worse
			}else{ 
				return `The nerds refuse to help me anymore and my grades seriously suffered. `;
			}
		}
		
		return ``;
	})()}`;
	
	
	function alter(what, value){
		mile[what] += value;
		update_variables()
		DISPLAY.check();
	}	
	
	
</script>

 
 
<div class = "column">

	<h1>{NAME.kat}</h1>
	
	<ul>
		<li>I am {NAME.katalt} {NAME.katsur}, 18-years old high school student
		<li>I am very beautiful and {[`resourceful`, `determined`, `intelligent`][mi.smart + 1]} young woman
		<li>{sub_desc}
		<li>{slut_desc}
		<li>{stat_desc}
		<li>{@html stat_grades}
	</ul>

<!--
	{#if window.hardbug}
		<div class = "click" on:click={ ()=> alter("sub",2) }>
			+ 2 submisiveness
		</div>
		
		<div class = "click" on:click={ ()=> alter("sub",-2) }>
			- 2 submisiveness
		</div>
	{/if}
	
	
	{#if window.hardbug}
		<div class = "click" on:click={ ()=> alter("slut",2) }>
			+ 2 sluttiness
		</div>
		
		<div class = "click" on:click={ ()=> alter("slut",-2) }>
			- 2 sluttiness
		</div>
	{/if}
	
	
	{#if window.hardbug}
		Status: {mi.stat}
		<div class = "click" on:click={ ()=> alter("stat",2) }>
			+ 2 status
		</div>
		
		<div class = "click" on:click={ ()=> alter("stat",-2) }>
			- 2 status
		</div>
	{/if}
	
	
	{#if window.hardbug}
		Grades: {mi.grades}
		<div class = "click" on:click={ ()=> alter("grades",1) }>
			+ 1 grades
		</div>
		
		<div class = "click" on:click={ ()=> alter("grades",-1) }>
			- 1 grades
		</div>
	{/if}


-->
{#if window.softbug}

	<h3>
		Sluttiness {window.softbug ? `#${mi.slut}` : ``}
	</h3>

	<p>
		{slut_desc}
	</p>
	
	{#if window.hardbug}
		<div class = "click" on:click={ ()=> alter("slut",2) }>
			+ 2 sluttiness
		</div>
		
		<div class = "click" on:click={ ()=> alter("slut",-2) }>
			- 2 sluttiness
		</div>
	{/if}
	
	
	
	
	<h3>
		Submisiveness {window.softbug ? `#${mi.sub}` : ``}
	</h3>

	<p>
		{sub_desc}
	</p>

	{#if window.hardbug}
		<div class = "click" on:click={ ()=> alter("sub",2) }>
			+ 2 submisiveness
		</div>
		
		<div class = "click" on:click={ ()=> alter("sub",-2) }>
			- 2 submisiveness
		</div>
	{/if}
	
	
	
	
	
	<h3>
		Status {window.softbug ? `#${mi.stat}` : ``}
	</h3>

	<p>
		{stat_desc}
	</p>


	{#if window.hardbug}
		<div class = "click" on:click={ ()=> alter("stat",2) }>
			+ 2 status
		</div>
		
		<div class = "click" on:click={ ()=> alter("stat",-2) }>
			- 2 status
		</div>
	{/if}
	
	
	
	
	<h3>
		Grades {window.softbug ? `#${mi.grades}` : ``}
	</h3>

	<p>
		{@html stat_grades}
	</p>


	{#if window.hardbug}
		<div class = "click" on:click={ ()=> alter("grades",1) }>
			+ 1 grades
		</div>
		
		<div class = "click" on:click={ ()=> alter("grades",-1) }>
			- 1 grades
		</div>
	{/if}
{/if}

</div>


<Link text = "Back" fce = {DISPLAY.text}/>
<!--
	<Link text = "Account" fce = {()=>DISPLAY.subtext("account")}/>
-->

{#if window.hardbug}
<!--
	<Link_small text = "##Edit (TODO - only current reality)" fce = {()=> DISPLAY.edit_avatar(window.PC)}/>
-->

	<Link_small text = "##Edit" fce = {
		()=> {
			DISPLAY.edit_avatar( Object.assign(returnOriginalAvatar("kat"), {bra: window.PC.bra}, {panties: window.PC.panties}), "basic", subject =>{
					//window.ext.user = onlyChangedMods(subject); 
					saveOriginalAvatarMods(subject);
					updateOriginalMods(window.PC, {Mods: window.ext[set.key]});
					updateDraw();
			}) 
		}
	}/>

	<Link_small text = "##Makeup" fce = {()=> DISPLAY.edit_avatar(window.PC,"makeup")}/>
{/if}
	
	







 

<style>
.click{
	display: block;
}
.column{
	padding-left: 2ch;
	padding-bottom: 2ch;
}
 </style>