<script>
	import {NAME} from "System/variables";
	import {percent, capitalise} from "Libraries/dh";
	import {attributes} from "Data/virtual/attributes";
	import {perks} from "Data/virtual/perks.js";
	import {skills} from "Data/virtual/skills.js";
	import {ATTRIBUTES} from "Virtual/attributes";
	import Add from './Character_item.svelte';
	export let general = [];
	export let subject = window.PC;

	//TITLE
	const title = NAME[subject.key];
	
	//DYNAMIC ATTRIBUTES
	const dyno_keys = Object.keys(attributes).filter( key => attributes[key].dyno );
	dyno_keys.forEach( key => general.push({
		title: capitalise(attributes[key].name),
		value: `${Math.round(subject.dyno[key])}/${subject.att[key]}`,
		alt: attributes[key].alt,
	}));
	
	
	//PRIMARY ATTRIBUTES
	const primary = [];
	const primary_keys = Object.keys(attributes).filter( key => attributes[key].character_screen === "primary" );
	for(const key of primary_keys){
		primary.push({
			title: capitalise(attributes[key].name),
			value: `${subject.att[key]}${attributes[key].percent ? "%" : ""}`,
			alt: ATTRIBUTES.desc(key, subject, attributes[key].alt),
		})
	}
	
	
	//SECONDARY ATTRIBUTES
	const secondary = [];
	//TODO - magic secondary??
	const secondary_keys = Object.keys(attributes).filter( key => attributes[key].character_screen === "secondary" || attributes[key].character_screen === "magic"  ); 
	for(const key of secondary_keys){
		secondary.push({
			title: capitalise(attributes[key].name),
			value: `${subject.att[key]}${attributes[key].percent ? "%" : ""}`,
			alt: ATTRIBUTES.desc(key, subject, attributes[key].alt),
		})
	}
	
	
	//EVERYTHING (DEBUG)
	const everything = [];
	for(const key of Object.keys(attributes) ){
		everything.push({
			title: capitalise(attributes[key].name),
			value: `${subject.att[key]}${attributes[key].percent ? "%" : ""}`,
			alt: ATTRIBUTES.desc(key, subject, attributes[key].alt),
		})
	}
	
	
	//EFFECTS
	const effects = [];
	for(const effect of subject.effects){
		effects.push({
			title: undefined,
			value: `${capitalise(effect.name)} (${effect.ticks})`,
			alt: ATTRIBUTES.skill_desc(effect),
		})
	}
	
	//PERKS
	const perky = [];
	for(const key of subject.perks){
		perky.push({
			title: undefined,
			value: capitalise(perks[key].name),
			alt: ATTRIBUTES.skill_desc(perks[key]),
		})
	}
	
	
	
	//SKILLS
	const skilly = [];
	for(const key of subject.skills){
		skilly.push({
			title: undefined,
			value: capitalise(skills[key].name),
			alt: ATTRIBUTES.action_desc(skills[key], subject),
		})
	}
	
</script>
	
<div class = "column">
	<h1>{title}</h1>
	
	<div class = "stats">
		{#each general as a}
			<Add {...a}/>
		{/each}
	</div>	
	
	<div/>

	
	<h3>Major Attributes</h3>
	
	<h3>Minor Attributes</h3>
	
	<div class = "stats">
		{#each primary as a}
			<Add {...a}/>
		{/each}
	</div>	

	<div class = "stats">
		{#each secondary as a}
			<Add {...a}/>
		{/each}
	</div>	
	
	<h3>Perks</h3>
	
	<h3>Effects</h3>
		
	<div class = "stats">
		{#each perky as a}
			<Add {...a}/>
		{/each}
	</div>
	
	
	<div class = "stats">
		{#each effects as a}
			<Add {...a}/>
		{/each}
	</div>


	
	<h3>Skills</h3>
	
	<h3><!-- intentionaly left empty - grid, etc. --></h3>
	
	<div class = "stats">
		{#each skilly as a}
			<Add {...a}/>
		{/each}
	</div>
	
	<div/>
	
	<br>
	
</div>	

<!--
{#if window.debug}
	<h3>#All attributes</h3>
	<div class = "stats">
		{#each everything as a}
			<Add {...a}/>
		{/each}
	</div>
{/if}
-->
	
	
<style>
.stats{
	display: grid;
	grid-template-columns: 20ch 4ch;
/*	justify-items: start;*/
}


.column{
	display: grid;
	grid-template-columns: auto auto;
	grid-row-gap: 0.2em;
    grid-column-gap: 4em;
	justify-content: start;
	/*
	padding-left: 2ch;
	padding-bottom: 2ch;
	*/
}

 </style>