<script>
	
	import {DISPLAY} from "Gui/gui.js";
	
	import {quickback} from "./quickback.js";
	quickback("character"); 
	
	import Link from 'Gui/buttons/Link.svelte';
	import Character_attributes from './Character_attributes.svelte';

	
	//DRAW
	import {draw} from "Avatar/index";
	draw(PC);
	
	//GENERAL
	import {character_origin} from "Virtual/text";
	const origin = character_origin();

	const general = [
		{
			title: `Class`,
			value: ["","Harlot","Hellion","Fallen Priestess"][ext.class],
			alt: [``,
				`Harlot<br>+ 2 charisma<br>+ 1 dexterity`,
				`Hellion<br>+ 2 strength<br>+ 1 dexterity`,
				`Fallen Priestess<br>+ 2 intelligence<br>+ 1 charisma`,
			][ext.class],
		},
		{
			title: `Origin`,
			value: origin,
			alt: `${origin}<br>+ 1 ${["str", "dex", "int", "char"][ext.class-1]}`, //the order is always the same; 1 strong; 2 dexterous; 3 intelligent; 4 charismatic
		},
		{
			title: `Level`,
			value: ext.level,
		},
	];
	

</script>


<Character_attributes subject = {window.PC} general = {general}/>

<Link text = "Back" fce = {DISPLAY.text}/>
<Link text = "Quests" fce = {()=>DISPLAY.subtext("quests")}/>




 

