<script>
	import {onMount} from 'svelte';
	import {tooltip} from 'Gui/gui.js';
	
	export let title;
	export let value;
	export let alt;
	
	let divy;
	onMount(() => {
		if(alt) tooltip(divy, alt, true);
	});
	
	
</script>

{#if title}
<div class = "text">{title}: </div>
{/if}
<div bind:this={divy} class = "text">{value}</div>

{#if !title}
<div></div> <!---- TODO TEMPFIX --->
{/if}

<style>
.text{
	font-weight: bold;
} 
</style>