<script>
	import Link from 'Gui/buttons/Link.svelte';
	import Link_small from 'Gui/buttons/Link_small.svelte';
	import Character_attributes from './Character_attributes.svelte';
	
	import {DISPLAY, popup} from "Gui/gui.js";
	import {INVENTORY, draw, effigy} from "Avatar/index.js";
	import {dismiss} from "Virtual/follower";
	
	import {quickback} from "./quickback.js";
	quickback("follower"); 
		
	const subject = window.ext.follower;
	draw(subject); //DRAW

	const general = [
		{
			title: `Class`,
			value: subject.class,
		},
		{
			title: `Level`,
			value: subject.level,
		},
	];

</script>


<Character_attributes subject = {subject} general = {general}/>


<Link text = "Back" fce = {()=>{
	draw(window.PC);
	DISPLAY.text();
}}/>
<Link text = "Inventory" fce = {()=> INVENTORY.menu(effigy[subject.key])}/>
<Link text = "Dismiss" fce = {()=>{
	popup.confirm(`Send ${window.ext.follower.name} away?`, (yes)=> {
		if(yes){
			dismiss();
			draw(window.PC);
			DISPLAY.text();
		}
	});	
}}/>

