<script>
	import Link from 'Gui/buttons/Link.svelte';
	import {DISPLAY} from "Gui/gui.js";
	
	import {capitalise} from "Libraries/dh.js";
	
	//POTIONS 
	import {POTIONS} from "Avatar/game/potions";
	
	//SNAPSHOT
	import {storage_disabled} from 'System/load';
	import {gamekey} from "System/variables";
	import {snapshot, load_snapshot} from "System/save";
	import {draw} from "Avatar/index"; //TODO
	
	function show_snapshot(a){
		const dummy = load_snapshot(a);
		draw( dummy );
	};
	function manual_snapshot(){
		//const index = Object.keys(ext.snapshots).filter( a => a.includes(`manual`) ).length;
		//snapshot(`Manual`,`Snapshot ${index+1}`);
		snapshot(`manual`,`Manual`);
		
		//shots = Object.keys(ext.snapshots);
		
		shots = window.ext.snapshots;
		snapshots = storage_disabled ? {} : JSON.parse( localStorage.getItem(`${gamekey}_snapshots`) || "{}" )
	}


	//TODO
	$: PC = window.PC;
	$: ext = window.ext;
	$: mile = window.mile;

	$: shots = window.ext.snapshots;
	$: snapshots = storage_disabled ? {} : JSON.parse( localStorage.getItem(`${gamekey}_snapshots`) ?? "{}" )



</script>

{#if !storage_disabled}
	<h3>Snapshots</h3>

	{#each shots as a, i}
		<button
			on:mouseenter = {()=> show_snapshot(a)}
			on:mouseleave = {()=> draw(PC)}
		>
		{snapshots[a].desc}
		</button>
	{/each}
	<button	on:click = {manual_snapshot}>
		Take snapshot.
	</button>
{/if}

<h3>Used potions</h3>
{#each Object.keys(ext.stats.potions) as key}
	{#if ext.stats.potions[key]}
		<div class = "text">
			{capitalise(POTIONS.name(key, true))}: {ext.stats.potions[key]}
		</div>
	{/if}
{/each}


<h3>Tasks</h3>
{#each ext.stats.tasks as a, i}
	{#if a}
		<div class = "text">
			{["Fri","Sat","Sun","Mon","Tue","Wen","Thu"][i % 7]}: {capitalise(a)}
		</div>
	{/if}
{/each}


<h3>Other</h3>

<div class = "text">
	Died in virtal game: {ext.stats.deaths}
</div>


<div class = "text">
	Had sex: {ext.stats.sex_m.reduce( (a,b)=> a+b )}
</div>
<div class = "text">
	Had lesbian sex: {ext.stats.sex_f.reduce( (a,b)=> a+b )}
</div>
<div class = "text">
	Had anal sex: {ext.stats.anal_s.reduce( (a,b)=> a+b ) }
</div>
<div class = "text">
	Gave anal sex: {ext.stats.anal_m.reduce( (a,b)=> a+b ) + ext.stats.anal_f.reduce( (a,b)=> a+b )}
</div>
<div class = "text">
	Gave blowjobs: {ext.stats.oral_m.reduce( (a,b)=> a+b )}
</div>
<div class = "text">
	Gave cunnilingus: {ext.stats.oral_f.reduce( (a,b)=> a+b )}
</div>
<div class = "text">
	Receive cunnilingus: {ext.stats.oral_s.reduce( (a,b)=> a+b )}
</div>
<div class = "text">
	Masturbated (mentioned): {ext.stats.self}
</div>

{#if window.debug}
	<div class = "text">
		###Days wearing buttplug: {ext.stats.plugged}
	</div>
	<div class = "text">
		###Days not wearing panties: {ext.stats.commando}
	</div>
{/if}

<!--
	<div class = "text">
		<small> (*  since v0.9.42 and include only mentioned intercouses ) <br>
		<small>
		(I am not going back to interpolate every sex she ever had; also not every time when she masturbates during the game is explicitely mentioned)
		</small>
		</small> 
	</div>
-->

<Link text = "Back" fce = {DISPLAY.text}/>


<style>
.text{
	font-weight: bold;
}
</style>