<script>
	import {onMount} from 'svelte';
	import {DISPLAY} from "Gui/gui.js";
	import {save_menu} from "System/save";
	import Link from "Gui/buttons/Link.svelte"
	
	const called_from_menu = !$DISPLAY.display.side;
	const fce_back = called_from_menu ? DISPLAY.menu : DISPLAY.text;
	let container;
	
	import {quickback} from "./quickback.js";
	quickback("load", fce_back); 

	onMount(() => {
		save_menu(container, DISPLAY.text); //TODO fce_back ???
	});
	
</script>

{#if called_from_menu}
	<div class = "cent">
		<Link style = "menu" text = "Back" fce = {fce_back}/>
		<div bind:this={container}/>
		<Link style = "menu" text = "Back" fce = {fce_back}/>
	</div>
{:else}
	<div class = "colm">
		<Link text = "Back" fce = {fce_back}/>
		<div bind:this={container}/>
		<Link text = "Back" fce = {fce_back}/>
	</div>
{/if}


<style>
/* aligned left next to the side menu */
.colm{
	/* padding-left: 3em; */
}


/* centered, displayed alone */
.cent{
	display: grid;
	flex-direction: column;
	justify-content: center;
	/*padding-left: 3em;*/
}

</style>