<script>
import {ra} from "Libraries/random";
import {capitalise} from "Libraries/dh";

import {assign_task} from "Taskmaster/new_task";
import {assign_random} from "Taskmaster/new_random";
/*
import {tasks} from "Data/events/tasks";
import {randoms} from "Data/events/randoms";
*/
import {DISPLAY} from 'Gui/gui';
import Link from 'Gui/buttons/Link.svelte';
import Link_small from 'Gui/buttons/Link_small.svelte';

import {preprocess} from "Loop/preprocess_text";

//export let what;
//const {available, list, back} = $DISPLAY.temp;

	$: available = $DISPLAY.temp.available;
	$: list = $DISPLAY.temp.list; 
	$: back = $DISPLAY.temp.back;
	
	
function confirm(index){
	DISPLAY.text("");
	back(index);
	/*
	if(what === "random"){
		assign_random(index);
	}else if(what === "task"){
		assign_task(index);
	}
	*/
};


function name(a,i){
	const symbol = (()=>{
		if(debug) return `(${a})`; //actual probability 
		if(a === null) return `###`; //wrong week     //TODO - is this ever displayed? debug uses the previous line; hardbug doesn't display this? 
		//return a ? 🔳 : 🔲;
		return a ? String.fromCodePoint(128306) : String.fromCodePoint(128307); //conditions not fulfilled 
	})();
	const name = preprocess((()=>{
		return list[i].name;
		/*
		if(what === "random"){
			return randoms[i].name;
		}else if(what === "task"){
			return tasks[i].name;
		}
		*/
	})());
	return `${symbol} ${capitalise(name)}.`
}

//BEWARE - you cannot filter out anything from available because you need the indexes stay the same!
function display(a){
	if(debug) return true;
	if(hardbug && a !== null) return true;
	return a; //assumes softbug (manual scheduling available only in softbug mode and higher)
}
</script>


<Link text = "Random. " fce = {()=> confirm( ra.weighted(available) )} />
<Link_small text = "###Skip. "  fce = {confirm}/>

{#each available as a,i}
	{#if display(a)}
		<Link_small text = {name(a,i)}  fce = {()=> confirm(i)}/>
	{/if}
{/each}

	



