<script>
	import { fade, scale } from "svelte/transition";
	const size =  SETTING.map_size; //px
	const xxx = ext.dungeon.grid[head.z].length;
	const yyy = ext.dungeon.grid[head.z][0].length;
	
	import {quickback} from "./quickback.js";
	quickback([`m`, `KeyQ`]); //needlesly complicated, basically pressing the same key ([m]) will instantly go back
	
	import {DISPLAY} from "Gui/gui.js";
	import {draw} from "Dungeon/draw_map.js";
	import parchment from 'Assets/parchment.png';	
	import {onMount, afterUpdate} from 'svelte';
	
	let map;
	
	onMount(() => {
		const ctx = map.getContext("2d");
		for(let x = 0; x <= xxx; x++){
			for(let y = 0; y <= yyy; y++){
				const center = {
					x: (0.5 + x) * size,
					y: (0.5 + y) * size,
				}
				draw(ctx, x, y, center, {size});
			}
		}
	});
</script>

<div> 
	<h2>{window.ext.dungeon.name}</h2>
	<canvas 
		id = "map" 
		width = {xxx * size} 
		height = {yyy * size}
		style = "
			background: url('{parchment}');
			backgroundSize: 100%;
			cursor: pointer;
			width: {xxx * size};
			height:{yyy * size};
		"
		on:click = {()=>DISPLAY.text()}
		bind:this = {map}
	/>
</div> 

<style>
div{
	display: inline-block;
}
h2{
	text-align: center;
	text-decoration: underline;
}
</style>
