<script>
	
	import {DISPLAY} from "Gui/gui.js";
	import {quest} from "Virtual/quest.js";
	
	import {quickback} from "./quickback.js"; //TODO???
	quickback("character"); 
	
	import Link from 'Gui/buttons/Link.svelte';
	
	const active = Object.keys(ext.quests).filter( a => ext.quests[a].closure === 0);
	const finished = Object.keys(ext.quests).filter( a => ext.quests[a].closure === 1);
	const failed = Object.keys(ext.quests).filter( a => ext.quests[a].closure === -1);

	/*
		title("Quests");
	subtitle("");
	subtitle("Active");
	Object.keys(ext.quests).filter( a => ext.quests[a].closure === 0).forEach( a => tex(ext.quests[a].title) );
	subtitle("");
	subtitle("Finished");
	Object.keys(ext.quests).filter( a => ext.quests[a].closure === 1).forEach( a => tex(ext.quests[a].title) );
	//ext.quests.filter( a => a.closure === 1).forEach( a => add(a.title) );
	subtitle("");
	subtitle("Failed");
	Object.keys(ext.quests).filter( a => ext.quests[a].closure === -1).forEach( a => tex(ext.quests[a].title) );
	//ext.quests.filter( a => a.closure === -1).forEach( a => add(a.title) );
*/


</script>

<h1>Quests</h1>

<h3>Active</h3>
{#each active as a}
	<p>
		{@html window.ext.quests[a].title}
		{#if quest.is_done(a) }
			{#if window.ext.quests[a].liason }
				(Return to {window.ext.quests[a].liason} for reward)
			{:else}
				(Return for reward)
			{/if}
		{/if}
	</p>
{/each}

<h3>Finished</h3>
{#each finished as a}
	<p>{@html window.ext.quests[a].title}</p>
{/each}

<h3>Failed</h3>
{#each failed as a}
	<p>{@html window.ext.quests[a].title}</p>
{/each}




<Link text = "Back" fce = {()=> DISPLAY.subtext("character")}/>





 

