<script>
	import {DISPLAY, popup} from "Gui/gui.js";
	import Link from 'Gui/buttons/Link.svelte';
	import Link_small from 'Gui/buttons/Link_small.svelte';
	import {NAME, NPC} from "System/variables";
	import {draw, effigy} from "Avatar/index.js";
	import {KEYBOARD} from "System/keyboard.js";
	import {time} from "System/time";
	import {preprocess} from "Loop/preprocess_text";
	import {masochist} from "Virtual/text";
	import {ra} from "Libraries/random";
	//const cast = Object.keys(NPC).filter( a => !NPC[a].fantasy );
	
	
	const friends = [];
	const classmates = ["tom", "zan", "ven"];
	const aquitances = ["kub"];
	const teachers = ["mol", "maj", "dur", "ped", "bio"];
	
	const test = ["kat","ayy","qaa","qbb","qcc","eva","sas","anj","pet","asy","tom","zan","ven","ada","mol","maj","ped","bio","dur","bar","mik","kub","voj","dav","sve","jus","yel","gal","ste","lys","sir"];



</script>

<h1>Standing Rules</h1>

<ul>
{#if ext.rules.show_legs}
	<li>wear short skirts or shorts 
	</li>
{:else if ext.rules.short_skirt}
	<li>wear short skirts
	</li>
{/if}

{#if ext.rules.sexy_top}
	<li>wear sexy tops 
	</li>
{/if}

{#if ext.rules.no_panties &&  ext.rules.no_bra}
	<li>no underwear allowed 
	</li>
{:else if ext.rules.no_bra}
	<li>no bras allowed 
	</li>
{:else if ext.rules.no_panties}
	<li>no panties allowed 
	</li>
{/if}

{#if !ext.rules.no_panties &&  ext.rules.no_bra}
	<li>wear sexy panties 
	</li>
{/if}

{#if ext.rules.sexy_legwear}
	<li>wear sexy high socks, stockings or pantyhose
	</li>
{/if}

{#if ext.rules.collar}
	<li>wear collar
	</li>
{:else if ext.rules.collar}
	<li>wear choker
	</li>
{/if}

<!--- TODO - this probably doesn't work + add masturbate everyday -->
{#if ext.rules.open_legs}
	<li>sit with legs spread open
	</li>
{/if}

</ul>

<Link text = "Back" fce = {DISPLAY.text}/>





<style>
#pontainer{
	display: flex;
	flex-direction: row;
	gap: 10ch;
}

</style>





