<script>
	import {DISPLAY} from "Gui/gui.js";
	import Link_small from 'Gui/buttons/Link_small.svelte';
	import Link from 'Gui/buttons/Link.svelte';
	import {order, name_timeslot,} from "Taskmaster/scheduler";
	
	
	function confirm(){
		DISPLAY.text();
	}

	function cancel(){
		DISPLAY.text();
	}

	let today = [];
	let tomorrow = [];
	
	function reload(){
		today = order.map( (slot,i) => {
			
			const active = i === head.schedule;
			const before = i < head.schedule;
			
			if(head.today[slot]){
				return {
					slot_key: slot,
					slot_name: name_timeslot(slot),
					key: head.today[slot], 
					active,
					delete: before ? undefined : ()=> {
						head.today[slot] = null;
						reload();
					},
				};
			}
			return undefined;
		}).filter( a => a );

		tomorrow = order.map( (slot,i) => {
			if(head.tomorrow[slot]){
				return {
					slot_key: slot,
					slot_name: name_timeslot(slot),
					key: head.tomorrow[slot], 
					delete: ()=>{
						head.tomorrow[slot] = null;
						reload();
					},
				};
			}
			return undefined;
		}).filter( a => a );
			
		console.warn(head);
		console.log(today);
		console.log(tomorrow);
	}
	
	
	reload();
	
</script>

<h1>Spoilers!</h1>

- could be used to manually remove hopelessly broken events <br>
- to prevent events from being chosen automatically: Settings > Cheatmode enabled > Manual task selection & Manual random events enabled <br>

<h3>Today</h3>

<table>
{#each today as item, i}
	<tr>
	{#if item.active}
		<td>
			<b>{item.slot_key} </b>
		</td>
		<td>
			<b>{item.key} </b>
		<td>
			<Link_small text = "&nbsp" fce = {()=>{}} inlineStyle = ""/>
		</td>
	{:else if item.delete}
		<td>
			{item.slot_key}
		</td>
		<td>
			{item.key} 
		<td>
			<Link_small text = "Remove" fce = {item.delete} inlineStyle = ""/>
		</td>
	{:else}
		<td>
			{item.slot_key}
		</td>
		<td>
			{item.key} 
		</td>
		<td>
			<Link_small text = "&nbsp" fce = {()=>{}} inlineStyle = ""/>
		</td>
	{/if}
	</tr>
{/each}
</table>

<h3>Tomorrow</h3>

<table>
{#each tomorrow as item, i}
	<tr>
		<td> 
			{item.slot_key} 
		</td> 
		<td>
			{item.key}
		</td>
		<td>
			<Link_small text = "Remove" fce = {item.delete} inlineStyle = ""/>
		</td>
	</tr>
{/each}
</table>

<br>
<br>

<Link text = "Back" fce = {confirm} inlineStyle = "text-align: left; width: fit-content;"/>




<style>
td{
	padding: 0 2ch;
}


/*
.parent {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
*/
</style>