<script>
import {DISPLAY, scroll_top} from "Gui/gui.js";

scroll_top();

$: ({window, subwindow} = $DISPLAY.display);


import Character_irl from 'Gui/subtext/Character_irl.svelte';
import Character_game from 'Gui/subtext/Character_game.svelte';
import Follower from 'Gui/subtext/Follower.svelte';
import Quests from 'Gui/subtext/Quests.svelte';
import Account from 'Gui/subtext/Account_balance.svelte';
import Load from 'Gui/subtext/Load.svelte';
import Inventory from 'Gui/avatar/Inventory.svelte';
import Ledger from 'Gui/subtext/Ledger.svelte';
import Schedule from 'Gui/subtext/Schedule.svelte';
import Map from 'Gui/subtext/Map.svelte';
import Scheduling from 'Gui/subtext/Manual_scheduling.svelte';
import People from 'Gui/subtext/People.svelte';
import Rules from 'Gui/subtext/Rules.svelte';

import Edit from 'Gui/avatar/Edit.svelte';
import Tattoo from 'Gui/avatar/Tattoo.svelte';
import Designer from 'Gui/avatar/Designer.svelte';

import Menu from 'Gui/menu/Menu.svelte';
import Settings from 'Gui/menu/Settings.svelte';
import Extra from 'Gui/menu/Extra.svelte';
import Events_list from 'Gui/menu/Events_list.svelte';
import Minigames from 'Gui/menu/Minigames.svelte';
import Potions from 'Gui/menu/Potions.svelte';

import {text as extra_walkthrough} from "Src/walkthrough.md";
import {text as extra_credits} from "Src/credits.md";
import {text as extra_changelog} from "Src/changelog.md";
</script>


{#if window === "menu"}
	<Menu/>
	
{:else if window === "map"}
	<Map/>	
{:else if window === "inventory"}
	<Inventory/>
{:else if window === "character_irl"}
	<Character_irl/>
{:else if window === "character_game"}
	<Character_game/>
{:else if window === "follower"}
	<Follower/>
{:else if window === "quests"}
	<Quests/>
{:else if window === "account"}
	<Account/>
{:else if window === "load"}
	<Load/>

{:else if window === "people"}
	<People/>
{:else if window === "rules"}
	<Rules/>
		

{:else if window === "settings"}
	<Settings/>
{:else if window === "edit"}
	<Edit/>
{:else if window === "tattoo"}
	<Tattoo/>
{:else if window === "designer"}
	<Designer/>
{:else if window === "ledger"}
	<Ledger/>	
{:else if window === "clr_schedule"}
	<Schedule/>	


{:else if window === "events_list"}
	<Events_list/>
{:else if window === "minigames"}
	<Minigames/>
{:else if window === "potions"}
	<Potions/>

{:else if window === "walkthrough"}
	<Extra text={extra_walkthrough}/>
{:else if window === "changelog"}
	<Extra text={extra_changelog}/>
{:else if window === "credits"}
	<Extra text={extra_credits}/>


{:else if window === "container"}
	<div id = "div_container">this is div_container</div>
{:else if window === "schedule"}	
	<Scheduling/>
<!--
{:else if window === "schedule_task"}	
	<Scheduling what = "task"/>
{:else if window === "schedule_random"}	
	<Scheduling what = "random"/>
-->
{/if}