<script>
	import Random_bar from './Morning_random_bar.svelte';
	import Inventory_bar from './Morning_inventory_bar.svelte';
	import Setting from './Morning_setting.svelte';
	import Link from 'Gui/buttons/Link.svelte';
	import Link_small from 'Gui/buttons/Link_small.svelte';
	//import Link from 'Gui/buttons/Link.svelte';
	
	import {content} from "./morning_content.js";
	
	import {DISPLAY} from "Gui/gui"
	import {KEYBOARD} from "System/keyboard.js";
	
	let notifications = [];
	let links = [];
	let nolinks = [];
	let allow_to_continue = true;
	let appearance;

	import {beforeUpdate} from 'svelte';
	beforeUpdate(()=>{
		const reset_please = $DISPLAY.PC;
		KEYBOARD.reset();
		({allow_to_continue, notifications, links, nolinks, appearance} = content());
	})
	
	import {display_setting} from "./morning_random.js";
	
</script>


	
{#if  $display_setting}
	<Setting/>
	
{:else}
	<!-- CHOICES -->	
		<div class = "bar">
			<Random_bar/>
		</div>

		<div class = "bar">
			<Inventory_bar/>	
		</div>
		
		<div class = "separator"/>

		<Link_small {...appearance} inlineStyle = "font-weight: normal; cursor: default; display: inLine"}/>

	<!-- NOTIFICATIONS about issues with clothes -->
		{#each notifications as note}
			<Link_small {...note} inlineStyle = {note.major ? "font-weight: bold" : "font-weight: normal"}  />
		{/each}
		
		<div class = "separator"/>
	
	<!-- LINKS -->
		{#if allow_to_continue}
			{#each links as link}
				<Link {...link}/>
			{/each}
		{:else}
			{#each nolinks as link}
				<Link {...link}/>
			{/each}
		{/if}

{/if}


	


<style>
.bar{
	display: flex;
	flex-direction: row;
	/*justify-content: space-around;*/
	justify-content: space-evenly;
}
.separator{
	width: 1rem;
	height: 3rem;
}
.mirror{
	/*
	display: flex;
	flex-direction: row;
	*/
}
</style>