<script>

import Button from "./Morning_button.svelte";
import {conservative, slutty, outfit, random, setting, custom} from "./morning_random.js";

const allow_outfits = ext.outfits.filter( a => a.reality === 1 || a.reality === 2).length;

	
</script>

<Button text = "Random Clothes" fce = {random} alt = "Random clothes following nerds rules. "/>

{#if allow_outfits}
	<Button text = "Outfit" fce = {outfit} alt = "Randomly picked one of saved outfits. "/>
{/if}

<Button text = "Conservative" fce = {conservative} alt = "Random comfortable conservative clothes. "/>

<Button text = "Sexy" fce = {slutty} alt = "Random sexy clothes following nerds rules. "/>

<Button text = "Custom" fce = {custom} alt = "Random clothes following custom setting (⚙️). "/>

<Button text = "⚙️" fce = {setting} alt = "Custom settings."/>

