<script>

export let text = "empty";
export let fce = ()=>{};
export let style = ""; //defautly uses default "button" style
export let inlineStyle = "";


//attaches on hover tooltip
export let alt = "";
import {afterUpdate} from 'svelte';
import {tooltip} from 'Gui/gui.js';
let divy;
afterUpdate(() => {
	if(alt) tooltip(divy, alt, !fce);
});
	
</script>


<button 
	bind:this = {divy}
	class = {`buttline ${style}`}
	style = {inlineStyle}
	on:click={fce} 
>
	{@html text}
</button>