<script>

//import {conservative, slutty, outfit, random, setting} from "./morning_random.js";

import {DISPLAY} from "Gui/gui";
import Button from "./Morning_button.svelte";
import {remove_nightie, last_worn, save_outfit} from "./morning_random.js";
import {checkOutfit} from "Avatar/index";
import {INVENTORY} from "Avatar/index.js";

function inventory(){
	remove_nightie();
	//DISPLAY.subtext("inventory");
	
	INVENTORY.menu(window.PC);
	//TODO - display reset????
}

function makeup(){
	DISPLAY.edit_avatar(PC, "makeup");
}
	
const allow_buttplug = mile.buttplug > 0 && ext.stats.plugged > 0;
$: plugged = mile.plugged;
function switch_buttplug(what){
	plugged = what;
	mile.plugged = what;
};

</script>


{#if  checkOutfit("auto_last") }
	<Button text = "Last Worn" fce = {last_worn} alt = "The same clothes as yesterday. "/>
{/if}

<Button text = "Wardrobe" fce = {inventory} alt = "Inventory with all owned garments. "/>



{#if  window.mile.makeup }
	<Button text = "Makeup" fce = {makeup}/>
{:else if window.hardbug}
	<Button text = "##Makeup" fce = {makeup}/>
{/if}



	
{#if allow_buttplug }
	{#if plugged === 0 }
		<Button text = "Insert small buttplug" fce = {()=>switch_buttplug(1)}/>
	{:else if plugged === 1 && mile.buttplug > 1}
		<Button text = "Insert big buttplug" fce = {()=>switch_buttplug(2)}/>
	{:else if plugged === 2 && mile.buttplug > 2}
		<Button text = "Insert huge buttplug" fce = {()=>switch_buttplug(3)}/>
	{:else}
		<Button text = "Remove buttplug" fce = {()=>switch_buttplug(0)}/>
	{/if}
{:else if window.hardbug}
	{#if plugged === 0 }
		<Button text = "##Insert buttplug" fce = {()=>switch_buttplug(1)}/>
	{:else if plugged === 1}
		<Button text = "##Insert big buttplug" fce = {()=>switch_buttplug(2)}/>
	{:else if plugged === 2}
		<Button text = "##Insert huge buttplug" fce = {()=>switch_buttplug(3)}/>
	{:else}
		<Button text = "##Remove buttplug" fce = {()=>switch_buttplug(0)}/>
	{/if}
{/if}


<Button 
	text = "💾" 
	alt = "Save the current outfit"
	fce = {save_outfit}
/>