<script>
import Link from 'Gui/buttons/Link.svelte';
import {display_setting} from "./morning_random.js";
import {DISPLAY} from "Gui/gui.js";


function confirm(){
	DISPLAY.check();
	display_setting.set(false);
}

$: dress = ext.dressup;
</script>


<h3>Default <i>Get Dressed/Get Changed</i> will trigger</h3>

<div class = "panel">
	<label>
		<input value={"last_worn"} type = radio bind:group = {dress.get_dressed} name = "get_dressed" >
		Last worn
	</label>
	<label>
		<input value={"random"} type = radio bind:group = {dress.get_dressed} name = "get_dressed" >
		Random
	</label>
	<label>
		<input value={"outfit"} type = radio bind:group = {dress.get_dressed} name = "get_dressed" >
		Outfit
	</label>
	<label>
		<input value={"conservative"} type = radio bind:group = {dress.get_dressed} name = "get_dressed" >
		Conservative
	</label>
	<label>
		<input value={"slutty"} type = radio bind:group = {dress.get_dressed} name = "get_dressed" >
		Sexy
	</label>
	<label>
		<input value={"custom"} type = radio bind:group = {dress.get_dressed} name = "get_dressed" >
		Custom
	</label>
</div>



<h3>Custom: </h3>

<div class = "custom">
	<div class = "panel" style = "grid-row: 1/3">
		<label>
			<input value={-2} type = radio bind:group = {dress.slut} name = "slut" >
			Random
		</label>
		<label>
			<input value={-1} type = radio bind:group = {dress.slut} name = "slut" >
			Adjust to character's sluttiness
		</label>
		<label>
			<input value={0} type = radio bind:group = {dress.slut} name = "slut" >
			Conservative
		</label>
		<label>
			<input value={1} type = radio bind:group = {dress.slut} name = "slut" >
			Sexy
		</label>
		<label>
			<input value={2} type = radio bind:group = {dress.slut} name = "slut" >
			Sexier
		</label>
		<label>
			<input value={3} type = radio bind:group = {dress.slut} name = "slut" >
			Slutty
		</label>
		<label>
			<input value={4} type = radio bind:group = {dress.slut} name = "slut" >
			Sluttier
		</label>
		<label>
			<input value={5} type = radio bind:group = {dress.slut} name = "slut" >
			Sluttiest
		</label>
	</div>
	
	
	<div class = "panel">
		<label>
			<input bind:checked={dress.follow_rules} type=checkbox>
			Follow nerd's rules
		</label>
		<label>
			<input bind:checked={dress.piercings} type=checkbox>
			Wear piercings
		</label>
		<label>
			<input bind:checked={dress.belt} type=checkbox>
			Wear belt
		</label>
		<label>
			<input bind:checked={dress.gloves} type=checkbox>
			Wear gloves/sleeves
		</label>
		<label>
			<input bind:checked={dress.choker} type=checkbox>
			Wear choker
		</label>
		
		{#if window.mile.collar}
			<label>
				<input bind:checked={dress.collar} type=checkbox>
				Wear collar
			</label>
		{:else if window.hardbug}
			<label>
				<input bind:checked={dress.collar} type=checkbox>
				##Wear collar
			</label>
		{/if}
		
<!-- TODO - should be hidden or not? -->
		{#if window.mile.glasses}
			<label>
				<input bind:checked={dress.glasses} type=checkbox>
				Wear glasses
			</label>
		{:else if window.hardbug}
			<label>
				<input bind:checked={dress.glasses} type=checkbox>
				##Wear glasses
			</label>
		{/if}

	</div>

	


	<div class = "panel">
		<label>
			<input bind:checked={dress.bra} type=checkbox>
			Wear bra
		</label>
		<label>
			<input bind:checked={dress.panties} type=checkbox>
			Wear panties
		</label>
		<label>
			<input bind:checked={dress.sexy_underwear} type=checkbox>
			Prefer sexy underwear
		</label>
	</div>

	
	
	<div class = "panel">
		<label>
			<input bind:checked={dress.dresses} type=checkbox>
			Wear dresses
		</label>
		<label>
			<input bind:checked={dress.pants} type=checkbox>
			Wear pants
		</label>
		<label>
			<input bind:checked={dress.skirts} type=checkbox>
			Wear skirts
		</label>
	</div>

	<div class = "panel">
		<label>
			<input bind:checked={dress.socks} type=checkbox>
			Wear socks
		</label>
		<label>
			<input bind:checked={dress.high_socks} type=checkbox>
			Wear high socks
		</label>
		<label>
			<input bind:checked={dress.stockings} type=checkbox>
			Wear stockings
		</label>
		<label>
			<input bind:checked={dress.pantyhose} type=checkbox>
			Wear pantyhose
		</label>
	</div>
	
</div>
	
<h3>Clothes: </h3>

<div class = "clothes">
	<div class = "panel" style = "grid-row: 1/3">
		<label>
			<input bind:checked={dress.tuck_socks} type=checkbox>
			Pantyhose never above pants/skirt
		</label>
		<label>
			<input bind:checked={dress.tuck_panties} type=checkbox>
			Panties never above pants/skirt
		</label>
	</div>
	
</div>


<Link text = "Confirm" fce = {confirm}/>






<style>
.panel{
	display: flex;
	flex-direction: column;
}
.custom{
	display: grid;
	grid-template-columns: 25ch 25ch 25ch;
	grid-gap: 4ch;
}
.clothes{
	margin-bottom: 3ch;
}
label{
	cursor: pointer;
}
</style>