<script>


</script>

<div id = "main">
	<div id = "empty"></div>
	<div id = "top">
		Fake AI
	</div>
	<!--
		<div id = "mid">
			My life was ruined by three nerds<br>
			and wanton virtual intelligence
		</div>
	-->
	<div id = "bot">
		by Dahakma
	</div>
	
	<div class="lds-ellipsis">
		<div></div><div></div><div></div><div></div>
	</div>
	
</div>

<style>
#main{
	position: fixed;
	
	left: 0%; 
	right: 0%;
	top: 0%;
	bottom: 0%;
	
	z-index: 5; /*overkil. TO DO check z-indexes*/
	
	height: 100%;
	width: 100%;
	
	display: flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	
	background-color: var(--bgr); 
	background-image: var(--grad);		
}



#empty{
	padding: 20px;
}
	
/* The Name of Game */
#top{
/*margin:10px;*/
	padding: 20px;
	
	cursor:pointer;
	
	font-weight: bold;
	font-family: courier, courier new, serif;
	font-size: 600%;
	text-align: center;
	
	color:var(--highlight);
}

/* my life was ruined... */
#mid{
/*	margin:10px;*/
	padding: 20px;
	
	text-align: center;
	font-weight: bold;
	color:var(--highlight);
	
	font-size:180%;
	font-family: courier, courier new, serif;
}

/* by Dahakma */
#bot{
	/*margin:10px;*/
	padding: 20px;
	
	color:var(--text);
	
	text-align: center;
	font-size:150%;
	font-family: courier, courier new, serif;
}





/* fancy loader from https://loading.io/css/ */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--highlight);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


</style>



<!---
/* container with dots showing progress */
#div_intro_loading{
	position:absolute;
	
	bottom:50px;
	
	display: flex;
	flex-direction: row; 
	justify-content: center;
	align-items: center;
	
	
}

/* default dot */
.dot{
	margin-left:20px;
	margin-right:20px;
	width:10px;
	height:10px;
	border-radius: 5px;
	background-color: var(--text);
}

/* active dot */
.dot_active{
	background-color: var(--highlight);
}g

--->
 

