<script>
//import { fade, scale } from "svelte/transition";
import {beforeUpdate} from "svelte";
import {DISPLAY} from "Gui/gui.js";
import {popup} from "Gui/gui.js";
import {KEYBOARD} from "System/keyboard.js";


import Text from "Gui/text/Text.svelte";
import Side from "Gui/side/Side.svelte";
import Subtext from "Gui/subtext/Subtext.svelte";
import Above from "Libraries/popup/Component.svelte";



import Combat from "Gui/combat/Combat.svelte";
//import {start} from "Gui/combat/combat/combat";
//start();

import {ULTRA} from "Gui/tooltip";

$: ({side, avatar, window, subwindow} = $DISPLAY.display);

beforeUpdate(()=>{
	ULTRA.off(); //removes tooltip
	KEYBOARD.reset();
	KEYBOARD.back(DISPLAY.menu); //default, could be overriden during and after the update
})

</script>


{#if $popup.display}
	<Above/>
{/if}


{#if window === "combat"}
	<Combat/> 
{/if}



<div id = "div_main" class = {window !== "combat" ? "on" : "off"}>

	<!--- DAD goes here --->
	<div id = "div_player" class = {side ? "on" : "off"}/>  <!--- cleaner would be solution with {#if side} but that severes connection to DAD --->
	
	<!--- side menu --->
	<div id = "div_side" class = {side ? "on" : "off"} > 
		<Side/>
	</div>


	<div id = "div_right">
		{#if window === "text"}
			<Text/>		
		{:else}
			<Subtext/>
		{/if}
	</div>
			
</div>		
 
			
			


<style>
	.on{
		display: flex;
	}
	.off{
		display: none !important;
	}
	
	
	/* contains everything */
	#div_main{



		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: fit-content;
	
		display: grid;
		justify-content: center;
		align-content: start;
		
		grid-template-columns: auto clamp(0.5em, 3%, 100px) auto clamp(0.5rem, 3%, 100px);
		grid-template-rows: auto auto;
		grid-template-areas:
			'player . right .'
			'side . right .'
			'fuck_css . right .'
		;
		
		background: var(--pageBackgroundColor);
		background-image: var(--pageBackgroundGrad);

 
	}
	
	
	/* DAD avatar */
	#div_player{
		/*

			BEWARE
			width of "div_player" is "SETTING.avatar_width"
			and is set in "Avatar/canvas/initiate.js"
		*/
		grid-area: player;
			
		height: fit-content;
		z-index: 0;  /* the invisible canvas is sticking out from the div; other divs has to have higher z-index */
		
		background-color: var(--bgr2); 	
		background-image: var(--grad2);
	}
	
	#div_right{
		grid-area: right;
		/*max-width: 80ch;
		min-width: 60ch;*/
		width: clamp(60ch, 75ch, 120ch);
		padding: 3ch 6ch;
		min-height: calc(100vh - 6ch); /* screen - padding */
	/*	height: fit-content;  */
		/* calc(100% - 6ch) !!! */
		
		background-color: var(--textBackgroundColor); 	
		background-image: var(--textBackgroundGrad);
		
		//background-color: lime;
		z-index: 1;
	/*	bottom: 0; */
	}
	
	#div_side{
		grid-area: side;
			
		display: flex;
		row-gap: 4ch; /* TODO!! */ 
		padding: 4ch; /* TODO!! */ 
		flex-direction: column;
		align-content: space-evenly;

		/*height: fit-content;*/
		height: auto;
		z-index: 1;
		background-color: red;
		
		background-color: var(--bgr2); 	
		background-image: var(--grad2);
	}

	
	
	
	/*
	@media only screen and (max-width: 810px) {
		#div_main{
			grid-template-columns: auto auto;
			grid-template-areas:
				'right right'
				'side player'
			;
		}
		
		#div_player{
			 width: auto;
		}
		
		#div_right{
			 width: auto;
		}		
	}
	*/
	
	/* small screens 811 - 1023 - compressed two columns */ 
	/* TODO - no sure if this dimensions are even used */
	@media only screen and (max-width: 1023px) /* and (min-width: 811px)*/{
		#div_main{
			grid-template-columns: auto auto;
			grid-template-areas:
				'player right'
				'side right'
			;
		}
					
		#div_right{
			padding: 3ch 6ch;
			width: auto;
		}
		
	}
	
	
	/*
		medium screens 1024 - 1366 
		two columns 
		defualt  - my screen :-D 
 */
	
	/* big screens above 1366 - three columns */
	@media only screen and (min-width: 1367px) {
		#div_main{
			grid-template-areas:
			'player . right . side'
		}
		
		#div_player{
			height: auto;
		}
		
		#div_side{
			padding: 8vh 6ch 8vh; 
			/* 
				top:  same as div_top_separator 
				sides: same as div_right 
				bot: zero
			*/
			height: auto;
		}
		
	}
	
</style>