
/* BULLS AND COWS HACKING MINIGAME: */

/*contains everything */
#bull_cointainer{
	font-family: "Courier New", monospace;
	font-weight: bold;
	position: relative;
	height: auto; /* ??? */
	min-height: 400px;
	width: auto;

	/*background-color: navy;*/
	
	display: flex;
	flex-direction: row;
	align-items: strech;
}



/*right div with numpad */
#bull_botik{
	position: relative;
	padding: 20px;
	background-color:  hsla(228, 4%, 80%, 1);
	display: flex; 
}

	#bull_numpad{
	 
	
		height: 270;
		width: 100%;
	/*	
		left:10%;
		right:10%;
		*/
		
		background-color:  hsla(228, 4%, 80%, 1);
		display: grid;
		grid-template-columns: repeat(3, auto);  
		grid-gap: 5px;
	}
	 
	/*number on numpad*/
	.bull_num_button{
		height: 50px;
		line-height: 50px;
		width: 50px;
		padding: 5px;
		margin: 5px;
		text-align: center;
		font-size: 40px;
		/*font-weight: bold;*/
		background-color: white; 
		cursor: pointer;
		
		border-radius: 10px;
		
		box-shadow: 3px 3px grey;
	}
	.bull_num_button:hover{
		background-color: red; 
	}
	.bull_num_unlock{
		width: auto;
		grid-column: 1 / -1;
		font-size: 40px;
		display: none;
		/*font-size: 30px;*/
	}	


/*left div with displayed numbers and results */
#bull_topik{
	position: relative;
	padding:20px;
	background-color:  hsla(228, 4%, 80%, 1);
	display: flex; 
}

.bull_row_even{
	background-color:  hsla(0, 0%, 70%, 1);
	display: flex;
	flex-direction: row 
}

.bull_row_odd{
	background-color: hsla(0, 0%, 90%, 1); 
	display: flex;
	flex-direction: row
	 
}

/*displayed inputed number */
.bull_inbox{
	height: 40px;
	width: 40px;
	
	text-align:center;
	font-size: 30px;
	line-height: 40px;
	
	margin:5px;
	padding:5px;
	/*font-weight: bold;*/
	/*background-color: white; */
	cursor:pointer;
}

/*displayed outputted colors*/
.bull_outputed{
	display: flex;
	flex-direction: column;
}
.bull_outbox{
	height:25%;
}

.bull_green{
	background-color: lime; 
}

.bull_yellow{
	background-color: yellow; 
}

.bull_red{
	background-color: red; 
}










