<script>

/*import {onMount} from 'svelte';*/
//import {click, denied, success} from 'System/sounds';
import * as sound from 'System/sounds';

import {ra, rg} from 'Libraries/random';
import {gradual} from 'Libraries/dh';
//rg.i();

export let success; //happens on success
export let failure = success; //happens on failure
export let options = {
	items: 5, //number of crystals
	available: 5, //number of colors
	difficulty: 2, //difficulty increase
};

//const result = [];
const crystals = [];

let xxx = 4; //index of active crystal
let yyy = 0; //index of color of the crystal
let clickable = true; //could be clicked on crystal (no animation in progress)


console.warn(crystals)

for(let x = 0; x < options.items; x++){
	
	console.warn(x)
	
	crystals[x] = {
		seed: ra.g,
		color: [],
		state: -1,
		shade: 1,
	};
	
	console.warn( crystals[x] )
	
	for(let y = 0; y < ( 1 + (x * options.difficulty) ); y++){
		crystals[x].color[y] = ra.integer(0, options.available)
	};
};



function sequence(){
	result = [];
	yyy = 0;
	clickable = false;
	pulse(0);
	
};


function tuning(index){
	
}

function pulse(index){

	if(index === crystals[xxx].color.length){
		clickable = true;
		return;
	}
	
	setTimeout(function(){ 
		click(index); 
	}, 400)
	
	setTimeout(function(){ 
		unclick(index); 
		index++;
		pulse(index)
	}, 1000)
};


function click(index){
	crystals[xxx].state = 0;
	crystals[xxx].shade = crystals[xxx].color[index];
		//alert("fffdown")
		//out[xxx].classList.remove("crystal_out_active")
		//out[xxx].classList.add("crystal_inp_"+indexOfColor(index) );
	//	out[xxx].classList.remove("crystal_out_inactive");
};

function unclick(index){
	crystals[xxx].state = 1; //-1;
	
//		out[xxx].classList.add("crystal_out_active")
	//	out[xxx].classList.remove("crystal_inp_"+indexOfColor(index) );
	//	out[xxx].classList.add("crystal_out_inactive");
		
};
	
	//class = {`crystal ${crystal.color}`};
	//{crystal.color}
//<!--- style = {inlineStyle} --->


const palette = [
	0, //red
	100, //green
	200, //blue
	310, //pink
	
	50, //yellow
	150, //cyany
	240, //dark blue
	280, //purple
]
	
	
function tuner_background(index){
	return `
		-webkit-box-shadow: 0px 0px 20px 6px hsla(${palette[index]}, 100%, 50%, 0.9);
		box-shadow: 0px 0px 20px 6px hsla(${palette[index]}, 100%, 50%, 0.9);
		background: hsla(${palette[index]}, 100)%, 50%, 1);
	`;
}




function crystal_background(index){
	rg.i(seed);
	const {seed, state, shade} = crystal[index];
	const center = rg.integer(40, 60);
	
	if(state === 1) return `
		-webkit-box-shadow: 0px 0px 20px 12px hsla(0, 0%, 100%, 0.9);
		box-shadow: 0px 0px 20px 12px hsla(0, 0%, 100%, 0.9);
		background: hsla(0, 0%, 100%, 1);
	`;
	
	if(state === -1){
		const value = index === xxx ? result.length : 0;
		const boxsh = gradual([0, crystals[xxx].color.length], value, [0, 10]);
		const light = gradual([0, crystals[xxx].color.length], value, [50, 90]);
		
console.log(boxsh)
console.log(light)
		return `
			-webkit-box-shadow: 0px 0px 20px ${boxsh}px hsla(0, 0%, ${light}%, 0.9);
			box-shadow: 0px 0px 20px ${boxsh}px hsla(0, 0%, ${light}%, 0.9);
		
			background: hsla(${palette[shade] + rg.integer(-5, 5)}, ${rg.integer(90, 100)}%, 50%, 1);
			background: linear-gradient(
				${rg.integer(-3, 3)}deg, 
				hsla(0, 0%, ${light}%, 1) ${center - rg.integer(10, 40)}%, 
				hsla(0, 0%, 90%, 1) ${center}%, 
				hsla(0, 0%, ${light}%, 1) ${center + rg.integer(10, 40)}%
			);
		`;
		
		/*
		return `
			background: hsla(${palette[shade] + rg.integer(-5, 5)}, ${rg.integer(90, 100)}%, 50%, 1);
			background: linear-gradient(
				${rg.integer(-3, 3)}deg, 
				hsla(0, 0%, 50%, 1) ${center - rg.integer(10, 40)}%, 
				hsla(0, 0%, 90%, 1) ${center}%, 
				hsla(0, 0%, 50%, 1) ${center + rg.integer(10, 40)}%
			);
		`;
		*/
	}
	//background: hsla(${palette[shade] + rg.integer(-5, 5)}, ${rg.integer(90, 100)}%, 50%, 1);
	//${rg.integer(320, 350)}deg, 
	
	return `
		-webkit-box-shadow: 0px 0px 20px 6px hsla(${palette[shade]}, 100%, 50%, 0.9);
		box-shadow: 0px 0px 20px 6px hsla(${palette[shade]}, 100%, 50%, 0.9);
		
		background: hsla(${palette[shade] + rg.integer(-5, 5)}, ${rg.integer(90, 100)}%, 50%, 1);
		background: linear-gradient(
			${rg.integer(-3, 3)}deg, 
			hsla(${palette[shade] + rg.integer(-5, 5)}, ${rg.integer(90, 100)}%, 50%, 1) ${center - rg.integer(10, 40)}%, 
			hsla(0, 0%, 100%, 1) ${center}%, 
			hsla(${palette[shade] + rg.integer(-5, 5)}, ${rg.integer(90, 100)}%, 50%, 1) ${center + rg.integer(10, 40)}%
		);
	`;
}
</script>


<div id = "stalagnate">

	<div id = "crystals">
		{#each crystals as crystal, i}
			{console.error(crystal.color)}
			<div 
				class = {xxx === i && crystal.clickable ? "crystal clickable" : "crystal"}
				style = "{crystal_background(i)}"
				on:click = {sequence} 
			/>
		{/each}
	</div>
	
	{console.error(new Arrayy(options.available))}
	<div id = "tuners">
		{#each (new Arrayy(options.available)) as tun,i}
			<div 
				class = "tuner clickable"
				style = "{tuner_background(i)}"
				on:click = {tuning} 
			>
			asdf
			</div>
		{/each}
	</div>


</div>



<style>
/* containers */
#stalagnate{
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}

#crystals{
	display: flex;
	flex-direction: column;
}

#tuners{
	display: flex;
	flex-direction: row;
}

/* all crystals */
.crystal{
	width: 300px;
	height: 30px;
	margin: 15px;
	background-color: yellow;
}

.tuner{
	width: 50px;
	height: 50px;
	margin: 15px;
}


.clickable{
	cursor: pointer;
}


/* colors */
.cryoff{
	width: 300px;
	height: 30px;
	margin: 15px;
	background-color: lime;
	
}
</style>


