/*stolen directly from https://dev.to/ekeijl/creating-dice-using-css-grid-j4 because its absolutely perfect and beautiful */

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.face {
	width: 50px;
	height: 50px;
	
	margin: 10px;
	padding: 10px;
	background-color: white; 
	background-image: linear-gradient(to right bottom, #ffffff, #f7f7f7, #f0f0f0, #e8e8e8, #e1e1e1);
		
	border-radius: 10%;
	
	box-shadow: 3px 3px grey; /*TODO*/
	
	display: grid;
	grid-template-areas:
		"a . c"
		"e g f"
		"d . b";
}


.pip {
	width: 12px;
	height: 12px;
	background-color: black; 
	border-radius: 50%;
	background-image: linear-gradient(to right bottom, #000000, #1e1e1e, #373737, #515151, #6d6d6d);
	
	place-self: center;  /*center pip in the grid thing*/
}	

.pip:nth-child(2) {
	grid-area: b;
}
.pip:nth-child(3) {
	grid-area: c;
}
.pip:nth-child(4) {
	grid-area: d;
}
.pip:nth-child(5) {
	grid-area: e;
}
.pip:nth-child(6) {
	grid-area: f;
}

.pip:nth-child(odd):last-child {
	grid-area: g;
}
