
/*@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');*/

#rain_container{
	display: grid;
	grid-template-areas:
		". h2 h2 h2."
		"h1 ta ce de h3"
		". h0 h0 h0 .";
}

.rain_clickable{
	cursor: pointer;
	box-shadow: 0px 0px 10px 3px lime;
}

 
#rain_hand_0{
	grid-area: h0;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 500px;
}

#rain_hand_1{
	height: 150px;  /*TODO*/
	width: 100px; /*TODO*/
	position: relative;
	grid-area: h1;
	display: flex;
	flex-direction: column;
}

#rain_hand_2{
	min-height: 100px;  /*TODO*/
	width: 500px; /*TODO*/	
	position: relative;
	grid-area: h2;
	display: flex;
	justify-content: center;
	flex-direction: row;
		/*flex-wrap: wrap;*/
}

#rain_hand_3{
	height: 150px;  /*TODO*/
	width: 100px; /*TODO*/
	grid-area: h3;
	display: flex;
	position: relative;
	flex-direction: column;
}


#rain_ce{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: ce;
	
	font-size: 140%;
}

#rain_de{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: de;
}

#rain_ta{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: ta;
}

.rain_card{
	border: 1px solid black;
	border-radius: 5%;
	width: 56px;
	height: 86px;
	background: white;
	margin: 5px;
	padding: 10px;
	font-size: 120%;
	/*box-shadow: 1px 1px grey;*/
	
	display: flex;
	justify-content: center;
	align-items: center;
}


#rain_changer{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-area: ce;
}

.rain_change_suit{
	background: white;
	cursor: pointer;
	padding: 10px;
	margin: 10px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 150%;
}


.rain_row{
	display: flex;
	flex-direction: row;
	background: red;
}


.rain_red{
	color: red;
}





#seven_container {
	display: flex;
	width: 600px;
	/*flex-direction: column;*/
	/*grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	 */
	/*font-family: 'UnifrakturMaguntia', cursive;*/
}