
/*@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');*/

#seven_container {
	display: flex;
	width: 600px;
	flex-direction: column;
	/*grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	*/
	/*font-family: 'UnifrakturMaguntia', cursive;*/
}


.seven_active{
	border: 2px solid red !important;
}

.seven_dead{
	color: var(--dead) !important;
	/*color: lime !important;*/
	/*cursor: pointer;*/
}


.seven_result{
	font-size: 120%;
	padding-top: 2em !important;
	padding-bottom: 2em !important;
}
.seven_result:hover{
	color: var(--highlight) !important;
	background-color: var(--bgr) !important;
}


.seven_item {
	font-weight: bold;
	font-size: 150%;
	/*padding: 2em;*/
	/*
	padding-top: 40px;
	padding-bot: 40px;
	*/
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	
	text-align: center;
	color: var(--highlight);
	
	border: 2px solid transparent;
	cursor: pointer;
}
.seven_item:hover{
	color: var(--bgr);
	background-color: var(--highlight);
}

.seven_row{
	display: flex;
	flex-direction: row;
	width: 100%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.seven_row > div 
{
  flex: 1; 
}

.seven_bet {
	display: flex;
	flex-direction: column;
}

.seven_top{
	font-size: 150%;
}

.seven_mid{
	padding-top: 0.5em;
	font-size: 60%;
}

.seven_bot{
	padding-top: 0.5em;
	font-size: 80%;
}

.seven_roll{
	flex-grow: 2 !important;
}


