
#tiles_container {
	/*
	width: 450px;
	height: 450px;
	*/
	display: grid;
	grid-template-columns: 150px 150px 150px;
	grid-gap: 0px;
	justify-content: center;

}

.tile{
	width: 150px;
	height: 150px;
}


.triump {
	
	background-color: red;
	
	-webkit-transition: background-color 800ms linear;
	-ms-transition: background-color 800ms linear;
	transition: background-color 800ms linear;
	
}


.active{
	cursor: pointer;
}