<script>
	import {text} from "Src/events_list.md";
	import {DISPLAY} from "Gui/gui.js";
	import Link_big from 'Gui/buttons/Link_big.svelte';
	import {afterUpdate} from "svelte";
	
	//spoilers
	const w4 = window.hardbug;
	const w5 = window.debug;
	const w6 = window.debug;
	const minor = true;
	
	//this is fucking stupid but I believe it is not impossible to change style of embed html in normal way 
	afterUpdate(()=>{
		
		//table style
		const table = document.getElementById("walkthrough");
		table.style.border = "1px solid black";
		table.style.borderCollapse = "collapse";
		table.style.padding = "0.5rem";
		
		function alter(class_name, new_style){
			Array.from( document.getElementsByClassName(class_name) ).forEach( ({style}) => { 
				Object.assign(style, new_style)
			});
		};
		
		function alterQuery(selector, new_style){
			Array.from( document.querySelectorAll(selector) ).forEach( ({style}) => { 
				Object.assign(style, new_style)
			});
		};
		
		
		alter(
			"weeks", 
			{
				fontWeight: "bold",
				color: "white",
				backgroundColor: "grey",
			},
		);
		
		alter(	"task", {color: "red"} );
		alter(	"random", {color: "green"} );
		alter(	"optio", {color: "blue"} );
		alter(	"shop", {color: "teal"} );
		
		if(!minor)  alter(	"minor", {display: "none"} );
		if(!w4) alterQuery("tr > *:nth-child(5)", {display: "none"} );
		if(!w5) alterQuery("tr > *:nth-child(6)", {display: "none"} );
		if(!w6) alterQuery("tr > *:nth-child(7)", {display: "none"} );
		
	})

/*
	#walkthrough tr > *:nth-child(4) {
    display: none;
}
	*/

	
	
</script>

<div id = "box">
	<Link_big text = "Back" fce = {DISPLAY.menu}/>
 
	
	{@html text}
	<Link_big text = "Back" fce = {DISPLAY.menu}/>
</div>



<style>
#box {
	position: absolute;
    top: 0;
    left: 0;
    padding: 2rem 5rem;
    background-color:  hsla(228, 10%, 80%, 1); 
	background-image: linear-gradient(to right bottom, hsla(228, 10%, 85%), hsla(228, 10%, 75%) 100%);
	
}
</style>
