<script>
	import {DISPLAY} from "Gui/gui.js";
	export let text;
	import Link_big from 'Gui/buttons/Link_big.svelte';
</script>

 
<div class = "text">
	<Link_big text = "Back" fce = {DISPLAY.menu}/>
	{@html text}
	<Link_big text = "Back" fce = {DISPLAY.menu}/>
</div>

<style>
.text{
	margin: auto;
	max-width: 70ch;
}
</style>