<script>
	import {DISPLAY} from "Gui/gui.js";
	import {start_game} from "System/initiate_game";
	import {KEYBOARD} from "System/keyboard";
	import Link from 'Gui/buttons/Link.svelte';
	import Link_big from 'Gui/buttons/Link_big.svelte';
	
	function new_game(){
		DISPLAY.text("");
		start_game();
	};
	
	KEYBOARD.back(DISPLAY.text);
</script>

 
<div class = "menu_container">

	{#if window.PC.Mods} <!-- TODO - very wacky way to check if game in progress -->
		<Link style = "menu" text = "CONTINUE" fce = {DISPLAY.text}/>
	{:else} 
		//TODO - ATM should never happen
	{/if}


	<Link style = "menu" text = "New Game" fce = {new_game}/>
	<Link style = "menu" text = "Load/Save" fce = {()=> DISPLAY.subtext_only("load")}/>
	<Link style = "menu" text = "Minigames" fce = {()=> DISPLAY.subtext_only("minigames")}/>
	<Link style = "menu" text = "Settings" fce = {()=> DISPLAY.subtext("settings")}/>
	<Link_big text = "Changelog" fce = {()=> DISPLAY.subtext_only("changelog")}/>
	<Link style = "menu" text = "Credits" fce = {()=> DISPLAY.subtext_only("credits")}/>
	
	{#if window.hardbug} 
		<Link style = "menu" text = "##Walkthrough" fce = {()=> DISPLAY.subtext_only("walkthrough")}/>
		<Link style = "menu" text = "##List of Events" fce = {()=> DISPLAY.subtext_only("events_list")}/>
	{/if}
	
</div>


 

<style>
.menu_container{
	margin: auto;
	padding-top: clamp(3ch, 10%, 150px);
	width: clamp(10ch, 70ch, 70ch);
	display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
	
}
 </style>