<script>
	import {DISPLAY} from "Gui/gui.js";
	import {KEYBOARD} from "System/keyboard";
	import Link from 'Gui/buttons/Link.svelte';
	import Link_big from 'Gui/buttons/Link_big.svelte';
	import Minigame from 'Gui/text/Minigame.svelte';
	
	KEYBOARD.back(DISPLAY.menu);
	
	$: active = "";
	const setting = {
		attempts: 7, //bull
		numbers: 4, //bull
		cash: 30, //seven
		items: 5, //crystals
		available: 5, //crystals
		difficulty: 2, //crystals
		players: 3, //cards
	}
	$: message = "";

	
	import {beforeUpdate} from 'svelte';
	beforeUpdate(()=>{
		KEYBOARD.reset();
	})
	
	function play(what, resolve = ()=>{}){
		DISPLAY.minigame_set({
			...setting,
			game: what,
			victory: (result) => { //TODO!!!! ASAP
				DISPLAY.subtext_only("minigames");
				resolve(result);	
				active = "victory";

				
			}, 
			defeat: (result) => {
				DISPLAY.subtext_only("minigames");
				resolve(result);
				active = "defeat";
			}, 
			
			no_links: false,
		});
		active = "execute";
		
		
	};
	
	
	//SEVEN
	//import {seven} from "Minigames/seven";
	function seven_resolve(result){
		if( result && !isNaN(result) ){
			message = `${result}☼`;
		}
	};
	
	//BULLS
	//import {bulls} from "Minigames/bulls";
	//bulls(victory, defeat, div, numbers = 4, attempts = 8){
	function bulls_resolve(result){
		message = "";
		if( result && Array.isArray(result) ){
			message = `The correct combination was: ${result.join("")}`;
		}
	};
	const bull_numbers_list = [2,3,4,5,6];
	const bull_attempts_list = [3,4,5,6,7,8,9,10,11,12,13,14,15,16];
	
	
	//CARDS
	const cards_players_list = [2,3,4];
	function cards_resolve(result){
		message = "";
		if( Array.isArray(result) ) result.forEach( (a,i) => {
			if(a === 0) return;
			message += `Player ${i}: ${a} remaining cards <br>`
		});
	};
	
	//crystals
	const crystal_items = [2,3,4,5,6,7,8,9,10];
	const crystal_difficulty = [1,2,3,4];
	const crystal_available = [2,3,4,5,6];
	
</script>


<div class = "menu_container">
	
	{#if !active}
		<Link_big text = "Back" fce = {DISPLAY.menu}/>
		<Link_big text = "Potion tester" fce = {()=> DISPLAY.subtext("potions")}/>
		
		<Link_big text = "Hacking" fce = {()=> active = "bulls"}/>
		<Link_big text = "Cards" fce = {()=> active = "cards"}/>
		<Link_big text = "Crystals (TODO)" fce = {()=> active = "crystals"}/>
		<Link_big text = "Seven" fce = {()=> play("seven", seven_resolve)}/>
		
	{:else if active === "execute"}
		<Minigame/>
	
	{:else if active === "victory"}
		<div>Excellent job!</div>
		<div>{@html message}</div>
		<Link_big text = "Back" fce = {()=> active = ""}/>
	{:else if active === "defeat"}
		<div>You failed :(</div>
		<div>{@html message}</div>
		<Link_big text = "Back" fce = {()=> active = ""}/>
		
		
	{:else if active === "crystals"}
		Crystals: <select bind:value={setting.items}>
			{#each crystal_items as item}
				<option value={item}>
					{item}
				</option>
			{/each}
		</select>
		Colors: <select bind:value={setting.available}>
			{#each crystal_available as item}
				<option value={item}>
					{item}
				</option>
			{/each}
		</select>
		Difficulty: <select bind:value={setting.difficulty}>
			{#each crystal_difficulty as item}
				<option value={item}>
					{item}
				</option>
			{/each}
		</select>
		<Link text = "Back" fce = {()=> active = ""}/>
		<Link text = "Play" fce = {()=> play("crystals")}/>
	 
	
	
	{:else if active === "bulls"}
		Guessed numbers: <select bind:value={setting.numbers}>
			{#each bull_numbers_list as item}
				<option value={item}>
					{item}
				</option>
			{/each}
		</select>
		Allowed attempts: <select bind:value={setting.attempts}>
			{#each bull_attempts_list as item}
				<option value={item}>
					{item}
				</option>
			{/each}
		</select>
		<Link text = "Back" fce = {()=> active = ""}/>
		<Link text = "Play" fce = {()=> play("bulls", bulls_resolve)}/>
	
	{:else if active === "cards"}
		
		Players: <select bind:value={setting.players}>
			{#each cards_players_list as item}
				<option value={item}>
					{item}
				</option>
			{/each}
		</select>
		<Link text = "Back" fce = {()=> active = ""}/>
		<Link text = "Play" fce = {()=> play("rain", cards_resolve)}/>
	{/if}
	
	
	
</div>

<style>
.menu_container{
	margin: auto;
	padding-top: clamp(3ch, 10%, 150px);
	width: clamp(10ch, 70ch, 70ch);
	display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
	
}
 </style>