<script>
	import {DISPLAY} from "Gui/gui.js";
	import {KEYBOARD} from "System/keyboard";
	import {beforeUpdate} from 'svelte';
	import Link from 'Gui/buttons/Link.svelte';
	import Link_big from 'Gui/buttons/Link_big.svelte';
	
	import {percent, capitalise, clone} from "Libraries/dh";
	import {createCharacter, draw, animate, update, updateDraw, cloneCharacter, cloneOriginalCharacter, updateMods} from "Avatar/index";
	import {elixirs} from "Data/items/elixirs/index";
	import {POTIONS} from "Avatar/game/potions";
	
	const reality = head.reality;
	head.reality = 3;
	
	const dummy = createCharacter(undefined, 0.7, 0.5); //cloneCharacter(PC);
	dummy.original = clone(dummy.Mods); //redundant?
	updateDraw(dummy);
	
	window.dummy = dummy;
	
	function back(){
		head.reality = reality;
		DISPLAY.subtext_only("minigames")
	}
	
	function reset(){
		dummy = cloneOriginalCharacter(dummy);
		updateDraw(dummy);
	}
	
	beforeUpdate(()=>{
		KEYBOARD.reset(); 
		KEYBOARD.back(back);
	})
	
	$: actual = "menu";
</script>

{#if actual === "menu"}
	<Link text = "Back" fce = {back}/>
	{#each Object.keys(elixirs) as key}
		<Link text = {capitalise(elixirs[key].name)} fce = {()=> actual = key}/>
	{/each}
{:else}
	<Link text = "Back" fce = {()=> actual = "menu"}/>
	{#each elixirs[actual].trans as tf, index}
		<Link text = {capitalise(tf.name)} fce = {()=> POTIONS.execute(actual, index, dummy) }/>
	{/each}
	
	{#if window.debug}
		<Link text = "#console.log(dummy)" fce = {()=> console.warn(dummy)}/>
		<Link text = "#updateDraw(dummy)" fce = {()=> updateDraw(dummy)}/>
	{/if}
{/if}



<style>

 </style>