<script>
	export let name;
	export let value;
	export let disabled = false;
	export let fce = ()=>{};
</script>

 
<label>
	<input type=checkbox {disabled} bind:checked={value} on:change = {fce} >
	{name}
</label>

 

<style>
</style>