<script>
	export let npc;
	import {preprocess} from "Loop/preprocess_text";
</script>

 
<div>
	<input type = color bind:value={npc.color}>
	{#if !npc.generic}
		{#if npc.prefix}
			<div class = "prefix">{npc.prefix}</div>
			<input class = "surname" type = text bind:value={npc.surname} on:keydown|stopPropagation>
			{#if npc.altname !== undefined}
				<input class = "name" type = text bind:value={npc.altname} on:keydown|stopPropagation>
			{/if}
		{:else}	
			<input class = "name" type = text bind:value={npc.name} on:keydown|stopPropagation>
			{#if npc.altname !== undefined}
				<input class = "name" type = text bind:value={npc.altname} on:keydown|stopPropagation>
			{/if}
			{#if npc.surname !== undefined}
				<input class = "name" type = text bind:value={npc.surname} on:keydown|stopPropagation>
			{/if}
		{/if}
	{:else}
		<!-- nothing -->
	{/if}
	- {@html preprocess(npc.desc)}
</div>

 

<style>
.prefix{
	display: inline-block;
	width: 3.5ch;
}
.surname{
	width: 10ch;
}
.name{
	width: 15ch;
}
</style>