<script>
	export let value;
	export let max = 100;
	export let min = 0;
	export let name;
	export let step = 1;
	export let fce = ()=>{};
	export let label_value = ()=> "";
	$: labval = label_value(value);
</script>

 
<label>
	{name} {labval ? `(${labval})` : ``}: 
</label>

<input 
	type = range
	bind:value={value} 
	on:input = {fce} 
	{max}
	{min}
	{step}
>
	


 

<style>
input{
	width: 200px;
}
</style>