<script>
	export let value;
	export let name;
	export let fce = ()=>{};
</script>

 
<label>
	<input type = color bind:value={value} on:input = {fce} >
	{name}
</label>

 

<style>
</style>