<script>
	import {DISPLAY} from "Gui/gui.js";
	import Link_big from 'Gui/buttons/Link_big.svelte';
	import Check from './Settings_check.svelte';
	import Color from './Settings_color.svelte';
	import Range from './Settings_range.svelte';
	import Npc from './Settings_npc.svelte';
	
	import {author, NPC} from 'System/variables';
	import {storage_disabled, apply_everything, apply_css, apply_npcs, apply_setting} from "System/load";

	import {constants} from "Data/constants";
	import {default_npcs as list_default_npcs} from "Data/npcs/npcs";

	let setting = SETTING;
	
	function confirm(){
		apply_npcs(NPC);
		apply_setting(setting);
		DISPLAY.menu();
	}
	
	function default_values(){
		apply_everything({
			npcs: list_default_npcs,
			css: constants.css,
			setting: constants.setting,
		});
		setting = SETTING;
		cast = get_cast();
	}
	
	
	//CHEATS
	function cheatmode(){
		if(setting.debug){
			setting.hardbug = true;
			setting.softbug = true;
		}else if(setting.hardbug){
			setting.softbug = true;
		}else{
			setting.noclip = false;
			if(setting.softbug){
		
			}else{
				setting.taskmaster = false;
				setting.taskmaster_random = false;
				setting.alchemist = false
			}
		}
		debug = SETTING.debug;
		hardbug = SETTING.hardbug;
		softbug = SETTING.softbug;
		DISPLAY.check();
	}
	
	
	//AVATAR
	import {rebuild} from "Avatar/canvas/initiate.js";
	import {draw} from "Avatar/canvas/draw.js";
	function change_avatar(){
		rebuild(); //initiates again the DAD canvas
		draw(); //draws the avatar
		apply_setting(setting); //changes the width of the div_player
	}
	function default_avatar(){
		setting.avatar_width = constants.setting.avatar_width;
		apply_setting(setting);
		rebuild();
		draw();
	}
	
	
	//MAPS
	function default_maps(){
		setting.map_size = constants.setting.map_size;
		setting.minimap_size = constants.setting.minimap_size;
	}
	
	
	//ECONOMY
	function default_economy(){
		setting.irl_economy = constants.setting.irl_economy;
		setting.game_economy = constants.setting.game_economy;
	}
	
	//COLORS
	import {toHEX} from "Libraries/color/index.js";
	let colors = {};
	["bgr", "highlight", "bgr2", "text", "bgr3","good","bad"].forEach( a => colors[a] = toHEX(getComputedStyle(document.documentElement).getPropertyValue(`--${a}`)) );
	function change_colors(){
		apply_css(colors);
	}
	function default_colors(){
		Object.keys(colors).forEach( a => colors[a] = constants.css[a] );
		apply_css(colors);
	}
	
	//NPC
	import names from "Libraries/names";
	import {pick_one, pick_index, female_surname} from "Libraries/dh";
	function get_cast(){ return Object.keys(NPC).filter( a => !NPC[a].fantasy ) };
	let cast = get_cast();
	function default_npcs(){
		apply_npcs(list_default_npcs);
		cast = get_cast();
	}
	function random_npcs(){
		const local = pick_one(["english","german","polish","slovak","slovak"]);
		const available = [];
		available[1] = names[`female_${local}`].map(a => a);
		available[0] = names[`male_${local}`].map(a => a);
		available[2] = names[`surname_${local}`].map(a => a);
		
		const npcs = {};
		
		Object.keys(NPC).forEach( a => {
			let {name, sex, surname, altname, fantasy} = NPC[a];

			if(fantasy) return;
			if(name){
				const index = pick_index(available[sex]);
				name = available[sex][index];
				available[sex].splice(index, 1);
			}
			
			if(surname){
				const index = pick_index(available[2]);
				surname = available[2][index];
				available[2].splice(index, 1);
				if(sex){
					surname = female_surname(surname, local);
				}
			}
			
			if(altname && name){ 
				altname = name;
			}

			if(!name && altname){ //pe teacher exeption
				const index = pick_index(available[sex]);
				altname = available[sex][index];
				available[sex].splice(index, 1);
			}
			
			npcs[a] = {name, surname, altname};
		});
		
		apply_npcs(npcs);
		setting.local = local;
		cast = get_cast();

	}
	

</script>

 
<div class = "colm">
	
	<h3>Cheatmode</h3>
		<Check fce = {cheatmode} bind:value = {setting.softbug} name = "#Soft (reveal options hidden beyond random chance or extra work)" />
	
	{#if author === "DAHAKMA"}
		<Check fce = {cheatmode} bind:value = {setting.hardbug} name = "##Hard (reveal options requiring different stats or different previous choices; potentially game-breaking) [PATREON ONLY]" />
		<Check fce = {cheatmode} bind:value = {setting.debug}   name = "###Debug (including work in progress and things used for testing) [PATREON ONLY]" />	
	{:else}
		<Check disabled = {true} name = "##Hard (reveal options requiring different stats or different previous choices; potentially game-breaking) [PATREON ONLY]" />
		<Check disabled = {true} name = "###Debug (including work in progress and things used for testing) [PATREON ONLY]" />
	{/if}
	
	{#if setting.softbug}
		<h3>Cheats</h3>
		<Check bind:value = {setting.taskmaster} name = "Manual task selections" />	
		<Check bind:value = {setting.taskmaster_random} name = "Manual random events" />	
		<Check bind:value = {setting.alchemist} name = "Always control potion effects" />	
<!--		<Check bind:value = {setting.roll_chance} name = "Dicerolling options - display chance" />	 -->

	{/if}
	{#if setting.hardbug}
		<Check bind:value = {setting.noclip} name = "Dungeon noclip mode" />		
		<Check bind:value = {setting.immortality} name = "Immortality" />		
	{/if}
	{#if setting.debug}
		<Check bind:value = {setting.combat_ai} name = "Combat enemies AI controlled" />		
	{/if}
	
	<h3>Settings</h3>
	<Check bind:value = {setting.no_virtual_game} name = "Skip the virtual game parts" />
	<Check bind:value = {setting.no_emotions} name = "Disable facial expressions" />
	<Check bind:value = {setting.no_zoom} name = "Disable avatar zoom" />
	<!--
		<Check bind:value = {setting.hint} name = "Display hints" />
	-->
	<Check bind:value = {setting.hint} name = "Display hints" />
	<Check bind:value = {setting.keyboard} name = "Allow keyboard" />
	<Check bind:value = {setting.show_names} name = "Show names before direct speech" />
	
	<h3>Avatar</h3>
	<Range 
		bind:value = {setting.avatar_width}
		fce = {change_avatar}
		name = "Avatar size"
		min = 150
		max = 600
	/>
	<button on:click={default_avatar}>
		Default avatar
	</button>
	
	<h3>Map</h3>
	<Range 
		bind:value = {setting.minimap_size}
		name = "Minimap block size"
		min = 25
		max = 100
		label_value = {(value)=> `${value}px`}
	/>
	<Range 
		bind:value = {setting.map_size}
		name = "Map block size"
		min = 25
		max = 100
		label_value = {(value)=> `${value}px`}
	/>
	<button on:click={default_maps}>
		Default Maps
	</button>
	
	<h3>Colors</h3>
	<Color fce = {change_colors} bind:value = {colors.highlight} name = "Highlight" />
	<Color fce = {change_colors} bind:value = {colors.text} name = "Text" />
	<Color fce = {change_colors} bind:value = {colors.bgr} name = "Background" />
	<Check fce = {change_colors} bind:value = {setting.bgr2} name = "Use side colum background" />
	{#if setting.bgr2}
		<Color fce = {change_colors} bind:value = {colors.bgr2} name = "Side column background" />
	{/if}
	<Check fce = {change_colors} bind:value = {setting.bgr3} name = "Use page background" />
	{#if setting.bgr3}
		<Color fce = {change_colors} bind:value = {colors.bgr3} name = "Page background" />
	{/if}
<!--
	<Color fce = {change_colors} bind:value = {colors.good} name = "Good color" />
	<Color fce = {change_colors} bind:value = {colors.bad} name = "Bad color" />
-->
	<button on:click={default_colors}>
		Default colors
	</button>
	
	<h3>Cast</h3>
	{#each cast as key}
		{#if !NPC[key].minor || setting.hardbug}
			<Npc npc = {NPC[key]} />
		{/if}
	{/each}
	
	<button on:click={random_npcs}>
		Random NPCs
	</button>
	<button on:click={default_npcs}>
		Default NPCs
	</button>
	
	
	
	
	<h3>Notifications (EXPERIMENTAL)</h3>
		<Check bind:value = {setting.notifications_save} name = "autosave"/>
		<Check bind:value = {setting.notifications_payment} name = "bank payment"/>
		<Check bind:value = {setting.notifications_mile} name = "major variables"/>
		<Check bind:value = {setting.notifications_test} name = "few minor variables"/>

	
	
	{#if setting.debug}
		<h3>###Inventoray</h3>
		<Check bind:value = {setting.grid_inventory} name = "Use table instead of two columns (wip)" />

		<h3>###Economy</h3>
		<Range 
			bind:value = {setting.irl_economy}
			name = "IRL prices"
			min = 0.25
			max = 3
			step = 0.25
			label_value = {(value)=> `${value*100}%`}
		/>
		<Range 
			bind:value = {setting.game_economy}
			name = "Virtual game prices"
			min = 0.25
			max = 3
			step = 0.25
			label_value = {(value)=> `${value*100}%`}
		/>
		<button on:click={default_economy}>
			Default Economy
		</button>
	{/if}
	
</div>


<Link_big text = "Confirm" fce = {confirm} inlineStyle = "text-align: left; width: fit-content;"/>
<Link_big text = "Default values" fce = {default_values} inlineStyle = "text-align: left; width: fit-content;"/>




 

<style>

.colm{
	display: flex;
	flex-direction: column;
	font-weight: bold;
}

.colm button{
	text-align: left;
	width: fit-content;
}

</style>