.markdown-preview-view h1 {
    color: navy;
	text-align: center;
	text-decoration: underline; 
}

.cm-header-1 {
    color: navy;
}


.markdown-preview-view h2 {
    color: navy;
	/*text-decoration: underline; */
}

.cm-header-2 {
    color: navy;
}


.markdown-preview-view h3 {
    color: navy;
	font-size: 120%;
}

.cm-header-3 {
    color: navy;
	font-size: 120%;
}


.markdown-preview-view h4 {
    
	font-size: 100%;
	
	padding: 0;
	margin: 0;
}

.cm-header-4 {
    
	font-size: 100%;
	
	padding: 0;
	margin: 0;
}






.weeks {
/*	font-weight: bold;*/
	color: grey;
	/*background-color: grey;*/
}

.task {
	color: red;
}

.random {
	color: green;
}

.optio {
	color: blue;
}

.shop {
	color: teal;
}

		
		

/* by D */
/*
.markdown-preview-view h5 {
    color: navy;
	font-size: 100%;
	text-align: center;
}

.cm-header-5 {
    color: navy;
	font-size: 100%;
	text-align: center;
}
*/