.markdown-preview-view h1 {
    color: navy;
}

.cm-header-1 {
    color: navy;
}


.markdown-preview-view h2 {
    color: navy;
}

.cm-header-2 {
    color: navy;
}


.markdown-preview-view h3 {
    color: navy;
	font-size: 120%;
}

.cm-header-3 {
    color: navy;
	font-size: 120%;
}