<script>
import Bar from './Attributes_bar.svelte';
import {attributes} from "Data/virtual/attributes";
const main = Object.keys(attributes).filter( key => attributes[key].sidebar );
</script>

<div id = "div_attributes">
	{#each main as key}
		<Bar {key} />
	{/each}
</div>


<style>
#div_attributes{
	text-align:center;
	
	display: grid;
	grid-template-columns: 10ch 1ch;
	grid-column-gap: 1ch;
	justify-content: center;
	
	font-weight: bold;
	color: var(--highlight);
}
</style>