<script>
	import {attributes} from "Data/virtual/attributes";
	import {capitalise} from "Libraries/dh";
	import {DISPLAY} from "Gui/gui.js";
	
	export let key;
	
	$: value = $DISPLAY.PC?.att?.[key];
	$: alt = ATTRIBUTES.desc(key, PC);
	$: name = capitalise(attributes[key].name);
	
	//attaches on hover tooltip
	let divy;
	import {afterUpdate} from 'svelte';
	import {tooltip} from 'Gui/gui.js';
	import {ATTRIBUTES} from "Virtual/attributes";
	
	afterUpdate(() => {
		if(alt) tooltip(divy, alt, true);
	});


</script>

 
<div class = "left" bind:this = {divy}>
	{name}: 
</div> 
<div class = "right">
	{value}
</div> 



<style>
.left{
	text-align: right;
	/*pointer: help;*/
}
.right{
	text-align: left;
}
 </style>