<script>
import {KEYBOARD} from "System/keyboard.js";
import {constants} from "Data/constants";
const keybuttons = constants.keyboard; //TODO - TEMPORARY


function prefix(what, fce){
	if(!SETTING.keyboard || !what) return ``;
	if(what === "menu")	return `[esc]`;
	const assigned = Object.keys(keybuttons).includes(what) ? keybuttons[what] : undefined;
	
	if(assigned) KEYBOARD.attach(fce, assigned);
	
	return `[${assigned}]`;
}

export let fce = ()=>{};
export let text = "empty";
export let key = "";

//attaches on hover tooltip
export let alt = "";
import {afterUpdate} from 'svelte';
import {tooltip} from 'Gui/gui.js';
let divy;
afterUpdate(() => {
	if(alt) tooltip(divy, alt, !fce);
});

</script>


<button 
	bind:this = {divy}
	class = "buttline" 
	on:click={fce}
>
	{prefix(key, fce)}{text}
</button>


<style>
button{
	width: auto;
}
</style>
