<script>
import Attributes from 'Gui/side/Attributes.svelte';
import Subslut from 'Gui/side/Subslut.svelte';
import Time from 'Gui/side/Time.svelte';
import Side_menu from 'Gui/side/Side_menu.svelte';

import {DISPLAY} from "Gui/gui.js";

$: ({attributes, subslut} = $DISPLAY.display);
</script>


{#if $DISPLAY.head.reality === 3}
	<Attributes/>
{/if}
{#if $DISPLAY.head.reality !== 3}
	<Subslut/>
{/if}

<Side_menu/>

{#if $DISPLAY.head.reality !== 3}
	<Time/>
{/if}
