<script>
import {DISPLAY} from "Gui/gui.js";
import Button from "./Side_menu_button.svelte"
import {INVENTORY} from "Avatar/index.js";

//for debuging
import {main} from "Loop/engine.js";
import {next_day, next_event} from "Taskmaster/scheduler"; 

$: reality = $DISPLAY.head.reality;
$: sog = $DISPLAY.setting.softbug;
$: bug = $DISPLAY.setting.hardbug;
$: dug = $DISPLAY.setting.debug;
$: money = $DISPLAY.ext.irl_money ? "(" + $DISPLAY.ext.irl_money.toFixed(2) + "€)" : "";

</script>

<div id = "div_side_menu">

	<Button 
		text = "Character"
		key = "character"
		fce = {()=> DISPLAY.subtext("character")}
	/>
	

	{#if reality === 3}
		<Button 
			text = "Inventory"
			key = "inventory"
			fce = {()=> INVENTORY.menu()}
		/>
		<!-- calling just "inventory" fucks up defalut arguments for some reason  -->
		
		
		{#if $DISPLAY.ext.follower}
			<Button 
				text = "Follower"
				key = "follower"
				fce = {()=> {
					if(window.ext.follower) DISPLAY.subtext("follower")
				}}
			/>
		
			<Button 
				text = "Follower's Inventory"
				key = "follower_inventory"
				fce = {()=> {
					if(window.ext.follower) INVENTORY.menu(window.ext.follower)
				}}
			/>
		{/if}

	{/if}
	
	<Button 
		text = "Load/Save"
		key = "load"
		fce = {()=> DISPLAY.subtext("load")}
	/>
		
	<Button 
		text = "Menu",
		key = "menu"
		fce = {()=> DISPLAY.subtext_only("menu")}
	/>
		
		
	{#if reality !== 3}
		<Button 
			text = {`Account ${money}`}
			fce = {()=> DISPLAY.subtext("account")}
		/>
	{/if}
	
	{#if reality !== 3}
			<Button 
			text = "People"
			fce = {()=> DISPLAY.subtext("people")}
		/>
	{/if}
	
	<Button 
		text = "Stats"
		fce = {()=> DISPLAY.subtext("ledger")}
	/>
	
	<Button 
		text = "Rules"
		fce = {()=> DISPLAY.subtext("rules")}
	/>
	
	
	<Button 
		text = "⚠️ Force next event ⚠️ "
		fce = {()=> {
			DISPLAY.text(""); //to disable morning dressing-up screen
			next_event();
		}}
	/>
	
	<Button 
		text = "⚠️ Schedule ⚠️ "
		fce = {()=> {
			DISPLAY.subtext("clr_schedule");
		}}
	/>
	
	{#if bug}
		<Button 
			text = "##restart event"
			fce = {()=> main(101)}
		/>
		
		
		
		<Button 
			text = "##next day"
			alt = "Forces the next day"
			fce = {()=> {
				next_day();
			}}
		/>
		
		<Button 
			text = "##reset day"
			fce = {()=> {
				window.head.schedule = -1;
				next_event();
			}}
		/>
	
	{/if}


	{#if dug}
		<Button 
			text = "###testShop"
			fce = {()=> INVENTORY.shop("testShop")}
		/>
<Button 
	text = "###test"
	fce = {()=> INVENTORY.shop("test")}
/>
<Button 
	text = "###test"
	fce = {()=> INVENTORY.shop("shoes")}
/>
		<Button 
			text = "###inventory"
			fce = {()=> INVENTORY.menu()}
		/>
	{/if}
	
		
		
</div>

<style>
#div_side_menu{
	display: flex;
	flex-direction: column;
}
 </style>