<script>
	import {DISPLAY} from "Gui/gui.js";
	import {constants} from "Data/constants";
	import {clamp} from "Libraries/dh";
	export let title;
	export let key;
	
	const max_width = 150 - 4; //px - margin
	$: change = $DISPLAY.subslut[key]; //is value different than the previous? => display triangle
	$: value = clamp( $DISPLAY.mile[key], constants[key].min, constants[key].max ); //value to be displayed
	$: percent = Math.abs(-value + constants[key].min) * (1 / (constants[key].max + Math.abs(constants[key].min))   );
	$: width = clamp(percent * max_width, 0, max_width); //filler in vial 
	
</script>


<div class = "label">{title}: </div>

{#if change < 0}
<div class = "down"></div> 
{/if}

<div class = "vial" title = {value}>
	<div class = "fill" style = "width: {width}"></div>
</div>

{#if change > 0}
<div class = "up"></div> 
{/if}

<style>
.label{
	grid-column: 2 / 4;
}

.vial{
	grid-column: 2 / 3;
	/*position: relative;*/
	width: 150px;	
	height: 1rem;
	background-color: var(--highlight);
	/*margin: 5px;*/
}

.fill{
	position: absolute;
	width: calc(150 + 4px);  
	height:  calc(1rem - 4px);
	margin: 2px;
	background-color: var(--bgr);
}

.up{
	/*visibility: hidden;*/
	width: 0;
	height: 0;
	border-top: 0.5rem solid transparent;
	border-left: 1rem solid var(--highlight);
	border-bottom: 0.5rem solid transparent;
}

.down{
	/*position: relative;*/
	/*visibility: hidden;*/
	width: 0;
	height: 0;
	border-top: 0.5rem solid transparent;
	border-right: 1rem solid var(--highlight);
	border-bottom: 0.5rem solid transparent;
	/*background-color: var(--highlight);*/
}

 </style>