<script>
import Bar from './Subslut_bar.svelte';
</script>

<div id = "div_subslut">
	<Bar title = "Submisiveness" key = "sub"  />
	<Bar title = "Sluttiness" key = "slut"  />
	<Bar title = "Status" key = "stat"  />
</div>

<style>

#div_subslut{
	justify-content: center;
	display: grid;
	grid-template-columns: 1rem 150px 1rem;
	grid-template-rows: auto;
	grid-column-gap: 4px;
	grid-row-gap: 0.5ch;
	
	font-weight: bold;
	color: var(--highlight);
}

</style>

