<script>
import {time} from "System/time";
import {name_timeslot} from "Taskmaster/scheduler";
import {DISPLAY} from "Gui/gui.js";
import {capitalise} from "Libraries/dh.js";

$: now = `
	${capitalise(name_timeslot()) ?? ""} 
	<br>${time.day_name} 
	<br>
	<br><small>Day ${$DISPLAY.head?.day}; Week ${time.week}</small>
`;
//<br>${$DISPLAY.head?.placetime?.time ? "" : ""}
		
</script>

<div id = "div_now">
	{@html now}
</div>

<style>

#div_now{
	
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-style: italic;
	
	/*
	display: grid;
	grid-template-columns: 1rem 150px 1rem;
	grid-template-rows: auto;
	grid-column-gap: 4px;
	grid-row-gap: 0.5ch;
	*/
	font-weight: bold;
	color: var(--highlight);
}

</style>

