/* CLICKABLE BUTTONS */


/* main button used for options in game, block */ 
button {
	position: relative;
	
	/* remove defalut button style */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	font: inherit;
	outline: inherit;
	

	display: block;
	width: 100%;
	/*TODO - width: fit-content; ???*/
	/*padding: 1ch 1ch 1ch 0ch; *//*(top)(right)(bottom)(left)*/
	padding: 1ch 1ch 1ch 1ch; 
	
	cursor: pointer;
	text-align: left;
	font-weight: bold;
	font-size: 100%;
	
	color: var(--highlight);
	background: none;
	
	border-radius: 1ch
}

button:hover {
	 /* there is no let padding (handled by parent) but on hover is created a virtal one*/
	 /*
	left: -1ch;
	padding-left: 1ch;
	*/
	
	color: var(--bgr);
	background-color: var(--highlight);
}	



/* main links button */
.buttlink{
	/*(top)(right)(bottom)(left)*/
	padding: 1ch 1ch 1ch 0ch; 
}
.buttlink:hover {
	/* there is no let padding (handled by parent) but on hover is created a virtal one*/
	left: -1ch;
	padding-left: 1ch;
}	





/*big buttons in menu*/
.menu{
	font-size: 130%;
	width: 100%;
	text-align: center;
}
.menu:hover {
	/*
	left: 0;
	padding-left: 0;
	*/
	border-radius: 1ch;
	color: var(--bgr);
	background-color: var(--highlight);
}	




/* inline button */
.buttline{
	display: inline;
	text-align: center;
	padding: 1ch 1ch 1ch 1ch; /*(top)(right)(bottom)(left)*/
	width: auto;
}
.buttline:hover {
	left: 0; /* there is no let padding (handled by parent) but on hover is created a virtal one*/
	/*
	border-radius: 1ch;
	color: var(--bgr);
	background-color: var(--highlight);
	*/
}	






/* clickable things, like ahref, inline buttons */
.click{
	display: inline;
	color: var(--highlight);
	
	cursor:pointer;
	font-weight: bold;
}

.click:hover{
	color: var(--bgr);
	background-color: var(--highlight);
}

.not_click{ /* looks clicable but isn't */
	display: inline;
	color: var(--highlight);
	
	cursor: default;
	font-weight: bold;
}






/* inactive link you cannot click on*/
.dead{	
	color: var(--dead); 	
	cursor: auto;
	text-decoration: line-through;
}
