/* tooltip */
#div_ultra{
	position: fixed;
	z-index: 7;
	padding: 1ch;
	
	color: black;
	background-color: white;
	display: none;
	
	margin-right: 10px;
	
	border-radius: 0.5ch;
	/*
	-webkit-box-shadow: 9px 9px 20px -10px rgba(0,0,0,0.55); 
	box-shadow: 9px 9px 20px -10px rgba(0,0,0,0.55);
-webkit-box-shadow: 5px 5px 10px 0px #000000; 
box-shadow: 5px 5px 10px 0px #000000;	*/


-webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.9); 
box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.9);

}

