.saves_menu{
	display: grid;
	/*justify-content: center;
	grid-template-columns: repeat(3, auto);  
	*/
	grid-template-columns: 28ch 8ch 10ch;
	/*grid-auto-rows: 4ch;*/ /*TODO - MINIMAL; MAXIMAL AUTO*/ /*todo - already handled by link padding??*/
	grid-column-gap: 5ch;
	grid-row-gap: 1ch;
	text-align: left;
}


/* option you are picking in the game, block */
.saves_link {
	position: relative;
	cursor:pointer;
	font-weight: bold;
	display: inline-block;/*TODO!!!!*/
	/*max-width: 50ch;*/ /*TODO*/
	width: auto; 
	color: var(--highlight);

	/*padding: 0.5rem; */
	padding: 1ch 2ch 1ch 0ch;
	
	/*grid-column: 1 / -1; */ /*TODO*/ /* when in grid, takes whole row */
}
.saves_link:hover {
	padding-left: 2ch;
	left: -2ch;
	border-radius: 1ch;
	color: var(--bgr);
	background-color: var(--highlight);
}



/* iventory */
.two_columns{
	display: grid;
	justify-content: start;
	grid-template-columns: repeat(2, auto);  
	grid-column-gap: 5px;
}













/*
	what is this?!?
*/
#div_potion{
		padding: 50px;
		padding-top:80px;
		z-index: 5;
		width: 100%;/*calc(100% - 500px);*/
		height: 100%; /*calc(100% - 130px);*/ 
/* TODO!!*/
		position: absolute;
	/*	max-width: 600px; */
	/*	padding-top:30px;*/
/*		background-color: red;*/
/*background-color:  green; */
background-color: var(--bgr); 
	}	
	
	
	
