/* VARIABLES */
:root{
	/* the default colour of text */
	--text:  hsla(0, 0%, 0%, 1);
	
	/* non-activelinks  */
	--dead: grey;

	/*  the main font colour, */
	--highlight: hsla(222, 90%, 10%, 1);
	
	/* the main background colour,*/
	--bgr:  hsla(228, 10%, 80%, 1); 
	--grad: linear-gradient(to right bottom, hsla(228, 10%, 85%), hsla(228, 10%, 75%) 100%);
	
	/* the second background colour, (side menu) */
	--bgr2:  hsla(228, 10%, 80%, 1); 
	--grad2: linear-gradient(to right bottom, hsla(228, 10%, 85%), hsla(228, 10%, 75%) 100%);

	/* the third background colour (page},*/
	--bgr2:  hsla(228, 10%, 80%, 1); 
	--grad2: linear-gradient(to right bottom, hsla(228, 10%, 85%), hsla(228, 10%, 75%) 100%);

	/* bad color */
	--bad: hsla(0, 100%, 45%, 1);
	
	/* good color */
	--good:  hsla(120, 100%, 45%, 1);
	
	
	/* */
	--pageBackgroundColor: linear-gradient(to right bottom, hsla(228, 10%, 85%), hsla(228, 10%, 75%) 100%);
	--textBackgroundGrad: linear-gradient(to right bottom, hsla(228, 10%, 85%), hsla(228, 10%, 75%) 100%);
	
	--textBackgroundColor: linear-gradient(to right bottom, hsla(228, 10%, 85%), hsla(228, 10%, 75%) 100%);
	--textBackgroundGrad: linear-gradient(to right bottom, hsla(228, 10%, 85%), hsla(228, 10%, 75%) 100%);
	
	/* background of active links, */
	--hoover: hsla(220, 0%, 0%, 1);

	/*
		accessed by:
			var(--highlight); 	
			var(--bgr);
			var(--text); 	
		eg:
			background-color: var(--bgr); 
	*/
}




/*
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');

@font-face {
  font-family: rubik;
 

  src: url("./Images/Fonts/rubik.ttf") format("truetype");
}

 */

html{
	margin: 0;
	padding: 0;
	
	/*
	background-color: var(--bgr); 	
	background-image: var(--grad);
	*/
}

body{
	/*
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-family: "Cambria", "Georgia", "Times New Roman", Times, serif;
		font-family: 'Rubik', sans-serif;
font-family: 'Libre Baskerville', serif;

font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
*/
	font-family: 'Cambria', serif;
/**/
	

	color: var(--text); 

	margin: 0;
	padding: 0;
}



h1 { /* name in characters window; I don't think its used anywhere else */
	font-size: 190%;
	grid-column: 1 / -1; /* when in grid, takes whole row */
	color: var(--highlight); 	
} 


h2 { /* not used */
	grid-column: 1 / -1; /* when in grid, takes whole row */
	color: var(--highlight); 	
}


h3 { /* used everywhere */
	font-size: 120%;
	color: var(--highlight);
	margin-bottom: 0.5em;
	text-decoration: underline;
}


label{ 
	cursor: pointer; /* always used with checkbox or radio and clickable */
}

code{
	background-color: white;
	color: black;
}



#container{
	/*
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	*/
}