/* TEXT OF THE GAME */

/* all paragraphs of the story have this class */
.speech{
	display: block;
	padding: 1ch 0; /* horizontal padding handled by parent  */
	width: auto;
	max-width: 75ch; /* upper limit of ideal text width, but acceptable due short paragraphs */
}


.neutral{ /* todo - pointless? */
	color: var(--text); 	
}

.spoiler{
	background-color: var(--text); 	
	color: var(--text); 	
}
.spoiler:hover {
	background-color: transparent;
}

.hint{
	color: var(--text); 	
	size: 90%; 
	font-style: italic;
}

.bold{
	color: var(--text); 	
	font-weight: bold;
}


.smol{
	color: var(--text); 	
	size: 80%; 
	font-style: italic;
}




.choice{
	cursor:pointer;
	font-weight: bold;
	display: inline;
	color: var(--text); 	
	border:0;
	padding:0;
}
.choice_active{	
	border: 1px solid red;
	/*padding-left: 5px;
	padding-right: 5px;*/
}
.choice_dead{	
	color: var(--dead); 	
	text-decoration: line-through;
}






.bloody{
	
	font-size: 200%;
	color: red;
	padding: 2rem;
	font-weight: bold;
	/*height: 100%;*/
	/*height: 1rem;*/
	/*background-color:cyan;*/
}


