/* wardrobe */

#war_div_holder{
	display: flex;
	flex-direction: row;
	background-color: var(--bgr);
	
	
	/*background-color: white;*/
	height: 95vh;
	/*
	max-height: 100%; calc(100% - (5% + 30px) );
	*/
	
	/*for firefox*/
	scrollbar-width: auto;
	scrollbar-color: var(--highlight) var(--bgr2);  
		
}

#war_div_left{
	min-width: min(20%, 250px); /*TODO*/
	padding: 20px;
	
	display: flex;
	flex-direction: column;
	
	background-color: var(--bgr2); 
	
	margin-left: 10px;
	margin-right: 10px;

	/*overflow: none;*/
	overflow: auto;
}

#war_div_right{
	min-width: min(20%, 250px); /*TODO*/
	padding: 20px;
	
	
	display: flex;
	flex-direction: column;
	/*background-color: red;*/
	
	background-color: var(--bgr2); 
	margin-left: 10px;
	margin-right: 10px;

	/*height: 90%;*/
	overflow: auto;
}

#war_div_trade{
	min-width: min(20%, 250px); /*TODO*/
	
	padding: 20px;
	display: flex;
	flex-direction: column;
	/*background-color: cyan;*/
	
	background-color: var(--bgr2); 
	margin-left: 10px;
	margin-right: 10px;
	
	/*
	height: calc(100% - (5% + 30px) );
	max-height: 100%; */
	overflow: auto;
}

#war_div_mid{
	/*padding-top: 20px; 
	padding-bottom: 20px; */
	/*background-color: cyan;*/
	
	 
}

#war_div_confirm{
	/*color: green; */
}

#war_div_cancel{
	/*color: red; */
}

#war_div_men{
	width: 100%;
	padding-bottom: 20px; 
	row-gap: 10px;
  display: grid;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "confirm confirm cancel cancel"
    "strip stripAll randomAllowed random"
    "sort sort sort sort"
	"imp imp imp imp";
	
}

.war_men_item{
	justify-self: stretch;
	 
	 padding: 5px;
	display: block;
	
	cursor:pointer;
	font-weight: bold;
}

#war_for_inp{
	grid-area: imp;
/*	margin-top: 10px; 
	margin-bottom: 10px; */
	margin-left: 5px; 
	width: 80%;
}

#war_for_sort{
	grid-area: sort;
	margin-top: 10px;  /*TODO - handles gap betwen 2nd and 3rd row of the menu*/
/*	margin-top: 10px; 
	margin-bottom: 10px; */
	margin-left: 5px; 
	width: 80%;
}


#war_div_bot{
	bottom: 0; 
/*	background-color: lime;*/
}

.war_item{
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	cursor:pointer;
	font-weight: bold;
}



.war_item:hover{
	color: var(--bgr);
	background-color: var(--highlight);
}
 