<script>
import {popup} from "Gui/gui.js";
import {x_plural} from "Libraries/dh.js";
import {ra} from "Libraries/random.js";
$: ({window, text, max, default_value, options} = $popup);
const done = popup.done;

document.body.scrollTop = 0; // For Safari
document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera

$: value = (()=>{
	if(window === "splitter") return max ? Math.ceil(max/2) : 0;
	if(window === "prompt") return default_value;
})();

</script>

<div id = "curtain">
	{#if window === "alert"}
		<div id = "box">
			<div id = "content">
			{@html text}
			</div>
			<button on:click = {()=> done(true)}>
				Fine!
			</button>
		</div>
	{:else if window === "confirm"}
		<div id = "box">
			<div id = "content">
			{@html text}
			</div>
			<div id = "button_row">
				<button  on:click = {()=> done(true)}>
					✔️ Okay.
				</button>
				<button on:click = {()=> done(false)}>
					No!
				</button>
			</div>
		</div>
	{:else if window === "prompt"}
		<div id = "box">
			<div id = "content" style = "padding: 0">
				 {@html text}
				 
				<input 
					id = textfield
					type = text
					bind:value
					on:keydown|stopPropagation
				>
			</div>
			<div id = "button_row">
				<button  on:click = {()=> done(value)}>
					✔️&nbsp;Okay.
				</button>
				{#if options}
					<button  on:click = {()=> value = ra.array(options)}>
						Random.
					</button>
				{/if}
				<button on:click = {()=> done(undefined)}>
					Cancel.
				</button>
			</div>
		</div>
		
		
	{:else if window === "options"}
		<div id = "box">
			<div id = "button_column">
				{#each options as item}
					<button  on:click = {()=>{ 
						done();
						item.fce(); //TODO - THIS ORDER IS IMPORTANT
					}}>
						{item.text}
					</button>
				{/each}
			</div>
		</div>

	{:else if window === "splitter"}
		<div id = "box">
			<div id = "content" style = "padding: 0">
				 {@html x_plural(value, text)}
				 
				<input 
					id = range
					type = range
					bind:value
					{max}
					min = 0
				>
			</div>
			
			
			<div id = "button_row">
				<button  on:click = {()=> done(value)}>
					✔️&nbsp;Okay.
				</button>
				<button  on:click = {()=> done(max)}>
					Everything.
				</button>
				<button on:click = {()=> done(0)}>
					Cancel.
				</button>
			</div>
		</div>
	{/if}

</div>


<style>
#range{
	width: 100%;
	padding: 2em 0em 2em 0em;
	display: block;
}

#textfield{
	width: 20ch;
	padding: 0;
	margin: 2em auto;
	display: block;
}

#button_row{
	display: flex;
	flex-direction: row;
}

#button_column{
	display: flex;
	flex-direction: column;
}

button{
	text-align: center;
	padding-left: 1ch; /* supressing default option button */
}
button:hover{
	left: 0;  /* supressing default option button */
}

#content{
	text-align: center;
	padding-top: 1em;
	padding-bottom: 2em;
	font-weight: bold;
}

#curtain{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	rigt: 0;
	height: 100%;
	width: 100%;
	z-index: 7;
	
	background-color: hsla(0, 0%, 0%, 0.6);
	
	display: flex;
	justify-content: center;
	align-items: center;
}

#box{
	position: relative;
	top: -10%;
	z-index: 8;
	
	min-width: 20ch;
	min-height: 2em;
	padding: 2em;

	color: black;
	background-color: white;
	
	border-radius: 1ch;
	
	/* from tooltip */
	-webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.9); 
	box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.9);
}
</style>