<script>
	import {onMount, afterUpdate} from 'svelte';
	import { fade, scale } from "svelte/transition";
	 
	//width
	const max_bar_width = 400; //TODO - should not be hardcoded
	export let value = 0;
	export let max = 10;
	
	$: fraction = max_bar_width / max;
	$: desired_width = Math.round(value * fraction);
	
	$: actual_width = 40;
	$: if(actual_width != desired_width) setTimeout(update, 5);
	
	
	onMount(() => {
		actual_width = desired_width;
	});
	
	function update(){
		if(actual_width < desired_width){
			actual_width = actual_width + fraction/10;
			if(actual_width > desired_width){
				actual_width = desired_width;
			}
		}else if(actual_width > desired_width){
			actual_width = actual_width - fraction/10;
			if(actual_width < desired_width){
				actual_width = desired_width;
			}
		}
	}

	
	//text
	export let text = "empty";
	
	//fce
	export let fce = undefined;
	export let fce_alt = undefined;
	
	//alt
	export let alt;
	import {tooltip} from 'Gui/gui.js';
	let bar;
	let label;
	
	//extra
	export let extra;
	let exx;
	//console.log(extra?.fce)
	
	afterUpdate(() => {
		const bar_alt = alt ?? `${text} ${value}/${max}`;
		tooltip(label, fce_alt ?? bar_alt, false);
		tooltip(bar, bar_alt, true);
		if(extra) tooltip(exx, extra.alt, false);
	});

	
	
	//color
	export let color = 25;
	$: background =  `linear-gradient(hsla(${color}, 100%, 75%, 1), hsla(${color}, 100%, 50%, 1), hsla(${color}, 100%, 25%, 1) )`;

</script>




{#if fce}
	<div
		bind:this = {label}
		class = "label_active"
		on:click={fce} 
	>
		{text}
			{#if extra}
				<span 
					bind:this = {exx} 
					class = "exx_icon"
					on:click|stopPropagation={extra.fce}
				>
					{extra.icon}
				</span>
			{/if}
	</div>
{:else}
	<div bind:this = {label} class = "label_passive">
		{text}
			{#if extra}
				<span 
					bind:this = {exx} 
					class = "exx_icon"
					on:click|stopPropagation={extra.fce}
				>
					{extra.icon}
				</span>
			{/if}
	</div>
{/if}


<div
	
	bind:this = {bar}
	class = "bar"
	style = "
		width: {actual_width};
		background-image: {background};
	"
/>

<!-- 
backgroundImage: {background

<div
	bind:this = {bar}
	class = "bar",
	style = "
		width: {width}
		backgroundImage: {background}
	"
/>

--->

<style>
.label_active{
	width: 100px;
	font-weight: bold;
	font-size: 0.9rem;
	cursor: pointer;
}
.label_passive{
	font-weight: bold;
	font-size: 0.9rem;
	
}
.bar{
	width: 400px;
	/*height: 100%;*/
	height: 1rem;
	background: navy;
}
.exx_icon{
	cursor: pointer;
}
</style>