<script>
	import {DISPLAY} from "Gui/gui.js";
	import Bar from './Bars_bar.svelte';
	import {constants} from "Data/constants";
	
	
	$: PC = $DISPLAY.PC;
	$: ext = $DISPLAY.ext;
	$: counter = $DISPLAY.counter;
	
	
	$: bars = (()=>{
		let bars = [];
		if(ext.bars) bars = [...bars, ...ext.bars];  //TODO USING EXT.BARS IS WRONG!!
		if(ext.dungeon?.bars) bars = [...bars, ...ext.dungeon?.bars];
	
		return bars;
	})();


	
	//POTIONS
	import {INVENTORY} from "Avatar/index";
	import {ATTRIBUTES} from "Virtual/attributes";
	import {EFFECTS} from "Virtual/effects";
	
	function count_potions(key){
		const id = POTION.id(key);
		return PC.gameInventory.filter( a => a.id === id ).length;
	}
	
	function use_potion(key, subject){ //TODO
		if( INVENTORY.count(key) > 0 ){
			INVENTORY.remove(key);
			
			//TODO TEMPFIX
			if(key === "xHP"){
				ATTRIBUTES.change("hp", constants.hp.elixir, subject);
			}else if(key === "xEng"){
				ATTRIBUTES.change("eng", constants.eng.elixir, subject);
			}else if(key === "xAnti"){
				EFFECTS.add("cure", subject);
			}
			
			DISPLAY.check();
		}
		//POTION.drink(item, subject);
		/*
		const id = POTION.id(key);
		const index = PC.gameInventory.findIndex( a => a.id === id);
		if(index === -1){
			return;
		}else{
			ATTRIBUTES.change(key, 10, subject); //TODO!!!
			PC.gameInventory.splice(index, 1);
		}
		*/
		desc_hp = desc_potion("xHP");
		desc_eng = desc_potion("xEng");
		desc_anti = desc_potion("xAnti");
	}
	
	function desc_potion(key){ //TODO
		const count = INVENTORY.count(key);
		return `${count} ${plural(count, "elixir")} in the inventory`; //TODO POTION NAME
	}
	
	$: desc_hp = desc_potion("xHP"); //using just "desc_potion(key)" without the middleman is not reactive; TODO, manual update is stupid but works
	$: desc_eng = desc_potion("xEng");
	$: desc_anti = desc_potion("xAnti");
	
	import {plural, s} from "Libraries/dh";
	
	
	//EXTRA - horrible garbage //TODO - also coculd be loop for multiple
	$: extra_hp = EFFECTS.has("poisoned", PC) ? {
		icon: "☠️",
		alt: `Poisoned (${EFFECTS.check("poisoned", PC).ticks})<br>${desc_anti}`,
		fce: ()=> use_potion("xAnti", PC),
	} : undefined;
	
	$: extra_hp_fol = EFFECTS.has("poisoned", ext.follower) ? {
		icon: "☠️",
		alt: `Poisoned (${EFFECTS.check("poisoned", ext.follower).ticks})<br>${desc_anti}`,
		fce: ()=> use_potion("xAnti", ext.follower),
	} : undefined;

</script>



<div id = "div_bars">


	{#if bars.includes("hp")}
		<Bar
			text = "Health"
			bind:value = {PC.dyno.hp}
			bind:max = {PC.att.hp}
			fce = {()=> use_potion("xHP", PC)}
			fce_alt = {desc_hp}
			color = 0
			extra = {extra_hp}
		/>
	{/if}
	
	{#if bars.includes("eng")}
		<Bar
			text = "Energy"
			bind:value = {PC.dyno.eng}
			bind:max = {PC.att.eng}
			fce = {()=> use_potion("xEng", PC)}
			fce_alt = {desc_eng}
			color = 100		
		/>
	{/if}
	
	{#if bars.includes("hp") && ext.follower}
		<Bar
			text = {`${s(ext.follower.name)} health`}
			bind:value = {ext.follower.dyno.hp}
			bind:max = {ext.follower.att.hp}
			fce = {()=> use_potion("xHP", ext.follower)}
			fce_alt = {desc_hp}
			color = 10
			extra = {extra_hp_fol}
		/>
	{/if}
	
	{#if bars.includes("eng") && ext.follower}
		<Bar
			text = {`${s(ext.follower.name)} energy`}
			bind:value = {ext.follower.dyno.eng}
			bind:max = {ext.follower.att.eng}
			fce = {()=> use_potion("xEng", ext.follower)}
			fce_alt = {desc_eng}
			color = 110		
		/>
	{/if}
	
	
	{#if bars.includes("oxygen") && ext.follower}
		<Bar
			text = "Oxygen"
			bind:value = {ext.dungeon.oxygen}
			bind:max = {ext.dungeon.oxygen_max}
			color = 200		
		/>
	{/if}
	
	
	<!--- dumb stuff used only during the fight task in first week -->
	{#if bars.includes("fight_stam")}
		<Bar
			text = "Stamina"
			bind:value = {counter.stam}
			bind:max = {counter.max_stam}
			color = 80		
		/>
	{/if}
	
	{#if bars.includes("fight_ayy_stam")}
		<Bar
			text = "AI stamina"
			bind:value = {counter.ayy_stam}
			bind:max = {counter.max_stam}
			color = 140		
		/>
	{/if}
	
</div>
	
	
	
<style>
#div_bars{
	min-width: 45ch; 
/*	max-width: 75ch; 75*/
/*	padding-top:30px;*/
/*	padding-top: clamp(8%;*/
/*	padding: 1rem;*/
	padding-top: 1rem;
	padding-bottom: 2rem;
	padding-left: clamp(2rem, 8%, 100px);
	height: clamp(1rem, auto, 100px);
	
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 1rem;
	align-content: start;
	/*width: 100px; */
/*	height: 2rem;*/
/*	max-width: 75ch; 75*/
/*	padding-top:30px;*/
/*	padding-top: clamp(8%;*/
/*	padding: 1rem;*/
/*
	padding-top: clamp(2rem, 8%, 100px);
	padding-left: clamp(1rem, 8%, 100px);
	*/
	/*background-color: var(--bgr);*/
/*	background-color:  yellow; */
}

</style>