<script>
	import {capitalise, pm} from "Libraries/dh.js";
	import {list} from "Virtual/level_up.js";
	
	export let arc;
	export let item;
	export let passive = false;
	export let key = item;
	export let value = "";
	
	/*
console.warn(value);
	if(value) value = `${pm(value)} `;
console.warn(value);
	*/
	$: actual_value = value ? `${pm(value)} ` : ``;
	
	import {perks} from "Data/virtual/perks.js";
	import {skills} from "Data/virtual/skills.js";
	import {attributes} from "Data/virtual/attributes.js";
	import {ATTRIBUTES} from "Virtual/attributes.js";
	
	const avalable_desc = {
		perks,
		skills,
		spells: skills,
		attributes,
	}
		
	let desc = avalable_desc[arc]?.[key]?.desc ?? avalable_desc[arc]?.[key]?.alt; //TODO attributes[].alt 
	desc = desc ? ` - ${desc}` : ``;

	let name = capitalise( avalable_desc[arc]?.[key]?.name ?? key );
	
	$: chosen = $list[arc].includes(item);
	$: css = (()=>{
		if(passive) return "passive";
		if(chosen) return "chosen";
		return "available";
	})();

	import {afterUpdate} from 'svelte';
	import {tooltip} from 'Gui/gui.js';
	let divy;
	afterUpdate(() => {
		let alt = ATTRIBUTES.skill_desc( avalable_desc[arc]?.[key] );
		if(alt) tooltip(divy, alt, passive);
	});


	function fce(){
		if(passive) return;
		if( chosen ){
			list.unlearn(arc, item);
		}else{
			if(!$list[`select_${arc}`]) return;
			list.learn(arc, item);
		}
		//console.error($list.skills);
	};
	
</script>


<div 
	class = {css}
	bind:this = {divy}
	on:click={fce}
>
<strong>{actual_value}{name}</strong>{desc}
</div>


<style>
.passive{
	cursor: default;
}

.chosen{
	border-color: red;
	border-style: solid;
	cursor: pointer;
}

.available{
	cursor: pointer;
}

</style>




