<script>
	import {capitalise} from "Libraries/dh.js";
	
	import Link from 'Gui/buttons/Link.svelte';
	import Item from './Level_up_item.svelte';
	
	import {success} from "System/sounds.js";
	success.play();
	
	import {list} from "Virtual/level_up.js";
	
	import {popup} from "Gui/gui.js";
	import {DISPLAY} from "Gui/gui.js"
	
	function fce(){ //warns player if there are unused points 
		let unused = 0;
		["skills", "perks", "spells", "attributes"].forEach( key => {
			if( $list[`select_${key}`] && typeof $list[`select_${key}`] === "number" ) unused += $list[`select_${key}`];
		});
		
		if(unused > 0){
			popup.confirm(`Do you want to continue even though you have ${unused} unused points? `, done)
		}else{
			done(true);
		}
	}
	
	function done(confirmed = true){
		if(!confirmed) return;

		PC.base.hp += $list.hp + $list.bonus_hp;
		PC.base.eng += $list.eng + $list.bonus_eng;
		
		PC.dyno.hp = PC.base.hp;
		PC.dyno.eng = PC.base.eng;
		
		$list.perks.forEach( key => PC.perks.push(key) );

		$list.skills.forEach( key => {
			PC.skills.push(key);
		});
		
		$list.spells.forEach( key => PC.skills.push(key) );
		$list.attributes.forEach( (item) => {
			const [key, value] = Object.entries(item)[0];;
			PC.base[key] += value 
		});
		DISPLAY.text("");

		$list.back();
	};

	
</script>

<h2>{window.PC.name} advanced to the level {window.ext.level}!</h2>

<h3>Health</h3>

You gained <strong>{$list.hp}</strong> health + <strong>{$list.bonus_hp}</strong> bonus health based on your strength.

<h3>Energy</h3>

You gained <strong>{$list.eng}</strong> energy + <strong>{$list.bonus_eng}</strong> bonus energy based on your intelligence.

{#each ["skills", "spells", "perks"] as arc}
	{#if $list[`select_${arc}`] !== undefined}
		<h3>{capitalise(arc)}</h3>

		{#if $list[`select_${arc}`] === "all"}
			{arc === "perk" ? `You gained: ` : `You learned: `}
			{#each $list[`available_${arc}`] as item}
				<Item {arc} {item} passive = true />
			{/each}
		{:else}
			Select <strong>{$list[`select_${arc}`]}</strong> {arc}:
			
			{#each $list[`available_${arc}`] as item}
				<Item {arc} {item}/>
			{/each}
		{/if}
	{/if}		
{/each}


{#if $list.select_attributes !== undefined}
	<h3>Attributes</h3>
	{#if $list.select_attributes === "all"}
		You gained:
		{#each $list.available_attributes as item}
			<Item {item} arc = "attributes" key = {Object.keys(item)[0]} value = {Object.values(item)[0]} passive = true />
		{/each}
	{:else}
		Select <strong>{$list.select_attributes}</strong> attributes:
		{#each $list.available_attributes as item}
			
			<Item {item} arc = "attributes" key = {Object.keys(item)[0]} value = {Object.values(item)[0]} />
		{/each}
	{/if}
{/if}

<br>

<Link 
	text = "Progress."
	{fce}
/>

<style>

</style>