<script>
import {DISPLAY} from "Gui/gui";
import {afterUpdate} from "svelte";
import {main} from "Loop/engine"
import Link from 'Gui/buttons/Link.svelte';

 
const options = $DISPLAY.minigame;
const game  = options.game;
let exiting = false;


//import Crystals from 'Minigames/Crystals.svelte';

import {bulls} from "Minigames/bulls";
import {seven} from "Minigames/seven";
import {rain} from "Minigames/rain";


function success(e){
	exiting = true;
	DISPLAY.text(""); //TODO
	if( Number.isInteger(options.victory) ){
		main(options.victory);
	}else if(typeof options.victory === "function"){
		options.victory(e);
	}
}

function failure(e){
	exiting = true;
	DISPLAY.text(""); //TODO
	if( options.defeat === undefined){
		success(e); //some minigames might have defined only success
	}else if( Number.isInteger(options.defeat) ){
		main(options.defeat);
	}else if(typeof options.defeat === "function"){
		options.defeat(e);
	}
}



afterUpdate(() => {
	if(exiting) return;
	try {
		switch(game){
			case "bulls": 
				bulls(success, failure, "div_minigames", options.numbers, options.attempts);
				break;
			
			case "seven": 
				seven(success, "div_minigames", options.cash)
				break;
				
			case "rain":
				rain(success, failure, "div_minigames", options.players, options.setting);
				break;
				
			default: //nothing will happen
		}
	}
	catch(err){
		console.log(err);
		//ideally links will be displayed, otherwise empty screen
	}
});


/*

{#if game === "asdf"}
	
{:else if game === "level_up"}

{:else}
	<div id = "div_minigames"/>
{/if}
*/

</script>


{#if game === "crystals"}
<!--
	<Crystals {success} {failure} />
-->
{:else}
	<div id = "div_minigames"/>
{/if}






{#if !options.no_links}

	{#if window.softbug}
		<Link text = "#Solve" fce = {() => success(undefined)} />
	{/if}

	<Link text = "Fail" fce = {() => failure(undefined)} />

{/if}

