<script>
	const size = SETTING.minimap_size; //px
	
	import {DISPLAY} from "Gui/gui.js";
	import {draw} from "Dungeon/draw_map.js";
	import parchment from 'Assets/parchment.png';
	
	import { fade, scale } from "svelte/transition";
	import {onMount, afterUpdate} from 'svelte';
	let map;

	afterUpdate(() => {
		if(!ext.dungeon) return;
		const ctx = map.getContext("2d");
		ctx.clearRect(0, 0, map.width, map.height);
		for(let x = -1; x <= 1; x++){
			for(let y = -1; y <= 1; y++){
				const center = {
					x: (0.5 + x + 1) * size,
					y: (0.5 + y + 1) * size,
				}
				
				draw(ctx, $DISPLAY.head.x + x, $DISPLAY.head.y + y, center, {size, player:false});
			}
		}
	});


</script>

<canvas 
	
	id = "minimap" 
	width = {3 * size}px
	height = {3 * size}px
	
	style = "
		background: url('{parchment}');
		cursor: pointer;
		width: {3 * size}px;
		height: {3 * size}px; 
	"
	on:click = {()=>DISPLAY.subtext("map")}
	bind:this = {map}
/>


