<script>
	import {DISPLAY} from "Gui/gui";
	import { fade, scale } from "svelte/transition";
	
	//fce
	export let fce = undefined;
	
	//image
	export let image;
	import path from 'Assets/rose.png';
	const size = SETTING.minimap_size; //px; desired size of the resulting component (defaultly "size" === "def_size" but "size" could be changed)
	const sprites = ["no","we","ea","so","ce","beware","win","fail","power","back"];
	//consult https://stackoverflow.com/questions/45595520/css-sprite-background-sizecover
	const sprites_all = (sprites.length - 1) * 100; 
	const sprites_one = 100 / (sprites.length - 2); //the whole row of sprites is 100%, we're finding how much one takes //no fucking clue why -2
	$: sprites_desired = sprites.findIndex( a => a === image ) * sprites_one;
	
	
	//ultra
	export let alt = "";
	import {afterUpdate} from 'svelte';
	import {tooltip} from 'Gui/gui.js';
	let divy;
	afterUpdate(() => {
		if(alt) tooltip(divy, alt, !fce);
	});
	
	//keyboard
	export let keys = [];
	import {KEYBOARD} from "System/keyboard.js";
	//TODO - possible key-binding
	function trigger(){
		if($DISPLAY.display.rose && fce) fce(); //disabled the function when is disabled the rose
	};
	$: keys.forEach( a => KEYBOARD.attach(trigger, a) );

</script>



<div
	
	on:click = {fce} 
	bind:this = {divy}
	style ="
		cursor: {fce ? "pointer" : "default"};
		width: {size}px; 
		height: {size}px; 
		visibility: {image ? "visible" : "hidden"};
		background: url('{path}');
		background-position: {sprites_desired}% 0;
		background-size: {sprites_all}% 100%;
		
	"
/>



<style>
</style>