<script>
import {DISPLAY, popup} from "Gui/gui.js";
import {ATTRIBUTES} from "Virtual/attributes.js";
import {onMount, afterUpdate, beforeUpdate} from 'svelte';


//DATA
const all = [`ne`,`no`,`nw`,`we`,`ce`,`ea`,`se`,`so`,`sw`];
const cardinals = [`no`,`we`,`ea`,`so`];
const data = {
	no: {
		x:  0,
		y: -1,
		name: `north`,
		keys: [`KeyW`, `ArrowUp`],
	},
	we: {
		x: -1,
		y:  0,
		name: `west`,
		keys: [`KeyA`, `ArrowLeft`],
	},
	ea: {
		x:  1,
		y:  0,
		name: `east`,
		keys: [`KeyD`, `ArrowRight`],
	},
	so: {
		x:  0,
		y:  1,
		name: `south`,
		keys: [`KeyS`, `ArrowDown`],
	},
};


import Tile from './Rose_tile.svelte';
import {advance, exit, objective, map} from "Dungeon/engine";
//import {map} from "Dungeon/map";
import {powers} from "Dungeon/powers";


function leave(victory){
	popup.confirm("Leave the dungeon? ", (yes)=> yes && exit(victory) );
}


let tiles = {}


//CONSTRUCTION
beforeUpdate(() => {
	
	if(!ext.dungeon) return;
	
	all.forEach( a => {
		tiles[a] = {};
	});

	let beware = false; //enemies ahead


	//cardinal questions
	cardinals.forEach( a => {
		
				
		const z = $DISPLAY.head.z;
		const x = $DISPLAY.head.x + data[a].x;
		const y = $DISPLAY.head.y + data[a].y;

		if(SETTING.noclip){ //forced
			tiles[a] = {
				image: a,
				alt: `Go ${data[a].name}`,
				fce: ()=> advance(data[a].x, data[a].y),
				keys: data[a].keys,
			}
			
			//check for enemies
			if(ATTRIBUTES.flag("beware", PC) || ATTRIBUTES.flag("beware", ext.follower) ){ 
				if(ext.dungeon.blueprint[z][x][y] === "e" || ext.dungeon.blueprint[z][x][y] === "b"){
					beware = true;
				}
			};
			
			
		}else if(ext.dungeon.grid[z][x]?.[y]){ //if contains hallway
			

			//check for enemies
			if(ATTRIBUTES.flag("beware", PC) || ATTRIBUTES.flag("beware", ext.follower) ){ 
				if(ext.dungeon.blueprint[z][x][y] === "e" || ext.dungeon.blueprint[z][x][y] === "b"){
					beware = true;
				}
			};
		
			//locked doors
			if(ext.dungeon.blueprint[$DISPLAY.head.z][$DISPLAY.head.x][$DISPLAY.head.y] === "|" || ext.dungeon.blueprint[$DISPLAY.head.z][$DISPLAY.head.x][$DISPLAY.head.y] === "%"){
				//allow to go back where you came from
				if(head.x + data[a].x !== head.previous_x || head.y + data[a].y !== head.previous_y){ 
					tiles[a] = {
						keys: data[a].keys,
					}
					return;
				}
			};
		
			tiles[a] = {
				image: a,
				alt: `Go ${data[a].name}`,
				fce: ()=> advance(data[a].x, data[a].y),
				keys: data[a].keys,
			}
			
		}else{ //this disables the keys (keyboard controls) (by assigning to keys nothing)
			tiles[a] = {
				keys: data[a].keys,
			}
		}
	})





	//TODOTODO - DUNGEON FINISHED IS CHECKED HERE - TODO - should be?
	const obj = objective();
	if(ext.dungeon.quest && obj?.done && !ext.dungeon.done){
		ext.dungeon.done = true;
	}
	
		
		
		
	//quest objective / quick leave
	if(!ext.dungeon.blocked){ //you can leave the dungeon
		if(typeof ext.dungeon.quest === "undefined"){
				tiles.sw = {
					image: `win`,
					alt: `Leave the dungeon<br>(the way outside is not blocked, you can automatically leave)`,
					fce: ()=> leave(true),
				}
		}else if(!ext.dungeon.done){
			let alt = `Give up <br>Objective: <strong>${obj.desc}</strong>`;
			if(obj.hint) alt += `<br>${obj.hint}`;
			if(obj.cheat) alt += `<br>${obj.cheat}`;
			alt += `<br><small>(the way outside is not blocked, you can automatically leave without accomplishing your objective)</small>`;
			tiles.sw = {
				image: `fail`,
				alt,
				fce: ()=> leave(false), 
			}
		}else{
			let alt = `
				Leave
				<br>Objective: ${obj.desc}
				<br><small>(you acomplished you objective, you can automatically leave because the way outside is not blocked)</small>
			`;
			tiles.sw = {
				image: `win`,
				alt,
				fce: ()=> leave(true),
			}
		}
	}else if(ext.dungeon.survive){ 
		tiles.sw = {
			image: `fail`, //TODO!!!!!
			alt: `Objective: <strong>${obj.desc}</strong>`,
		}
	}


	//beware enemies
	if(beware){
		tiles.se = {
			image: `beware`,
			alt: `Close enemy detected`,
		}
	}

	//map
	tiles.ce = {
		image: `ce`,
		alt: `Map`,
		fce: ()=> DISPLAY.subtext("map"),
		keys: [`m`, `KeyQ`], //TODO //TODO - KEYBOARD
	}

	//powers
	tiles.nw = {
		image: `nw`,
		alt: `Powers`,
		keys: [`KeyE`], //TODO
	}

});



</script>



<div id = "rose">
{#each all as a}
	<Tile {...tiles[a]}/>
{/each}

</div>


<style>
#rose{
	bottom: 0;
	right: 0;
	display: grid;
	grid-template-columns: repeat(3,1fr);
}
</style>