<script>
import {DISPLAY} from "Gui/gui";
import Morning from './morning/Morning.svelte';
import Level_up from './Level_up.svelte';
import Minigame from './Minigame.svelte';

$: subwindow = $DISPLAY.display.subwindow;
</script>

{#if subwindow === "morning"}
	<Morning/>
{:else if subwindow === "level_up"}
	<Level_up/>
{:else if subwindow === "minigame"}
	<Minigame/>
{/if}