<script>
	import Minimap from './Minimap.svelte';
	import Rose from './Rose.svelte';
	import Bars from './Bars.svelte';
	import Subwindow from './Subwindow.svelte';
	
	import {onMount, afterUpdate, beforeUpdate, onDestroy} from 'svelte';
	import {DISPLAY, scroll_top} from "Gui/gui.js";
	import Link from 'Gui/buttons/Link.svelte';
	
	let first_update = true;
	let scene = head.scene;
	let chapter = head.chapter;
	
	import {KEYBOARD} from "System/keyboard.js";
	import {run_initial_on_destroy} from "Loop/engine.js";
	
	
	
	afterUpdate(() => {
		scroll_top();
		
		//runs only once when the scene changes; 
		if(window.head?.scene !== scene || window.head?.chapter !== chapter){
			scene = window.head?.scene;
			chapter = window.head?.chapter;
			first_update = true;
		}
	
		if(first_update){
			$DISPLAY.content.done(); //add names and choices
			first_update = false;
		};
	});
	
	onDestroy(() => {
		if(run_initial_on_destroy){
			//TODO - WACKY
			//active_choices are unclicked (it is not remembered anywhere whether they are clicked, so otherwise when you rerender the whole page again, the changed values would stay changed but the choices would be unclicked)
			Array.from(document.getElementsByClassName("choice_active")).forEach( div => {
				const clickEvent = new Event('click');
				div.dispatchEvent(clickEvent);	
			})
		}
	});
	
	
	$: ({paras, links, nolinks} = $DISPLAY.content);

	
	let renderLinks = true;
	$: { forceRerender( links, nolinks ) }
	function forceRerender(){
		//this dumb shit is here because the links has to be re-rendered from scrach every time, not just updated
		//(because of their order & their liking with keyboard events)
		KEYBOARD.reset();
		renderLinks = false;
		setTimeout(() => {
			renderLinks = true;
		}, 0);
	}
	

</script>


{#if $DISPLAY.display.bars}
	<Bars/>
	
{/if}

<div id = "div_top_separator"/>

{#if $DISPLAY.display.text}
	<div id = "div_text" style = "{$DISPLAY.display.rose ? "min-height: 5em" : ""}">
		{#each paras as para}
			{#if para.color}
				<div class = {para.style} style = "color: {para.color}"> {@html para.text} </div>
			{:else}
				<div class = {para.style}> {@html para.text} </div>
			{/if}
		{/each}
	</div>
{/if}


<Subwindow/>

<div id = "div_bot_separator"/>

{#if $DISPLAY.display.actions}
	<div id = "div_actions">
		<div id = "div_links">
			{#if renderLinks === true &&  $DISPLAY.display.links}
				{#each links as link}
					<Link {...link}/>
				{/each}
			{:else if renderLinks === true}
				{#each nolinks as link}
					<Link {...link}/>
				{/each}
			{/if}
		</div>
		{#if $DISPLAY.display.rose}
			<div id = "div_rose_map">
				<Minimap/>
				<Rose/>
			</div>
		{/if}
	</div>
{/if}
	
	
	
<style>
#div_rose_map{
	display: flex;
	flex-direction: row;
	height: fit-content;
}

#div_top_separator{
	height: 8vh; /* same as div_side */ 
		
}

#div_bot_separator{
	height: 4vh;
}

#div_text{
	
}

#div_actions{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}	
	
</style>