<script>
	const quality = 4;
	import {DISPLAY} from "Gui/gui.js";
	import Link from 'Gui/buttons/Link.svelte';
	import Link_small from 'Gui/buttons/Link_small.svelte';
	import {garment} from "Data/items/blueprints/index";
	import {prices, modifiers} from "Data/items/prices";
	import {titles, designs} from "Data/items/designer";
	import {capitalise} from "Libraries/dh";
	import {removeEverything, cloneCharacter, cloneFigurine, updateDraw, wear, create, recreate} from "Avatar/index";
	import {INVENTORY} from "Avatar/game/inventory";
	import {stringifyHSLA} from "Libraries/color/index";

	$: selected =  $DISPLAY.avatar.subwindow;
	
	
	let subject = $DISPLAY.avatar.subject;
	let figurine = cloneFigurine(subject);
	let piece; //PIECE OF CLOTHES
	let limits;
	let extra;
	
	function equip(item){
		selected = item;
		limits = garment[selected]?.dim();
		piece = create(selected);
		
		extra = {};
		Object.keys( designs[selected] ).forEach( dim => extra[dim] = piece[dim] );
		
		wear(piece, figurine);
	}
	
	function unequip(){
		selected = "";
		removeEverything(figurine);
		updateDraw(subject);
	}
	
	function buy(){
		extra.quality = quality;
		//console.log(extra);
		const toby = create(piece.blueprint, piece.seed, extra);
	//	console.warn(toby);
		INVENTORY.addGarment( toby );
//console.log("------------------");
		INVENTORY.addGarment( recreate(toby) );
		wear(toby, PC); //????
		ext.irl_money -= price(selected); //???
		//back();
		unequip();
	}
	
	function back(){
		updateDraw(subject);
		if($DISPLAY.avatar.back) $DISPLAY.avatar.back();
		DISPLAY.text();
	}
	
	
	function price(item){ //circumvent normal price because it is blurred (randomly between mix and max) and the price displayed in the menu and when buying the actual garment would be slightly different
		return `${Math.round(prices[item] * modifiers.quality[quality])}`;
	}
	
 
	//{#each window.ext.designs as item}
</script>

<div id = "des_spacing"/>

{#if !selected}
	{#each Object.keys(designs) as item}
		<Link_small text = {`${capitalise(garment[item]?.name)} (${price(item)}€)`} fce = {()=> equip(item)}/>
	{/each}
	<Link_small text = "Done." fce = {back}/>
{:else}
	<div class = "ranges">
		<label for = hue>
			Hue
		</label>
		<input 
			id = hue
			type = range
			bind:value = {piece.hue} 
			on:input = {()=> {
				extra.hue = piece.hue;
				piece.fill = stringifyHSLA(piece);
				extra.fill = stringifyHSLA(piece);
				updateDraw(figurine);
			}} 
			max = 360
			min = 0
			step = 1
		>
		<label for = satur>
			Saturation
		</label>
		<input 
			id = satur
			type = range
			bind:value = {piece.satur} 
			on:input = {()=> {
				extra.satur = piece.satur;
				piece.fill = stringifyHSLA(piece);
				extra.fill = stringifyHSLA(piece);
				updateDraw(figurine);
			}} 
			max = 100
			min = 0
			step = 1
		>
		<label for = light>
			Lightness
		</label>
		<input 
			id = light
			type = range
			bind:value = {piece.light} 
			on:input = {()=> {
				extra.light = piece.light;
				piece.fill = stringifyHSLA(piece);
				extra.fill = stringifyHSLA(piece);
				updateDraw(figurine);
			}} 
			max = 100
			min = 0
			step = 1
		>
			
	{#each designs[selected] as dim}
		<label for = {dim}>
			{capitalise( (titles[selected] && titles[selected][dim]) || titles[dim] || dim )}: <!-- should be ?? but || works too -->
		</label>

		{#if typeof limits[dim] === "boolean"}
			<input 
				id = {dim}
				type = checkbox
				bind:checked={piece[dim]}
				on:change = {()=> {
					extra[dim] = piece[dim];
					updateDraw(figurine);
				}} 
			>
	<!--		
		{:else if typeof limits[dim] === "highlight"}
			<label for = hi_hue>
				Highlight Hue
			</label>
			<input 
				id = hi_hue
				type = range
				bind:value = {piece.hi_hue} 
				on:input = {()=> {
					extra.hi_hue = piece.hi_hue;
					updateDraw(figurine);
				}} 
				max = 360
				min = 0
				step = 1
			>
			
		
			<label for = hi_satur>
				Highlight Saturation
			</label>
			<input 
				id = hi_satur
				type = range
				bind:value = {piece.hi_satur} 
				on:input = {()=> {
					extra.hi_satur = piece.hi_satur;
					updateDraw(figurine);
				}} 
				max = 100
				min = 0
				step = 1
			>
			<label for = hi_light>
				Highlight Lightness
			</label>
			<input 
				id = hi_light
				type = range
				bind:value = {piece.hi_light} 
				on:input = {()=> {
					extra.hi_light = piece.hi_light;
					updateDraw(figurine);
				}} 
				max = 100
				min = 0
				step = 1
			>
	-->
			
			
		{:else}
			<input 
				id = {dim}
				type = range
				bind:value = {piece[dim]} 
				on:input = {()=>{
					extra[dim] = piece[dim];
						piece.fill = stringifyHSLA(piece); //TODO - FOR ALPHA TODO TEMPFIX
						extra.fill = stringifyHSLA(piece); //TODO - FOR ALPHA TODO TEMPFIX
					updateDraw(figurine);
				}} 
				max = {limits[dim][1]}
				min = {limits[dim][0]}
				step = 0.01
			>
		{/if}
	{/each}
	</div>

	<Link_small text = {`Random`} fce = {()=> equip(selected)}/>
	<Link_small text = {`Cancel`} fce = {unequip}/>
	
	{#if ext.irl_money >= price(selected)}
		<Link_small text = {`Buy for ${price(selected)}€`} fce = {buy} />
	{:else}
		<Link_small text = {`Buy for ${price(selected)}€`} fce = {()=>{}} inlineStyle = {`text-decoration: line-through`} />
	{/if}
{/if}



<style>
#des_spacing{
	display: block;
	height: 12vh;
}

.ranges{
	display: grid;
	grid-template-columns: 15ch 20ch;
	grid-column-gap: 1ch;
	grid-row-gap: 0.5ch;
	padding: 2ch;
	font-weight: bold;
}
</style>