<script>
	export let value;
	export let name;
	export let trigger = ()=>{};
	import {var_name} from "Libraries/dh";
</script>

<input 
	id = {var_name(name)} 
	type = color 
	bind:value={value} 
	on:change = {trigger} 
>
 
<label for = {var_name(name)}>
	{name}
</label>
