<script>
	import {popup} from "Gui/gui.js";
	import * as DA from "Libraries/da";
	import Link_small from 'Gui/buttons/Link_small.svelte';
	import Collapsar from "Gui/buttons/Collapsar.svelte";
	import {capitalise, var_name} from "Libraries/dh";
	import {draw, update, updateDraw} from "Avatar/index";
	
	
	
	export let subject;
	export let head;
	
	
	
	
	const parts = head ? [
		"head",
		"hair",
		"ears",

		"brow",
		"eyelash",
		"eyelid",
		"eyes",
		"iris",
		"pupil",

		"nose",
		"lips",
	] : [
		"neck",

		"arm",
		"hand",

		"torso",
		"chest",

		"butt",
		"genitals",

		"leg",
		"feet",
		
		"other",
	];

	const dimensions = {}; 
	[    ...(   new Set(  [...Object.keys(DA.modLimits), ...Object.keys(DA.baseDimDesc.human)]  )    )     ].forEach( (key, index) => {
		const a = DA.baseDimDesc.human[key] ?? DA.modLimits[key];
		dimensions[key] = {
			name: key, //capitalise( var_name(key) ), //TODO!!!
			part: a.linkedPart ?? "other",
			min: a.low,
			max: a.high,
			desc: a.desc, 
		}
	});
	
	
	function calc(key){
		return (subject.Mods[key] || 0) + (subject.basedim[key] || 0);
	}
	
	function submit(value, key){
		subject.Mods[key] = (+value) - (subject.basedim[key] || 0);
		//e.target.value = sandbox.avatar.getDim(key);
		//return (subject.Mods[key] || 0) + (subject.basedim[key] || 0);
		draw(subject);
	}
	

</script>


{#each parts as part}


	<Collapsar> 
	
		<Link_small 
			text = {capitalise(part)}
			slot = "title"
		/>
						
		<div slot = "content">
			{#each Object.keys(dimensions).filter( key => dimensions[key].part === part) as key}
				<label class = "dim">
					
					<div class = "dim_name">
						{dimensions[key].name}
					</div>
			
					
					<div class = "dim_input">
						<input 
							type = range 
							value = {calc(key)}
							on:change = {e => {
								submit(e.target.value, key); 
								e.target.value = calc(key);
							}}
							min = {dimensions[key].min} 
							max = {dimensions[key].max}
							step = {0.1}
							id = {key}
							name = {dimensions[key].name}
						/>
					</div>
					
				</label>
			{/each}
		</div>
	</Collapsar>

{/each}



<style>
.dim{
	display: flex;
	flex-direction: row;
	padding-left: 2ch;
}

.dim_name{
	font-weight: bold;
	width: 20ch;
}

.dim_input{
	width: 30ch;
}
</style>