<script>
	export let value;
	export let max = 100;
	export let min = 0;
	export let name;
	export let step = 1;
	export let trigger = ()=>{};
	
	import {var_name} from "Libraries/dh";
	
	//TODO - just bind:value should be working
</script>

 
<label for = {var_name(name)}>
	{name}: 	
</label>

<input 
	id = {var_name(name)}
	type = range
	bind:value={value} 
	on:input = {trigger} 
	{step}
	{max}
	{min}
>



 