<script>
	export let item;
		
	import {capitalise} from "Libraries/dh";
	import {subject, figurine, inventory, equipAll, unequipAll, checkOutfits} from "./inventory.js"; //TODO
	import {draw, drawZoomed, drawUnzoomed} from "Avatar/canvas/draw";
	import {unpackOutfit, wearOutfit} from "Avatar/wardrobe/main";
	import {popup} from "Gui/gui"; 
	
	

		
		
	//HOOVER
	import {afterUpdate} from 'svelte';
	import {tooltip} from 'Gui/gui.js';
	let divy;
	afterUpdate(() => {
		//tooltip(divy, desc(item) );
	});
	
	//MOUSE ENTER 
	function mouse_enter(){
		wearOutfit(item.id, figurine, [], true)
	}
	
	//MOUSE LEAVE
	function mouse_leave(){
		draw(subject);
	}
	
	
	//REMOVE
	function remove(){
		popup.confirm(`Delete outfit "${item.name}"?`, (confirmed) => {
			if(!confirmed) return;
			ext.outfits.splice( ext.outfits.findIndex( a => a.id === item.id ) , 1 );
			checkOutfits(true);
		})
	}
	
	
	
	//CLICK 
	function click(){
		unequipAll();
		const garments = unpackOutfit(item.id).filter( a => $inventory.findIndex( b => 
			a?.seed === b?.seed && a?.id === b?.id
		) !== -1 );
		equipAll(garments);
	};
	
	
</script>


<div>
	<button 
		on:click = {click} 
		on:mouseenter = {mouse_enter}
		on:mouseleave = {mouse_leave}
		bind:this = {divy}
	>
		{capitalise(item.name)}
	</button>

	<button 
		class = "remove"
		on:click = {remove} 
	>
		[X]
	</button>
</div>



<style>
div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
button{
	padding: 0.5ch 1ch 0.5ch 1ch;
	font-size: 90%;
}
.remove{
	width: 5ch;
}
</style>










