<!-- INVENTORY PANEL NOTE - EXTRA INFORMATIONS -->

<!-- 
	title: text value
-->
	
<script>
	export let text = "";
	export let title;
	export let value = 0;
	export let red = false;
	
//	export let green = false;
//	export let prefix = "";
	export let suffix = "";
	
	import {capitalise} from "Libraries/dh";
	import {vat, subject, figurine, trade, game, sell, buy, equip, unequip, desc, tax} from "./inventory.js"; //TODO
	import {draw, drawZoomed, drawUnzoomed} from "Avatar/canvas/draw";
	
	
	//HOOVER
	export let alt;
	import {afterUpdate} from 'svelte';
	import {tooltip} from 'Gui/gui.js';
	let divy;
	afterUpdate(() => {
		if(alt) tooltip(divy, alt, true);
	});
	
	
	$: style = (()=>{
		if(red && value < 0) return "bad";
		return "fine";
	})();
	
</script>


	
<div 
	class = "note"
	bind:this = {divy}
>
	{#if title}	
		<div class = "fine">
			{title}:
		</div>
	{/if}
	{#if text}	
		&nbsp;{text}
	{/if}
	{#if value !== undefined}	
		<div class = {style}>
			&nbsp;{value}
		</div>
	{/if}
	{#if suffix}	
		&nbsp;{suffix}
	{/if}
</div>


<style>
.note{
	display: flex;
	flex-direction: row;
	white-space: nowrap;
	padding: 0.5ch 1ch 0.5ch 1ch;
}

.bad{
	font-weight: bold;
	color: var(--bad); 	
}

.fine{
	font-weight: bold;
	color: var(--text); 	
}
</style>










