<script>
	export let item;
	export let owned;
	
	import {capitalise} from "Libraries/dh";
	import {vat, desc, subject, figurine, trade, game, sell, buy, equip, unequip, tax} from "./inventory.js"; //TODO
	import {draw, drawZoomed, drawUnzoomed} from "Avatar/canvas/draw";
	
	
	//HOOVER
	import {afterUpdate} from 'svelte';
	import {tooltip} from 'Gui/gui.js';
	let divy;
	afterUpdate(() => {
		tooltip(divy, desc(item) );
	});
	
	//MOUSE ENTER 
	function mouse_enter(){
		if(item.slot === "weapon" || item.slot === "potion" || item.slot === "consumable") return;
		figurine.removeAllClothing();					
		figurine.wearClothing( item );
		if(item.zoom){
			drawZoomed(item.zoom, figurine);
		}else{
			drawUnzoomed(figurine);
		}
	}
	
	//MOUSE LEAVE
	function mouse_leave(){
		if(item.slot === "weapon" || item.slot === "potion" || item.slot === "consumable") return;
		//drawUnzoomed(subject);
		draw(subject);
	}
	
	//RIGHT CLICK - (buy) & equip
	function right_click(){
		if(trade && !owned){
			buy(item);
			equip(item); 
		}else{
			equip(item);
		}
	};
	
	//LEFT CLICK - equip X buy
	function click(){
		if(trade){
			if(owned){
				sell(item);
			}else{
				buy(item);
			}
		}else{
			equip(item);
		}
	};
	
	
</script>



<button 
	on:click = {click} 
	on:contextmenu|preventDefault = {right_click}
	on:mouseenter = {mouse_enter}
	on:mouseleave = {mouse_leave}
	bind:this = {divy}
>
	<div>
		{#if item.count > 0}
			{item.count} 
		{/if}
		{capitalise(item.name)}
		
		{#if trade}
			<span>
				- {game ? `${vat(item)}☼` : `${vat(item).toFixed(2)}€`}
			</span>
		{/if}
	</div>
	
</button>


<style>
button{
	padding: 0.5ch 1ch 0.5ch 1ch;
	font-size: 90%;
}
</style>










