<!-- INVENTORY CONTAINER -->

<script>
	import {DISPLAY} from "Gui/gui";
	import List from './Inventory_list.svelte';
	import Grid from './Inventory_grid.svelte';
	import Panel from './Inventory_panel.svelte';
	import Manager from './Inventory_outfit_manager.svelte';
	import Link_small from 'Gui/buttons/Link_small.svelte';
	import {inventory, merchant, trade, status, useGrid} from "./inventory";
	
/*	
	function getOffset(el) {
  const rect = el.getBoundingClientRect();
  return {
    left: rect.left + window.scrollX,
    top: rect.top + window.scrollY
  };
}
const left = document.getElementById("div_player").getBoundingClientRect().rights;
window.matchMedia(query)
*/
	const left = (()=>{
		if (window.matchMedia("(max-width: 1023px)").matches) {
			return "-3ch";
		} else {
			return document.getElementById("div_right").getBoundingClientRect().left;
		}
	})();

</script>


{#if $status.outfitManager}
	<Manager/>
	<Link_small text = "Back" fce = {()=> status.switchOutfitManager(false)}/>
{:else}
	<div id = "war_container" style = "left: {left}">
		<div id = "war_left" class = "warco">
			<Panel/>
		</div>
		
		{#if useGrid}
			<div id = "war_grid">
				<Grid/>
			</div>
		{:else}
			<div id = "war_right" class = "warco">
				<List list = {$inventory} owned = {true}/>
			</div>

			{#if trade}
				<div id = "war_trade" class = "warco">
					<List list = {$merchant} owned = {false}/>
				</div>
			{/if}
		{/if}
	</div>
{/if}


<style>

#war_container{
	position: absolute;
	display: flex;
	flex-direction: row;
	background-color: var(--bgr);
	
	/*background-color: white;*/
	height: 95vh;
	/*
	max-height: 100%; calc(100% - (5% + 30px) );
	*/
	
	
	/* for firefox TODO
	scrollbar-width: auto;
	scrollbar-color: var(--highlight) var(--bgr2);  
	*/
}


@media only screen and (max-width: 1023px) {
		#war_container{
			position: relative;
		}
}

.warco{
	min-width: min(20ch, 250px); /*TODO*/
	padding: 3ch;
	
	display: flex;
	flex-direction: column;
	
	background-color: var(--bgr2); 
	
	margin-left: 10px;
	margin-right: 10px;

	/*overflow: none;*/
	overflow: auto;
}


#war_grid{
	/*padding: 20px;*/
	padding: 3ch;
	background-color: var(--bgr2); 
	overflow: auto;
	
	/*
	min-width: min(20ch, 250px);  
	padding: 20px;
	
	display: flex;
	flex-direction: column;
	
	background-color: var(--bgr2); 
	
	margin-left: 10px;
	margin-right: 10px;

	
	overflow: auto;
	*/
}

</style>