<!-- COMBO BOX WIHT SORTING OPTIONS & ASSOCIATED ALGORITHMS -->

<script>
	import {
		inventory, 
		merchant, 
		game,
		trade,
	} from "./inventory";
	
	

	//displayed options
	let selected;
	const choices = [
		{
			text: `↓ Abc`, //displayed text
			algor: "abc", //sorting algorithm from the object above 
			prop: "name", //will use this property of item in inventory
			reversed: false, //sort in reversed order (abc => cba)
			game: false, //display only in virtual game (armors & weapons)
		},
		{
			text: `↑ Abc`,
			algor: "abc",
			prop: "name",
			reversed: true,
		},
		{
			text: `Cba ↓`,
			algor: "cba",
			prop: "name",
		},
		{
			text: `Cba ↑`,
			algor: "cba",
			prop: "name",
			reversed: true,
		},
		{
			game: true,
			text: `↓ Price`,
			prop: "price",
			algor: "number",
			soex: ["price", "number"],
		},
		{
			game: true,
			text: `↑ Price`,
			prop: "price",
			algor: "number",
			reversed: true,
			
			soex: ["price", "number", true],
		},
		{
			game: true,
			text: `↓ Damage`,
			prop: "damage",
			algor: "number",
		},
		{
			game: true,
			text: `↑ Damage`,
			prop: "damage",
			algor: "number",
			reversed: true,
		},
		{
			game: true,
			text: `↓ Armor`,
			prop: "att",
			algor: "armor",
		},
		{
			game: true,
			text: `↑ Armor`,
			prop: "att",
			algor: "armor",
			reversed: true,
		},
	];
		
	function execute(){
		inventory.sort(selected.prop, selected.algor, selected.reversed);
		if(trade) merchant.sort(selected.prop, selected.algor, selected.reversed);
	};
</script>


<select 
	bind:value = {selected} 
	on:change = {execute}
	style = "width: 15ch" 
>
	{#each choices as choice}
		{#if !choices.game || (choices.game && game)}
			<option value = {choice}>
				{choice.text}
			</option>
		{/if}
	{/each}
</select>