<!-- LIST OF ITEMS IN CHARACTERS OF MERCHANT INVENTORIES -->

<script>
	export let list;
	export let owned;
	
	import Item from './Inventory_list_item.svelte';
	import Outfit from './Inventory_list_outfit.svelte';
	import {category, wordFilter, game, outfits, trade} from "./inventory";
	import {allCategories,} from "Avatar/wardrobe/all";
</script>


<!-- LIST OF CATEGORIES --->
{#if !$category}
	<button on:click = {()=> category.set("all")}>ALL</button>

	{#if game && list.some( a => a.att !== undefined && a.att.armor !== undefined )} 
		<button on:click = {()=> category.set("armor")}>ARMOR</button> 
	{/if}
	
	{#each allCategories as key}
		{#if list.some( a => a.category === key)}
			<button on:click = {()=> category.set(key)}>{key}</button> 
		{/if}
	{/each}
	
	{#if !game && !trade && outfits.length}
		<button on:click = {()=> category.set("outfits")}>OUTFITS</button> 
	{/if}
	

{:else}
	<button on:click = {()=> category.set("")}>...</button> 
	
	<!-- ALL --->
	{#if $category === "all"}
		{#each list as item, index}
			<Item {item} {owned}/> 
		{/each}
	
	<!-- ARMOR --->	
	{:else if $category === "armor"}
		{#each list as item, index}
			{#if item.att !== undefined && item.att.armor !== undefined}
				<Item {item} {owned}/> 
			{/if}
		{/each}
		
		
	<!-- OUTFITS --->	
	{:else if $category === "outfits"}
		{#each outfits as item}
			<Outfit {item}/> 
		{/each}
				
		
	<!-- SEARCH --->
	{:else if $category === "wordFilter"}
		{#each list as item, index}
			{#if item.name.toLowerCase().search($wordFilter.toLowerCase()) !== -1}
				<Item {item} {owned}/> 
			{/if}
		{/each}
	
	<!-- ITEMS IN CATEGORY --->	
	{:else}
		{#each list as item, index}
			{#if item.category === $category}
				<Item {item} {owned}/> 
			{/if}
		{/each}
	{/if}
{/if}




