<script>
	export let item;

	import {capitalise} from "Libraries/dh";
	import {status, vat, desc, subject, figurine, trade, game, sell, buy, equip, unequip, tax} from "./inventory.js"; //TODO
	import {draw, drawZoomed, drawUnzoomed} from "Avatar/canvas/draw";
	import {itemQualityStar} from "Avatar/wardrobe/all";
	
	$: owned = !$status.viewMerchant;
	
	//HOOVER
	import {afterUpdate} from 'svelte';
	import {tooltip} from 'Gui/gui.js';
	let divy;
	afterUpdate(() => {
		tooltip(divy, desc(item) );
	});
	
	//MOUSE ENTER 
	function mouse_enter(){
		if(item.slot === "weapon" || item.slot === "potion" || item.slot === "consumable") return;
		figurine.removeAllClothing();					
		figurine.wearClothing( item );
		if(item.zoom){
			drawZoomed(item.zoom, figurine);
		}else{
			drawUnzoomed(figurine);
		}
	}
	
	//MOUSE LEAVE
	function mouse_leave(){
		if(item.slot === "weapon" || item.slot === "potion" || item.slot === "consumable") return;
		//drawUnzoomed(subject);
		draw(subject);
	}
	
	//RIGHT CLICK - (buy) & equip
	function right_click(){
		if(trade && !owned){
			buy(item);
			equip(item); 
		}else{
			equip(item);
		}
	};
	
	//LEFT CLICK - equip X buy
	function click(){
		//console.warn(item);
		if(trade){
			if(owned){
				sell(item);
			}else{
				buy(item);
			}
		}else{
			equip(item);
		}
	};
	
	
</script>



<tr 
	on:click = {click} 
	on:contextmenu|preventDefault = {right_click}
	on:mouseenter = {mouse_enter}
	on:mouseleave = {mouse_leave}
	bind:this = {divy}
>
	<td class = "g_money">
<!--
		{game ? `${vat(item).toFixed(0)}☼` : `${vat(item).toFixed(2)}€`}
-->	
	{game ? `${vat(item).toFixed(0)}` : `${vat(item).toFixed(2)}`}
	</td>
	
	<td class = "g_name">
		{#if item.count > 1}
			{item.count} 
		{/if}
		
		
		{#if owned !== item.owned && trade}  <!-- TODO - BEWARE - garments equiped via outfit manager are not recognised as owned!!!! -->
			<strong>
				{capitalise(item.name)}
			</strong>
		{:else}
			{capitalise(item.name)}
		{/if}


		
	</td>
	
	<td class = "g_prop">
		{item.slot} 
	</td>
	
	{#if game}
			<td class = "g_prop">
				{item.damage ? item.damage : ""} 
			</td>
			<td class = "g_prop">
				{item.att && item.att.armor ? item.att.armor : ""} 
			</td>
	{:else}
			<td class = "g_prop">
				{itemQualityStar[item.quality]} 
			</td>
	{/if}
	
	
	
<!--
		{#if trade}
			<span>
				- {game ? `${vat(item)}☼` : `${vat(item).toFixed(2)}€`}
			</span>
		{/if}
-->	
	
</tr>


<style>
.g_money{
	text-align: right;
}
.g_name{
	cursor: pointer;
}

.g_prop{
	text-align: center;
}


td{
	padding: 0.75ch 1ch 0.75ch 1ch;
	font-size: 90%;
}
</style>










