<!-- SEARCH FIELD IN PANEL -->

<script>
	import {
		wordFilter, 
		category, 
	} from "./inventory";

	let search = "";
	$: (()=>{
		if(search){
			wordFilter.set(search);
			category.set("wordFilter");
		}else{
			//category.set("all");
			wordFilter.set("");
		}
	})();
</script>


<input 
	type = "text" 
	on:keydown|stopPropagation
	placeholder = "🔎 Search"
	bind:value = {search}
	style = "width: 15ch"
>