<script>
	import {subject, figurine, inventory, equipAll, unequipAll, checkOutfits, outfits} from "./inventory.js"; //TODO
	import {draw, drawZoomed, drawUnzoomed} from "Avatar/canvas/draw";
	import {unpackOutfit, wearOutfit, outfitIndex} from "Avatar/wardrobe/main";
	import {popup} from "Gui/gui"; 
	import {violates, allSlots, sluttiness, updateDraw} from "Avatar/index";
 
	//HOOVER
	import {afterUpdate} from 'svelte';
	import {tooltip} from 'Gui/gui.js';
	afterUpdate(() => {
		list.forEach( (a,i) => {
			tooltip( document.getElementById(`broken_${i}`), a.broken_report, true );
			tooltip( document.getElementById(`rules_${i}`), a.rules_report, true );
			tooltip( document.getElementById(`slut_${i}`), a.slut_report, true );
		});		
	});
	
	
	//MOUSE ENTER 
	function mouse_enter(id){
		wearOutfit(id, figurine, [], true);
	}
	
	//MOUSE LEAVE
	function mouse_leave(){
		draw(subject);
	}
	
	//CLICK
	function click(id){
		unequipAll();
		const garments = unpackOutfit(id).filter( a => $inventory.findIndex( b => 
			a?.seed === b?.seed && a?.id === b?.id
		) !== -1 );
		equipAll(garments);
	};
	
	//REMOVE
	function remove(item){
		popup.confirm(`Delete outfit "${item.name}"?`, (confirmed) => {
			if(!confirmed) return;
			ext.outfits.splice( ext.outfits.findIndex( a => a.id === item.id ) , 1 );
			checkOutfits(false); //TODO - this is beyond stupid
			list = list_create();
		})
	}
	
	
	const available_clothes = (()=>{ //all pieces of clothes available 
		const ava = [];
		$inventory.forEach( item => {
			const {id, seed} = item;
			ava.push({id, seed}); //clothes in the inventory
		}); 
		allSlots.forEach( key => {
			if(subject[key]){
				const {id, seed} = subject[key];
				ava.push({id, seed}) //clothes currently on the person
			}
		});
		return ava;
	})();
	
	
	
	function list_create(){
		const original = [];
		allSlots.forEach( key => {
			if(subject[key]) original.push( subject[key] );
		})
		unequipAll();
		list = outfits.map( item => {
			const garments = unpackOutfit(item.id);
			
			//BROKEN X MISSING
			let missing = ``;
			let clothes = ``;
			garments.forEach( a => {
				if(  available_clothes.findIndex( b => a?.seed === b?.seed && a?.id === b?.id ) !== -1  ){
					clothes += `${a.name}; `
				}else{
					missing += `<li>${a.name}`;
					clothes += `<strike>${a.name}</strike>; ` //TODO - SPAN
				}
			});
			
			//RULES
			wearOutfit(item.id, subject, [], true, false);
			const rules = violates.report(subject);
			
			//SLUT
			const slut = sluttiness(subject);
			
			return {
				name: item.name,
				id: item.id,
				outfit: item,
				index: outfitIndex(item.id),
				
				clothes,
				slut: slut.value,
				slut_report: slut.desc,
				rules: rules ? false : true,
				rules_report: rules ? `Breaks rules<br>${rules}` : ``,
				broken: missing ? true : false,
				broken_report: missing ? `Not available in the inventory: <br><ul>${missing}</ul>` : ``,
			}
		});
		
		allSlots.forEach( key => { //removes last outfit equiped to check stats 
				if(subject[key])  subject[key] = "";
		});
		
		equipAll(original); //re-equips originaly worn clothes
		
		return list;
	}
	
	
	$: list = list_create();
	
</script>


<div class = "om_container">
	<div>Name</div>
	<div></div>
	<div>Rules</div>
	<div>Slut<br>Level</div>
	<div>Randomly<br>Offered</div>
	<div></div>
	{#each list as item, index}
		<div 
			class = "om_title"
			on:click = {()=>click(item.id)} 
			on:mouseenter = {()=>mouse_enter(item.id)}
			on:mouseleave = {()=>mouse_leave(item.id)}
		>
			{item.name}
		</div>
		
		<div 
			id = "broken_{index}"
			on:mouseenter = {()=>mouse_enter(item.id)}
			on:mouseleave = {()=>mouse_leave(item.id)}
		>
			{item.broken ? "⚠️" : ""}
		</div>
		
		<div 
			id = "rules_{index}"
			on:mouseenter = {()=>mouse_enter(item.id)}
			on:mouseleave = {()=>mouse_leave(item.id)}
		>
			{item.rules ? "Y" : "N"}
		</div>
		
		<div 
			id = "slut_{index}"
			on:mouseenter = {()=>mouse_enter(item.id)}
			on:mouseleave = {()=>mouse_leave(item.id)}
		>
			{item.slut}
		</div>
		
		<input bind:checked={item.outfit.random} type=checkbox>
		
		<div 
			class = "om_click"
			on:click = {()=> remove(item)} 
		>
			Delete
		</div>
	{/each}
</div>





<style>
.om_click{
	cursor: pointer;
}
.om_title{
	font-weight: bold;
	cursor: pointer;
}
.om_container{
	display: grid;
	grid-template-columns: 15ch 2ch 8ch 8ch 6ch 7ch;
	grid-column-gap: 1ch;
	grid-row-gap: 0.5ch;
	padding: 2ch;
	
	text-align: center;
}



</style>