<!-- COMBO BOX WIHT SORTING OPTIONS & ASSOCIATED ALGORITHMS -->

<script>
	import Note from './Inventory_panel_note.svelte';

	import {
		status,
		subject,
		follower,
		trade,
		receipt,
	} from "./inventory";
	
	const suffix = head.reality === 3 ? "☼" : "€"
	const round = head.reality === 3 ? 0 : 2
	
	$: wealth_change_alt = (()=>{
		const value = $status.originalWornWealth.toFixed(round);
		const name =  subject.name && `Your follower`;
		return `${name} was wearing equipement worth of ${value} ☼ and will not accept an unfair exchange. `;
	})();
	
	$: receipt_alt = (()=>{
		let text = Math.abs($status.moneyChange.toFixed(round)); //forces reactivity 
		text = receipt.desc;
		return text;
	})();
	
</script>


{#if trade}
	<Note  
		title = "Money"
		text = "{$status.originalMoney.toFixed(round)} {$status.moneyChange>0 ? "+" : "-"} {Math.abs($status.moneyChange.toFixed(round))} = "
		value = {$status.money.toFixed(round)}
		suffix = {suffix}
		red = {true}
		alt = {receipt_alt}
	/>
{:else}
	<Note  
		title = "Money"
		value = {$status.money.toFixed(round)}
		suffix = {suffix}
		red = {true}
	/>		
{/if}


{#if follower}
	<Note  
		title = "Wealth change"
		alt = {wealth_change_alt}
		value = {$status.wornWealthChange.toFixed(round)}
		suffix = "&nbsp;☼"
		red = {true}
	/>
{/if}