<script>
	import Item from './Inventory_grid_item.svelte';
	import {inventory, merchant, trade, status, game, category, wordFilter} from "./inventory";
	import {allCategories,} from "Avatar/wardrobe/all";
	import Button from 'Gui/buttons/Link_small.svelte';
	
	$: items = (()=>{

		//who
		const list = $status.viewMerchant ? $merchant : $inventory;
		const items = []; 
		
		//menu
		if($category === ""){
			items.push({
				name: "EVERYTHING",
				category: "all",
				count: list.length,
			});
			
			if(  game && list.some( a => a.att !== undefined && a.att.armor !== undefined )  ){
				const count = list.filter( a => a.att !== undefined && a.att.armor !== undefined ).length;
				items.push({
					name: "ARMOR",
					count,
					category: "armor",
				})
			}
			
			allCategories.forEach( key => {
				const count = list.filter( a => a.category === key ).length;
				if(count) items.push({
					name: key,
					count,
					category: key,
				});
			})
			
			return items;
		}
		
		//filters
		if($category === "all"){
			return list;
		}else if($category === "armor"){
			return list.filter( a => a.att && a.att.armor );
		}else if($category === "wordFilter"){
			if(!$wordFilter) return list; //all
			return list.filter( a => a.name.toLowerCase().search($wordFilter.toLowerCase()) !== -1 );
		}else{
			return list.filter( a => a.category === $category );
		}
			
		//filters
		return items;
	})();
	
	
	
	const last_sort = {
		prop: "name",
		algor: "abc",
		reverse: false,
	}
	
	//SORT
	function sort_items(prop, algor){	//TODO - really stupid wrapper 
		let reverse = false;
		if(prop == last_sort.prop) reverse = !last_sort.reverse; //clicked again - sort in reverse direction
		if(Array.isArray(prop) && prop[1] == last_sort.prop[1]) reverse = !last_sort.reverse; //clicked again - sort in reverse direction //TODO - REALLY STUPID FOR PROP TO BE ARRAY
		const list = $status.viewMerchant ? merchant : inventory;
		list.sort(prop, algor, reverse);
		last_sort.prop = prop;
		last_sort.algor = algor;
		last_sort.reverse = reverse;
	}
	
	function switchView(){
		const list = !$status.viewMerchant ? merchant : inventory;
		list.sort(last_sort.prop, last_sort.algor, last_sort.reverse); //sorts the other lists too using the last setting
		status.switchViewMerchant();
	}
	
	
	
/*
	export let list;
	export let owned;
	
	import Item from './Inventory_list_item.svelte';
	import Outfit from './Inventory_list_outfit.svelte';
	import {category, wordFilter, game, outfits, trade} from "./inventory";
	
	import {allCategories,} from "Avatar/wardrobe/all";


*/	
	console.error(items);
</script>


<div id = "war_grid_top">
{#if trade}
	<Button text = {$status.viewMerchant ? "BUYING" : "SELLING"} fce = {switchView}/>
{/if}
<Button text = {$category ? "CATEGORIES" : ""} fce = {()=> category.set("")}/>
</div>

{#if !$category}
	<div id = "war_grid_menu">
		{#each items as item}
			<Button text = {`${item.name} (${item.count})`} fce = {()=> category.set(item.category)}/>
			<!--
			<span on:click = {()=> category.set(item.category)}>
				{item.name} ({item.count})
			</span> 
			-->
		{/each}	
	</div>
{:else}
	<Button text = "" fce = {()=>{}}/>
	<table id = "war_grid_table">
		<th on:click = {()=> sort_items("price", "number")}>
			Price {game ? `☼` : `€`}
		</th>
		<th>
			<span on:click = {()=> sort_items("name", "abc")}>
			Name
			</span>
			<span style = "font-weight: normal; cursor: default">
				/
			</span>
			<span on:click = {()=> sort_items("name", "cba")}>
			Type
			</span>
		</th>
		<th on:click = {()=> sort_items("slot", "abc")}>
			Slot
		</th>
		{#if game}
			<th on:click = {()=> sort_items("damage", "number")}>
				🗡
			</th>
			<th on:click = {()=> sort_items(["att","armor"], "number")}>
				🛡️
			</th>		
		{:else}
			<th on:click = {()=> sort_items("quality", "abc")}>
				Quality
			</th>
		{/if}
		
		{#each items as item}	
			<Item {item}/> 
		{/each}	
	</table>
	
{/if}



<style>
th{
	cursor: pointer;
}

#war_grid_table{
	border-spacing:  0;
}

#war_grid_top{
	display: flex;
	flex-direction: row;
	/*
	display: grid;
	grid-template-columns: 20ch 40ch; 
	*/
}

#war_grid_menu{
	display: flex;
	flex-direction: column;
	
	
}
</style>