<script>
	export let item;
	
	import {capitalise} from "Libraries/dh";
	import {subject, figurine, trade, game, sell, buy, equip, unequip, desc} from "./inventory.js"; //TODO
	import {draw, drawZoomed, drawUnzoomed} from "Avatar/canvas/draw";
	import {switchHighlight} from "Avatar/wardrobe/update"
	
	//HOOVER
	import {afterUpdate} from 'svelte';
	import {tooltip} from 'Gui/gui.js';
	let divy;
	afterUpdate(() => {
		tooltip(divy, desc(item) );
	});
	
	//MOUSE ENTER 
	function mouse_enter(){
		if(item.slot === "weapon" || item.slot === "potion" || item.slot === "consumable") return;
		switchHighlight(subject, item.slot, true); //TODO - NOT SURE ABOUT THIS
		draw(subject);
		//updateDraw(subject);
	}
	
	//MOUSE LEAVE
	function mouse_leave(){
		if(item.slot === "weapon" || item.slot === "potion" || item.slot === "consumable") return;
		switchHighlight(subject, item.slot, false); //TODO - NOT SURE ABOUT THIS
		draw(subject);
		//updateDraw(subject);
	}
	
	//RIGHT CLICK - unequip (& sell)
	function right_click(){
		switchHighlight(subject, item.slot, false); //TODO - NOT SURE ABOUT THIS
		if(trade){
			unequip(item); 
			sell(item);
		}else{
			unequip(item);
		}
	};
	
	//LEFT CLICK - unequip
	function click(){
		switchHighlight(subject, item.slot, false); //TODO - NOT SURE ABOUT THIS
		unequip(item);
	};
	
	
</script>



<button 
	on:click = {click} 
	on:contextmenu|preventDefault = {right_click}
	on:mouseenter = {mouse_enter}
	on:mouseleave = {mouse_leave}
	bind:this = {divy}
>
	{capitalise(item.name)}
</button>



<style>
button{
	padding: 0.5ch 1ch 0.5ch 1ch;
	font-size: 90%;
}
</style>











