<!-- INVENTORY LEFT PANEL WITH CHOICES AND DISPLAYED STUFF -->

<script>
	import Item from './Inventory_panel_item.svelte';
	import Note from './Inventory_panel_note.svelte';
	import Search from './Inventory_panel_search.svelte';
	import Sort from './Inventory_panel_sort.svelte';
	import Money from './Inventory_panel_money.svelte';
	import Button from 'Gui/buttons/Link_small.svelte';
	
	import {pm, capitalise} from "Libraries/dh.js";
	import {attributes} from 'Data/virtual/attributes';
	import {ATTRIBUTES} from 'Virtual/attributes';
	import {constants} from 'Data/constants';
	import {allSlots} from "Avatar/wardrobe/all";
	import {sluttiness} from "Avatar/wardrobe/appearance";
	
	import {
		approve, 
		cancel, 
		
		saveOutfit,
		status, 
		inventory, 
		merchant, 
		
		subject, 
		game, 
		trade, 
		follower,
		wordFilter, 
		category, 
		unequipAll,
		random,
		randomRules,
		randomCustom,
		
		useGrid,
	} from "./inventory";


	$: slut = (()=>{
		const force_reactivity = $status.originalWornWealth;
		return {
			...sluttiness(subject),
		}
	})();
	
	$: attrib = (()=>{
		const force_reactivity = $status.originalWornWealth;
		const temp = [];
		
		//TODO
		temp.push({
			title: "Damage",
			alt: subject.weapon ? ATTRIBUTES.item_desc(subject.weapon) : "Unarmed",
			value: subject.weapon ? subject.weapon.damage : constants.combat.unarmed_damage,
		});
				
		["armor","burden"].forEach( key => {
			temp.push({
				title: capitalise(attributes[key].name),
				//alt: attributes[key].desc,
				alt: ATTRIBUTES.desc(key, subject), //desc(what, subject = PC, comment = "", additional)
				value: subject.att[key],
			})
		});
		return temp;
	})();
	

	
</script>

<!-- TOP PANEL -->
	<div id = "war_top">
		<Button text = "✔️ Confirm" fce = {approve}/>
		<Button text = "Cancel" fce = {cancel}/>
		{#if !useGrid}
			<Search/>
			<Sort/>
		{/if}
	</div>

<hr>
		
<Money/>

{#if !game}
	<Note  
		title = "Sluttiness"
		alt = {slut.desc}
		value = {slut.value}
	/>
{/if}

{#if game}
	{#each attrib as item}
		<Note  
			title = {item.title}
			alt = {item.alt}
			value = {item.value}
		/>
	{/each}
{/if}


{#if useGrid}
	<hr>
	
	<Search/>
	
{/if}


<hr>

<!-- WORN ITEMS --->
{#each $status.worn as item}
	<Item {item}/> 
{/each}

<hr>


<Button text = "Strip" fce = {unequipAll}/>
<Button text = "Random" fce = {random}/>
<!-- 
	<Button text = "Random rule-complying" fce = {randomRules}/>
	<Button text = "Random custom" fce = {randomCustom}/>
--->
<Button text = "Save Outfit" fce = {saveOutfit}/>
<Button text = "Outfit Manager" fce = {()=> status.switchOutfitManager(true)}/>




{#if window.hardbug}
	<Button text = "##More money" fce = {()=>status.money(100)}/> 
{/if}

<style>
#war_top{
	display: grid;
	grid-template-columns: repeat(2, auto); 
}

/*
#war_mid{
	display: flex;
	flex-direction: column;
}

.row{ 	
	display: flex;
	flex-direction: row;
}
*/

</style>