<script>
	import {deleteMakeup, loadMakeup, updateDraw, makeupIndex} from "Avatar/index";
	import {popup} from "Gui/gui.js";
	
	export let subject;
	let original = {};
	
	function restore_original(){
		subject.apex.irl_lips = original.lips;
		subject.apex.irl_nails = original.nails;
		subject.Mods.eyelashLength = original.eyelash;
		subject.apex.irl_mascara_top = original.top;
		subject.apex.irl_mascara_bot = original.bot;
		updateDraw(subject);
		
	}
	
	function change_original(){
		original = {
			lips: subject.apex.irl_lips,
			nails: subject.apex.irl_nails,
			eyelash: subject.Mods.eyelashLength,
			top: subject.apex.irl_mascara_top,
			bot: subject.apex.irl_mascara_bot,
		}
	}
	change_original();
	
	//MOUSE ENTER 
	function mouse_enter(id){
		loadMakeup(id, subject); 
	}
	
	//MOUSE LEAVE
	function mouse_leave(){
		restore_original();
	}
	
	//CLICK
	function click(id){
		loadMakeup(id, subject);
		change_original();
	};
	
	//REMOVE
	function remove(id){
		popup.confirm(`Delete ${ext.makeups[makeupIndex(id)].name}`, (yes)=>{
			if(yes) deleteMakeup(id);
			makeups = window.ext.makeups;
		});
	}
	
	$: makeups = window.ext.makeups;
</script>


<div class = "mup_container">
	<div>Name</div>
	<div>Lips</div>
	<div>Nails</div>
	<div>Mascara<br>Top</div>
	<div>Mascara<br>Bottom</div>
	<div>Heaviness</div>
	<div>Randomly<br>Offered</div>
	<div></div>
	{#each makeups as item}
		<div 
				class = "mup_title"
				on:click = {()=> click(item.id)} 
				on:mouseenter = {()=> mouse_enter(item.id)}
				on:mouseleave = {mouse_leave}
		>
				{item.name}
		</div>
		
		
		<input 
			type = color 
			class = "mup_color"
			bind:value={item.items[0]} 
		>
		
		<input 
			type = color 
			class = "mup_color"
			bind:value={item.items[1]} 
		>
		
		<input 
			type = color 
			class = "mup_color"
			bind:value={item.items[3]} 
		>
		
		<input 
			type = color 
			class = "mup_color"
			bind:value={item.items[4]} 
		>
		
		
		<input 
			type = range
			class = "mup_range"
			bind:value={item.items[2]} 
			max = {16}
			min = {-3}
			step = {0.25}
		>
		
		
		<div class = "mup_cell">
			<input bind:checked={item.random} type=checkbox>
		</div>
		
		<div 
				class = "mup_click"
				on:click = {()=> remove(item.id)} 
		>
				Delete
		</div>
			
	{/each}
</div>

<style>
.mup_click{
	cursor: pointer;
}
.mup_color{
	width: 8ch;
}
.mup_range{
	width: 8ch;
}
.mup_title{
	font-weight: bold;
	cursor: pointer;
}
.mup_container{
	display: grid;
	grid-template-columns: 15ch 7ch 7ch 8ch 8ch 8ch 8ch 7ch;
	grid-column-gap: 1ch;
	grid-row-gap: 0.5ch;
	padding: 1ch;
	
	text-align: center;
}



</style>