<script>
	import Link_small from 'Gui/buttons/Link_small.svelte';
	
	export let name = "";
	export let alt = "";
</script>

	<Link_small text = "Head" fce = {()=>{
		window = "head"
	}}/>

<style>

</style>