<script>
import { slide } from 'svelte/transition'
let display = false; 
</script>

<div>
	<div 
		id = "title"
		on:click = {()=> display = !display}
	>
		<slot name = "title"/> 
		{#if display}
			↟
		{:else}
			↡
		{/if}
	</div>

	
	{#if display}
		<div id = "content" transition:slide>
			<slot name = "content"/>
		</div>
	{/if}

</div>

<style>
#title{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.5ch;
	
	cursor: pointer;
}

#title:hover {
	color: var(--high); 
}

#content{
	padding: 0.5ch;
}
</style>

