<script>

export let text = "empty";
export let fce = ()=>{};
export let style = "buttlink";
export let inlineStyle = "";


//attaches on hover tooltip
export let alt = "";
import {afterUpdate} from 'svelte';
import {tooltip} from 'Gui/gui.js';
let divy;
afterUpdate(() => {
	if(alt) tooltip(divy, alt, !fce);
});

//attackes keyboard button
import {KEYBOARD} from "System/keyboard.js";
/*
	KEYBOARD.g(fce)
	- returns number
	- when user presses the key with the number the "fce" is triggered
*/
	
</script>


<button 
	bind:this = {divy}
	class = {style}
	style = {inlineStyle}
	on:click={fce} 
>
	{KEYBOARD.g(fce)}{@html text}
</button>
