<script>
import {KEYBOARD} from "System/keyboard.js";

export let text = "empty";
export let fce = ()=>{};
export let style = "menu";
export let inlineStyle = "";
</script>


<button 
	class = {style} 
	style = {inlineStyle} 
	on:click={fce}
>
	{KEYBOARD.g(fce)}{@html text}
</button>
			
			


<style>
</style>